$dark: $component;

$beige-light: #D0D1CD;
$beige-lighter: #ffffff;

// Update Bulma's global variables
$primary: $details;
$family-sans-serif: "Montserrat", sans-serif;

// Menu
$menu-label-color: $beige-lighter;
$menu-item-hover-background-color: $component;
$menu-item-hover-color: $details;
$menu-list-border-left: 2px solid $details;
// $grey-light: $beige-light;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $material;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$column-gap: 0;

$table-striped-row-even-background-color: $dark-grey;
$table-striped-row-even-hover-background-color: transparent;
$table-row-hover-background-color: transparent;
$tabs-toggle-link-border-style: none solid;
$tabs-toggle-link-active-background-color: $details;
$tabs-toggle-link-active-border-color: $details;
$tabs-toggle-link-radius: 0px;


// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";