html {
  overflow-y: hidden;
  overflow-x: hidden;
}
.margin-20 {
  margin: 20px;
}
.margin-l-20 {
  margin-left: 20px;
}
.left-float {
  float: left;
}
.flex-display {
  display: flex;
}
.small-padding {
  padding: 10px;
}
.is-main-content {
  margin-top: 40px;
  .section {
    padding: 3rem 2rem;
    .container.is-fluid {
      margin: 0;
    }
    
  }
}
.column-shield {
  float:left;
}
@media only screen and (max-width: 600px) {
  .is-main-content {
    .section {
      padding: 1rem 0.25rem;
    }
    .min-width-300 {
      min-width: 200px;
    }
  }
  .column-shield {
    float: none;
  }
  .mobile-padding {
    padding: 0px 15px;
  }
  .mobile-no-margin {
    margin: 0;
  }
  .mobile-block {
    display: block;
  }
  .mobile-hidden {
    display: none;
  }
  .mobile-no-padding {
    padding: 0px;
  }
} 
@media only screen and (min-width: 768px) {
  .column-shield {
 
  }
}


// Navbar
.navbar {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}
.sl-logo {
  width: 200px;
}

.sl-user-name {
  margin-right: 10px;
}

.sl-user-img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  .sl-user-img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border: 2px solid $details;
  }
}

// Side menu
.is-sidebar-menu {
  background: $component;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.sl-menu-label {
  margin-bottom: 3px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
}

.menu {
  .router-link-exact-active {
    color: $details
  }
  .router-link-active {
    color: $details
  }
}

// Side menu full height over page
.columns {
  &.is-fullheight {
    min-height: calc(100vh - ( #{$navbar-height} - .75rem ) );
    height: 100vh;
    //height: calc(100vh - ( #{$navbar-height} - .75rem ) );
    display: flex;
    flex-direction: row;
    //justify-content: stretch;
    .column {
      overflow-y: auto;
    }
  }
}

// Components
.sl-box {
  background: $component;
  margin: 25px;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.sl-col-head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  margin-bottom: 15px;
}

.sl-content-row {
  flex-direction: row;
}

.sl-content-col {
  flex-direction: column;
}

.sl-player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sl-player-description {
  flex-grow: 1;
}

// Shield
.sl-player-shield {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-left: 26px;
  padding-right: 26px;
  height: 370px;
  width: 250px;
  background-image: url(https://smartgoalstraining.com/skillgames-api/online-img/shield-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  .sl-shield-top {
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    .sl-shield-total {
      height: 130px;
      position: absolute;
      right: 135px;
      z-index: 10;
      span {
        font-weight: 700;
        font-size: 2em;
        color: $details;
      }
      .average-abilities {
        height: 45px;
        width: 45px;
        text-align: center;
        font-size: 1.9em;
        color:white;
        background-image: url(https://smartgoalstraining.com/skillgames-api/online-img/background-circle-number-player.png);
        background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      }
    }
    .sl-shield-player-img {
      height: 165px;
      width: 100%;
      padding-right: 15px;
      padding-left: 40px;
      padding-top: 15px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        object-fit: unset;
        // -webkit-mask-image: url(#../img/shield-mask.png);
        // mask-image: url(#../img/shield-mask.png);
        -webkit-mask-image: url(https://smartgoalstraining.com/skillgames-api/online-img/shield-mask.png);
        mask-image: url(https://smartgoalstraining.com/skillgames-api/online-img/shield-mask.png)
    
      }
    }
  }
  .sl-shield-middle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    font-size: 12px;
    background: #444444;
    span {
      text-transform: uppercase;
      font-weight: 600;
      font-style: italic;
      letter-spacing: 1px;
    }
  }
  .sl-shield-bottom {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .sl-bottom-divider {
      height: 70px;
      width: 2px;
      background: #444444;
      margin-top: 5px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .skill {
      label {
        font-weight: 500;
      }
      span {
        color: $details;
        font-weight: 600;
      }
    }
  }
}

// Player info on team page
.sl-info-left, .sl-info-right {
  padding: 10px;
  div {
    padding: 5px;
    label {
      font-weight: 600;
      font-size: 0.9em;
      color: $sec-text;
    }
    span {
      font-size: 1em;
      color: $details;
    }
  }
}

.sl-team-player-name {
  font-weight: 700;
  font-size: 1.1em;
}

.sl-team-player-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sl-col-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  .sl-col-content-info-small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .sl-col-content-team-name {
    color: $sec-text;
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .sl-col-content-player-name {
    font-weight: 600;
    font-size: 1.2em;
  }
  .sl-col-content-player-pos {
    color: $sec-text;
  }
}

.sl-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//Sidemenu section
.menusection {
  padding: 2rem 1rem;
  margin-top: 40px;
}

//Custom transparent background table
.custom-table {
  background-color: transparent;
  width: 98%;

}
.custom-table td {
  border: 0px;
  color: $details;
  padding-left: 0;
}
.custom-table th {
  border: 0px;
  padding-left: 0;
  color: $text;
  font-weight: normal;
  //padding: 0.2em 0.65em;
}


.hover-row {
  tbody {
    tr:hover {
      border: 1px solid #444444;
      
      font-weight:500; 
      tr td {
        color: $details;
      }
      tr th {
        color: $details;
      }
    }
  }
}

.left-border {
  border-left: 2px solid $details;
  th { 
    padding-left: 8px;
  }
}

//Image
.orange-border {
  border: 2px solid #f6921e;
}
.centered-picture {
  margin-left: auto;
  margin-right: auto;
}
.image img {
  height: 100%;
}
//Change picture 
.profile-btn {
  background: #f6921e;
  color:white;
  display: block;
  margin: 11px 5px;
}

//Half width
.half-width {
  width: 48%;
}
.full-width {
  width: 100%;
}

.display-block {
  display: block;
}
.display-inline {
  display: inline-block;
}

//Button is-info rewrite
.button.is-info {
  background-color: $details;
}

.custom-table thead th {
  color:$details;
  font-weight: bold;
}
.custom-table tbody td {
  color:white;
}

//Card 
.card-image {
  margin-right: 10px;
  margin-bottom: 10px;
  //margin: 10px;
  figure {
    background: #444444;
  }
}
.card-footer {
  background: $details;
  color: white;
  height: 48px;
  text-align: center;
  h4 {
    font-size: 12px;
  }
}
.hover-card-image {
  &:hover 
  {
    border: 1px solid $details;
  }
  
}

//Orange text
.orange-text {
  color: $details;

}

//Bold 
.bold {
  font-weight: bold;
}

.view-btn {
  margin:10px;
}

a {
  color:white;
}
a:hover {
  color: $text;
}

.active {
  fill: white;
}

.orange-border {
  border: 2px solid #f6921e;
}

.low-opacity {
  opacity: 0.5;
}

//Skill game picture
.skill-game-img {
  margin:10px 20px;
}

.sg-column {
  margin: 20px 0px;
  padding: 10px;
  //background: #58595b;
}
.delete-btn {
  z-index:1;
   position:absolute; 
   width:20px; 
   height:20px;
    top:10px; 
    right:20px;
}
.update-btn {
  z-index:2;
   position:absolute; 
   width:20px; 
   height:20px;
    top:10px; 
    left:20px;
}

//Modals
.modal-background {
  background:$text;
  opacity: 0.4;
}

.modal-content {
  //height:auto;
  // width:70%;
  //background:$text;
  font-weight: bold;
  //background: linear-gradient(to bottom right,#F4EAC1,$details);
  background: #F7F7F7;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.bigger-modal {
  //height:auto;
}
.modal-body {
  position: relative;
  padding:15px;
}
.field {
  border-color: #E8E8E8;

  //opacity: 0.5;
}

.modal-close::after, .modal-close::before {
  background-color: #444444;
}

.buttons-confirm {
  padding: 20px 0px;
  float: right;
}

.teams-card {
  margin: 10px 5px;
  border-radius: 5px; 
  color: $text;
  background: #444444;
}

.team-select {
  min-width: 110px;
}
.test {
  height: 100%;
  width: 100%;
  -webkit-mask: url(/img/static/list1.svg) no-repeat;
  -webkit-mask-position: center;
  background: lightgreen;
}

.orange {
  fill: $details;
}
.orangebtn {
  background-color: $details;
  color: #ffffff;
  border: 2px solid $details;
  &:hover {
    background-color: #f0890e;
    color: #ffffff;
  border: 2px solid $details;
  }
}


// canvas {
//   width: 100%;
//   height:100%;
// }

.echarts {
  max-height: 300px;
  max-width: 300px;
  margin: auto;
}

.trybg {
  background-image: url("./assets/img/static/shield-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 300px;
  min-width: 205px;
  float: left;
}

.sl-shield-bottom {
  //margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .sl-bottom-divider {
    height: 70px;
    width: 2px;
    background: #444444;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .skill {
    label {
      font-weight: 500;
    }
    span {
      color: $details;
      font-weight: 600;
      margin-right: 5px;
    }
  }
}

.custom-p {
  // margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.89em;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 0 5px $details;
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  p {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1em;
    color:white;
  }

}


.title-p {
  margin-bottom: 3px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
  font-size:26px;
}
.titletwo-p {
  margin-bottom: 3px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
  font-size:20px;
}

.hero.is-primary {
  background-color: #353535; ;
}



.biggerchart {
  height: 350px;
  width: 400px;

}
.right-align {
  text-align: right;
}
.oops {
  text-align: center;
   
  h1 {
    font-size: 15em;
    font-weight: 100;
   }
}

.floatr {
  float: right;
}

#message {
  display: none;
  color: red;
}

.skillgame-hover {
  &:hover {
    border: 1px solid $details;
    cursor: pointer;
    .custom-p {
      color: $details;
    }
  }
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  div {
    color: $details;
    font-weight: 500;
  }
}

.c:hover img {
  opacity: 0.3;
}

.c:hover .middle {
  opacity: 1;
}

.is-hoverable {
  tbody tr {
    cursor: pointer;
  }
  tbody tr:hover {
    td {
      color:$details;
      font-weight: 600;
    }
  }
}

.spl:hover {
  background-color: #353535;
}

.loadingscreen {
  position: absolute;
    padding:0;
    margin:0;
z-index: 999;
    width: 100%;
    height: 100%;
    top:50%; 
    left: 50%;
    background: $material;
    img {
      height:100px;
      width:100px;
      
     
    }
    
}

.datetime-picker {
  width: auto ;
  table  {
    thead {
    tr {
      
      th {
        background-color: #f0890e;
      }
    }
  }
    tbody{ 
      tr { 
        td {
          .date-active {
        color: #f0890e;
      }
    }
    }
    }
    
  }
  
}

.shield-hover {
  .sl-player-shield:hover {
    cursor: pointer;
    .sl-shield-middle {
      color: $details;
      font-weight: bold;
    }
  }
}

.shield-box-hover {
  &:hover {
    border: 0.5px solid $details;
    cursor: pointer;
  .sl-player-shield {
    cursor: pointer;
    .sl-shield-middle {
      color: $details;
      font-weight: bold;
    }
  }
  }
}

.small-field {
  width:auto;

}
.skillgameBox {
  width:100%;
  display: flex;
}
.skillgameBoxpic {
  margin-left: 20px;
}



#app {
  ::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background: $details;
  }

  ::-webkit-scrollbar-track {
    background: $component;
  }

  ::-webkit-scrollbar-thumb {
    background: $details;
  }
}

#changingdisplay {
  display: flex;
  @media (min-width: 200px) and (max-width: 1025px) {
    display: block;
  }

}

.absolute {
  position: absolute;
  
  padding: 9px 25px;
  margin: -25px;

}

.circle-tabs {
  border-radius: 0px 0 0 0px;
  border-radius: 50px;
  border-width: 0px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(53, 53, 53, .1);
  display: table;
  transition: opacity .3s ease;

}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  border: 2px solid $details;
  width: auto;
  max-width: 650px;
  //overflow-y: scroll;
  min-width: 300px;
  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  margin: 0px auto;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  p {
    font-family: "Montserrat", sans-serif;
    margin: 5px 0;
  }
}

.modal-header h3 {
  margin-top: 0;
  color: $details;
}
.modal-header {
  height: 20px;
}
.modal-body {
  color: #353535;
  //margin: 20px 0;
}
.modal-footer {
  padding-bottom: 10px;
  text-align: right;
  .is-danger {
    background: #353535;
    &:hover {
      background: #616161;
    }
  }
  .is-warning {
    color:white;
    background: $details;
    &:hover {
      background: white;
      color: $details;
      border: 1px solid $details;
    }

  }
}

.modal-button {
  margin: 0 10px;
}
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

form {
  p {
    color:black;
  }
}

.manageBox {
  display: flex;

}

.min-width-300 {
  min-width: 300px;
}

.player-tabs {
  min-width: 180px;
  max-width: 180px;
  border-left: 1px solid white; 
  border-right: 1px solid white; 
  margin: 5px 10px;
}

.vdp-datepicker {
  color: #353535;
  input {
    display: none;
  }
}
.vdp-datepicker__calendar .cell.highlighted {
  background: #f6921e  !important;
  color: white;
}

.hover-test-box {
  border: 2px solid #353535;
  padding:10px; 
  margin-bottom:20px;
  &:hover {
    border: 2px solid #f6921e;
    cursor: pointer;
  }
}
.vdp-datepicker__calendar .cell.selected {
  background: rgba(209, 209, 209, 0.7) !important;
  color: white;
}
.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}

.multiselect__tag {
  background: #f6921e !important;
}
.multiselect__tag-icon {
  background: #f6921e !important;
  color: black !important;
}
.mselect {
  .multiselect__tags {
    background: #616161 !important;
    color: white;
  }
  .multiselect__single {
  background: #616161 !important;
  color: white;
  .multiselect__content-wrapper {
    background: #616161 !important;
    color: white;
  }
  .multiselect__input {
    background: #616161 !important;
    color: white;
  }
  .multiselect {
    color: white !important;
  }
  .multiselect__option {
    background: #616161 !important;
    color: white;
    padding: 10px;
    min-height: 20px;
  }
  }
}
.multiselect__tags {
  min-height: 0px !important;
}

.multiselect__option--highlight {
  background: #f6921e !important;
}
.multiselect__option--selected {
  background: #f6921e !important;
}
.vdp-datepicker__calendar {
  background: #616161 !important;
  color: white;
  .next:after {
    border-left: 10px solid white !important;
  }
  .prev:after {
    border-right: 10px solid white !important;
  }

  .cell {
    &:hover {
      border: 1px solid #f6921e !important;
    }
  }
}
.unify {
  display: flex;
  justify-content: space-between;
}
.select select {
  border: 2px solid #E8E8E8;
}

@media (min-width: 200px) and (max-width: 767px) {
  .skillgameBox {
    display: block;
    margin: 0;
  }
  .half-width {
    width: 100%;
  }
  .skillgameBoxpic {
    margin: 0;
  }
  .card-footer {
    height:40px;
    h4 {
      font-size: 10px;
    }
   }
   .unify {
    display: block;
  }
}
@media only screen and (min-width: 350px) {
  .scoreboard-small-column {
    max-width: 30px;
  }
  .scoreboard-text {font-size: 12px;}
}
@media only screen and (min-width: 668px) {
  .scoreboard-text {font-size: 20px;}
  .scoreboard-small-column {
    max-width: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .manageBox {
    display: block;
  }
  .list-box-wrapper {
    display: block !important;
  }
  .actions {
    margin-top:10px;
    div:nth-child(even) {
      display: none;
    }
  }
  .scoreboard-text {font-size: 14px;}
}
@media only screen and (min-width: 1200px) {
  .scoreboard-text {font-size: 25px;}
}
  @media only screen and (min-width: 1400px) {
    .scoreboard-text {font-size: 30px;}
  }
  @media only screen and (min-width: 1600px) {
    .scoreboard-text {font-size: 40px;}
  }
  @media only screen and (min-width: 1900px) {
    .scoreboard-text {font-size: 50px;}
  }


  .list-box-wrapper {
  .bulk-action {
    .select-all {
      display: none;
    }
    .deselect-all {
      display: none;
    }
  }

  .actions {
    .btn-action {
      background: #f6921e;
      border-color: #f0890e;
    }
  }
  .list-box {
    color: #353535;
  }
  .list-item:not(a) {
    color: #444444;
}
  font-size: 12px;
  color: #353535;
}
.list-box-wrapper .list-box-item .list-box {
  height: 120px !important;
}
.list-box-wrapper .actions .btn-action {
  margin-bottom: 2px; 
}
.field:not(:last-child) {
  margin-bottom: 0;
}
a {
  color: #f6921e;
}

.box {
  background-color: #2B2B2C;
  padding: 2.25rem;
}
.control.has-icons-left .input {
  border: 2px solid orange;
  height: 50px;

}
.control.has-icons-left .icon {
  height: 50px;
}


#table_players th.asc:after {
  display: inline;
  content: '↓';
}

#table_players th.desc:after {
  display: inline;
  content: '↑';
}
#table_players th {
  &:hover {
     cursor: pointer;
  }
 
}
#table-results th.asc:after {
  display: inline;
  content: '↓';
}

#table-results th.desc:after {
  display: inline;
  content: '↑';
}

.boxManagePlayers {
  border-top: 2px solid;
}
.hooper-indicator:hover, .hooper-indicator.is-active {
  background-color: #f6921e !important;
}
.smallpadding {
  padding: 20px;
}
.shrink-pic {
  padding-top: 40% !important;
}

// input.input.field {
//   margin-bottom: 5px;
// }

.hidden {
  visibility: hidden;
}

.table-fixed {
  table-layout: fixed;
}

.icon-sg {
  height: 30px !important;
  width: 30px !important;
  margin-right:15px;
  cursor: pointer;

}

.text-welcome {
  text-align: center;
  text-align: -webkit-center;
  p {
    letter-spacing: 1px;
    font-size: 1.2em;
  }
}

.msl-multi-select {
  width:350px !important;
}

input[type='checkbox'] {
	margin-top: -30px;
}

input[type='checkbox'] {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	width: 13px;
	height: 13px;
	margin: 0;
	margin-right: 1px;
	display: block;
	float: left;
	position: relative;
	cursor: pointer;
}

input[type='checkbox']:after {
	content: "";
	vertical-align: middle;
	text-align: center;
	line-height: 13px;
	position: absolute;
	cursor: pointer;
	height: 13px;
	width: 13px;
	left: 0;
	top: 0;
	font-size: 10px;
	-webkit-box-shadow: inset 0 1px 1px $details, 0 1px 0 $details;
	-moz-box-shadow: inset 0 1px 1px $details, 0 1px 0 $details;
	box-shadow: inset 1px 1px 1px orange, 1px 1px 0 orange;
	background: white;
}

input[type='checkbox']:hover:after, input[type='checkbox']:checked:hover:after {
	background: white;
	content: '\2714';
	color: orange;
}

input[type='checkbox']:checked:after {
	background: white;
	content: '\2714';
	color: orange;
}
input[type=checkbox]:checked:after {
    background: orange !important;
    color: white !important;
}