<template>
  <section class="section">
    <div class="container is-fluid mobile-padding">
      <div>
        <div class="column" style="background-color: #353535; margin-bottom:20px;">
          <div class="columns is-multiline">
            <div class="column min-width-300" style="padding:10px 0; text-align: -webkit-center;">
              <div class="container">
                <div class="sl-player-shield masked">
                  <div class="sl-shield-top" style="max-height:100%;">
                    <div class="sl-shield-total" style="display:grid;">
                      <span class="average-abilities">{{user.abilities.details.average}}</span>
                    </div>
                    <div class="sl-shield-player-img" style="padding:0">
                      <img :src="user.profile_picture_path" />
                    </div>
                  </div>
                  <div class="sl-shield-middle">
                    <span>{{user.first_name}} {{user.last_name}}</span>
                  </div>
                  <div class="sl-shield-bottom">
                    <div class="sl-bottom-left">
                      <div class="skill">
                        <span>{{user.abilities.speed}}</span>
                        <label>SPD</label>
                      </div>
                      <div class="skill">
                        <span>{{user.abilities.passing}}</span>
                        <label>PAS</label>
                      </div>
                      <div class="skill">
                        <span>{{user.abilities.dribbling}}</span>
                        <label>DRI</label>
                      </div>
                    </div>

                    <div class="sl-bottom-divider"></div>
                    <div class="sl-bottom-right">
                      <div class="skill">
                        <span>{{user.abilities.agility}}</span>
                        <label>AGI</label>
                      </div>
                      <div class="skill">
                        <span>{{user.abilities.reaction}}</span>
                        <label>REA</label>
                      </div>
                      <div class="skill">
                        <span>{{user.abilities.endurance}}</span>
                        <label>END</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column min-width-300" style="padding:10px; float:left;">
              <p class="bold" style="font-size:30px;">{{user.first_name}} {{user.last_name}}</p>
              <br />
              <table class="table custom-table" style="line-height:0.5;">
                <tbody>
                  <tr>
                    <th>Age:</th>
                    <td>{{user.age}}</td>
                  </tr>
                  <tr>
                    <th>Height:</th>
                    <td>{{user.height}}</td>
                  </tr>
                  <tr>
                    <th>Weight:</th>
                    <td>{{user.weight}}</td>
                  </tr>
                  <tr>
                    <th>Strength:</th>
                    <!-- <td>{{user.abilities.details.strongest}}</td> -->
                  </tr>
                  <tr>
                    <th>Weakness:</th>
                    <!-- <td>{{user.abilities.details.weakest}}</td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column min-width-300" style="padding:10px;">
              <br />
              <div>
                <v-chart :options="option" />
              </div>
            </div>
          </div>

          <div class="columns is-multiline">
            <div
              class="column skillgame-hover"
              style="min-width: 300px; max-width: 310px; float:left; margin:5px 8px; padding:25px; background:#2B2B2C;"
              v-for="sg in skillgames"
              v-bind:key="sg.id"
              @click.prevent="goto(sg.sgname,sg.sgid)"
            >
              <a>
                <p class="custom-p">{{sg.sgname}}</p>
                <figure
                  class="image orange-border skill-game-img"
                  style="width: fit-content; margin:auto; margin-top: 20px; margin-bottom:20px;"
                >
                  <img
                    class="low-opacity"
                    :src="sg.image"
                    alt="Placeholder image"
                    style="max-height:150px; width:auto;"
                  />
                </figure>
                <table class="table custom-table is-striped">
                  <thead>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Score</th>
                  </thead>
                  <tbody>
                    <tr v-for="r in sg.results" v-bind:key="r.id">
                      <th>{{r.date}}</th>
                      <th>{{r.time}}</th>
                      <td>{{r.score}}</td>
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
import moment from "moment";
import ECharts from "vue-echarts";
import echarts from "echarts/dist/echarts";
import "echarts/lib/chart/bar";
import "echarts/lib/component/tooltip";
import "echarts/lib/chart/radar";
import "echarts/dist/echarts.min.js";
export default {
  name: "PlayerAchievements",
  components: {
    "v-chart": ECharts
  },
  data: function() {
    return {
      user: { abilities:{ details: {}}},
      average: 0,
      option: {},
      skillgames: []
    };
  },
  methods: {
    goto(sgname, sgid) {
      this.$router.push(
        "/individual/skillgame/" +
          this.user.id +
          "/" +
          this.user.first_name + ' ' + this.user.last_name  +
          "/" +
          sgname +
          "/" +
          sgid
      );
    },
    getAbilitiesPerplayer() {
      $.ajax({
        type: "POST",
        url: this.$APIlink + "users/me",
        "method": "GET",
        "timeout": 0, headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          // console.log(data.data)
          this.user=data.data
            this.option = {
              tooltip: {},
              radar: {
                name: {
                  textStyle: {
                    color: "#fff",
                    borderRadius: 2,
                    padding: [0, 0],
                    fontSize: "9.5"
                  }
                },
                indicator: [
                  { name: "Endurance", max: 100 },
                  { name: "Agility", max: 100 },
                  { name: "Reaction", max: 100 },
                  { name: "Dribbling", max: 100 },
                  { name: "Passing", max: 100 },
                  { name: "Speed", max: 100 }
                ]
              },
              series: [
                {
                  type: "radar",
                  areaStyle: { normal: { color: "#f7941e" } },

                  itemStyle: {
                    color: "#f7941e"
                  },
                  data: [
                    {
                      value: [
                        this.user.abilities.endurance,
                        this.user.abilities.agility,
                        this.user.abilities.reaction,
                        this.user.abilities.dribbling,
                        this.user.abilities.passing,
                        this.user.abilities.speed
                      ],
                      name: "Abilities"
                    }
                  ]
                }
              ]
            };
        }
      })
    },
    getSkillGamesTopResults() {
      console.log('in get skillgame results')
      this.skillgames = [];
      $.ajax({
        type: "GET",
        url: this.$APIlink + "skillgames",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(sg => {
            var d={skill_game_id: sg.id, limit:3}
            if (sg.measuring_method == "stopwatch") 
            {
              d.order_by_time= 'ASC'
            } else {
              d.order_by_score= 'DESC'
            }
              $.ajax({
                type: "GET",
                url: this.$APIlink + "users/"+this.user.id+"/results",
                headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
                data: d,
                success: data => {
                    var results= data.data
                    var r=[]
                    if (results.length>0) {
                        results.forEach((res) => {
                          if (res.users.length>0)
                          {
                              r.push({date: moment(res.date_saved).fromNow(), name: res.users[0].first_name+' '+ res.users[0].last_name, time: res.time, score:res.score})
                              this.val={}

                          }
                        })
                      this.loading = false
                      this.skillgames.push({ sgname: sg.title, sgid: sg.id, results: r, image: sg.instruction_image_path
                        });
                  }
                  
                }
              });
          });
          this.loading = false;
        }
      })
    }
  },
  mounted: function() {
    this.getAbilitiesPerplayer();
    this.getSkillGamesTopResults();
  }
};
</script>