<template>
  <section class="section">
    <div class="container is-fluid mobile-padding">
      <p class="orange-text custom-p">{{this.pname}}/ {{this.sgname}}</p>

      <div class="columns is-multiline">
        <div class="column is-full">
          <div class="columns  is-multiline">
            <div class="column  min-width-300" style="margin: auto;">
              <figure
                class="image orange-border skill-game-img"
                style="width: fit-content; margin:auto; "
              >
                <img
                  class="low-opacity"
                  :src="this.sgimage"
                  alt="Placeholder image"
                  style="max-height:200px; width:auto;"
                />
              </figure>
            </div>
            <div class="column min-width-300 " style="padding:40px;">
              <br>
              <figure class="image is-128x128 centered-picture">
                <img
                  class="is-rounded fullimg orange-border"
                  v-bind:src="this.image"
                  onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                />
              </figure>
              <br />
              <table class="table custom-table">
                <tbody>
                  <tr>
                    <th>Personal best</th>
                    <td>{{top}}</td>
                  </tr>
                  <tr>
                    <th>Average</th>
                    <td>{{average}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column" style="min-width:350px;"> 
              <v-chart :options="this.option" id="chart" class="biggerchart" style="margin:auto;"/>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <p class="custom-p">ALL RESULTS</p>
          <table class="table custom-table">
            <thead>
              <th>Date</th>
              <th>Time</th>
              <th>Score</th>
            </thead>
            <tbody>
              <tr v-for="r in results" v-bind:key="r.id">
                <td>{{r.date}} ({{r.datefn}})</td>
                <td>{{r.time}}</td>
                <td>{{r.score}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
import moment from 'moment';
import ECharts from "vue-echarts";
import echarts from "echarts/dist/echarts";
import "echarts/lib/chart/line";
import "echarts/lib/component/tooltip";
import "echarts/dist/echarts.min.js";
export default {
  props: ["id", "pname", "sgname", "sgid"],
  name: "PlayerAchievements",
  components: {
    "v-chart": ECharts
  },
  data: function() {
    return {
      name: "",
      image: "",
      sgimage: "",
      option: {},
      results: [],
      top: 0,
      average: 0,
    };
  },
  methods: {
    getSkillGamesResultsPerPlayer(id, sgid) {
      this.skillgames = [];
      var results = [];
      var dates = [];
      var scores = [];
      var times = [];
      var t=0
      var s=0
      $.ajax({
        type: "GET",
        url: this.$APIlink + "skillgames/"+sgid,
        async: false,
        timeout: 0,
        headers: { Authorization: `Bearer ${sessionStorage.getItem("token")}` },
        success: data => {
            var skillgame= data.data
            this.sgimage= skillgame.instruction_image_path
            this.sgname= skillgame.title
            var d={skill_game_id: skillgame.id}
            if (skillgame.measuring_method == "stopwatch") 
            {
              d.order_by_time= 'ASC'
            } else {
              d.order_by_score= 'DESC'
            }
            $.ajax({
              type: "GET",
              url: this.$APIlink + "users/"+id+"/results",
              async: false,
              timeout: 0,
              headers: {
                Authorization: `Bearer ${sessionStorage.getItem("token")}`
              },
              data: d,
              success: data => {
                results = data.data;
                this.option = {}
                this.image = results[0].users[0].profile_picture_path
                
                results.forEach(res => {
                  this.results.push({
                    date: moment(String(res.date_saved)).format("DD-MMMM-YYYY"),
                    datefn: moment(res.date_saved).fromNow(),
                    time: res.time,
                    score: res.score
                  });
                  dates.push(moment(String(res.date_saved)).format("DD-MM-YYYY"))
                  scores.push(res.score)
                  times.push(res.time)
                  t=t+res.time
                  s=s+res.score
                });

                if (skillgame.measuring_method == "stopwatch") 
                {
                  this.top=results[0].time
                  this.average= Math.round(t/results.length)
                } else {
                  this.top=results[0].score
                  this.average= Math.round(s/results.length)
                }
                if (skillgame.measuring_method == "scoreboard") {
                this.option = {
                  tooltip: {
                    trigger: "axis"
                  },
                  toolbox: {
                    show: false
                  },
                  calculable: true,
                  xAxis: [
                    {
                      type: "category",
                      boundaryGap: false,
                      data: dates,
                      axisLabel: {
                        color: ["#FFFFFF"]
                      }
                    }
                  ],
                  yAxis: [
                    {
                      type: "value",
                      axisLabel: {
                        color: ["#FFFFFF"]
                      }
                    }
                  ],
                  series: [
                    {
                      name: "Score",

                      type: "line",

                      smooth: true,
                      data: scores,
                      areaStyle: { normal: { color: "#f7941e" } },

                      itemStyle: {
                        color: "#f7941e"
                      }
                    }
                  ],
                  responsive: true,
                  maintainAspectRatio: false
                };
              } else if (skillgame.measuring_method == "stopwatch") {
                this.option = {
                  tooltip: {
                    trigger: "axis"
                  },
                  toolbox: {
                    show: true,
                    feature: {
                      mark: { show: true },
                      dataView: { show: true, readOnly: false },
                      magicType: {
                        show: true,
                        type: ["line", "bar", "stack", "tiled"]
                      },
                      restore: { show: true },
                      saveAsImage: { show: true }
                    }
                  },
                  calculable: true,
                  xAxis: [
                    {
                      type: "category",
                      boundaryGap: false,
                      data: dates,
                      axisLabel: {
                        color: ["#FFFFFF"]
                      }
                    }
                  ],
                  yAxis: [
                    {
                      type: "value",
                      axisLabel: {
                        color: ["#FFFFFF"]
                      }
                    }
                  ],
                  series: [
                    {
                      name: "Time",

                      type: "line",

                      smooth: true,
                      data: times,
                      areaStyle: { normal: { color: "#f7941e" } },

                      itemStyle: {
                        color: "#f7941e"
                      }
                    }
                  ],
                  responsive: true,
                  maintainAspectRatio: false
                };
              }
              }
            });
          this.loading = false;
        }
      });
    }
  },
  mounted: function() {
    this.getSkillGamesResultsPerPlayer(this.id, this.sgid);

  }
};
</script>