<template>
  <section class="section menusection">
    <aside class="menu">
      <p class="sl-menu-label">
        General
      </p>
      <ul class="menu-list">
        <li>
          <ul>
            <li><router-link to="/profile">Profile</router-link></li>
            <li v-if="role.includes(2) || role.includes(3) || role.includes(4)"><router-link to="/dashboard">Dashboard</router-link></li>
          </ul>
        </li>
      </ul> 
      <p class="sl-menu-label">
        Data
      </p>
      <ul class="menu-list">
        <li>
          <ul>  
            <li v-if="role.includes(1) || role.includes(2) || role.includes(3) || role.includes(4)" ><router-link to="/players">Players</router-link></li>
            <li v-if="role.includes(1) || role.includes(2) || role.includes(3) || role.includes(4)"><router-link to="/team">Teams</router-link></li>
            <li v-if="role.includes(1) || role.includes(2) || role.includes(3) || role.includes(4)"><router-link to="/tests">Sessions</router-link></li>
            <li v-if="role.includes(1) || role.includes(2) || role.includes(3) || role.includes(4)"><router-link to="/skillgames">Skill games</router-link></li>
             <li v-if="role.includes(2) || role.includes(3) || role.includes(4)"><router-link to="/general">Overall data</router-link></li>
             <li v-if="role.includes(2) || role.includes(3) || role.includes(4)"  > <router-link to="/livescoreboard">Live Scoreboard</router-link></li>
             <li v-if="role.includes(0)"> <router-link to="/individual">Individual score</router-link></li>
          </ul>
        </li>
      </ul>
      <p class="sl-menu-label" v-if="role.includes(2) || role.includes(3) || role.includes(4)">
        Management
      </p>
      <ul class="menu-list" >
        <li>
          <ul>
            <li v-if="role.includes(4)"><router-link to="/manageusers">Users</router-link></li>
            <li v-if="role.includes(4)"><router-link to="/manageorganisations">Organisations</router-link></li>
            <li v-if="role.includes(3) || role.includes(4)"><router-link to="/teams">Teams</router-link></li>
            <li v-if="role.includes(2) || role.includes(3) || role.includes(4)"><router-link to="/manageskillgames">Skill games</router-link></li>
            <li v-if="role.includes(2) || role.includes(3) || role.includes(4)"><router-link to="/manageplayers">Players</router-link></li>
             <li v-if="role.includes(3) || role.includes(4)"><router-link to="/trainers">Trainers</router-link></li>
          </ul>
        </li>
      </ul>
      
    </aside>
   
  </section>
  
</template>
<script>
export default {
  data: function() {
    return {
      role: sessionStorage.getItem('role'),
    }
  }
}
</script>
