<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>
    <div class="container is-fluid mobile-padding" v-show="!loading">
      <div class="columns">
        <div class="column" style="overflow-y: unset;">
          <p class="title-p">Dashboard</p>
       <p class="custom-p" v-if="teams.length<1">There are no teams in this organisation.</p>
          <nav class="level" v-if="teams.length>0">
            <div class="level-left">
              <div class="level-item display-block">
                <h5 class="custom-p" v-if="teams.length>1">Select a team</h5>
                <div v-if="teams.length<6" class="tabs is-toggle">
                  <ul id="teams-list">
                    <li
                      v-for="team in teams"
                      v-bind:key="team.id"
                      v-on:click="setActive(team.id, team.name)"
                      v-bind:class="{ 'is-active': isActive == team.id }"
                    >
                      <a>{{team.name}}</a>
                    </li>
                  </ul>
                </div>
                <multiselect
                  v-if="teams.length>5"
                  v-model="value"
                  :allow-empty="false"
                  :options="options"
                  :show-labels="false"
                  :close-on-select="true"
                  :multiple="false"
                  :clear-on-select="false"
                  placeholder="Search a team"
                  label="name"
                  track-by="id"
                  @input="setActive(value.id, value.name)"
                ></multiselect>
              </div>
            </div>
          </nav>
          <p class="custom-p" v-if="players.length>0">Top players of the week</p>
          <div class="columns is-multiline flex-display" v-if="players.length>0">
            <div
              class="column min-width-300 column-shield"
              style="text-align: -webkit-center;"
              v-for="player in players"
              v-bind:key="player.id"
            >
              <div class="container" >
                <div class="sl-player-shield masked">
                  <div class="sl-shield-top" style="max-height:100%;">
                    <div class="sl-shield-total" style="display:grid;">
                      <span class="average-abilities">{{player.abilities.details.average}}</span>
                      <span style="font-size:16px;">{{player.preferred_field_position.name_short}}</span>
                    </div>
                    <div class="sl-shield-player-img" style="padding:0">
                      <img v-bind:src="player.profile_picture_path" />
                    </div>
                  </div>
                  <div class="sl-shield-middle">
                    <span>{{player.first_name}} {{player.last_name}}</span>
                  </div>
                  <div class="sl-shield-bottom">
                    <div class="sl-bottom-left">
                      <div class="skill">
                        <span>{{player.abilities.speed}}</span>
                        <label>SPD</label>
                      </div>
                      <div class="skill">
                        <span>{{player.abilities.passing}}</span>
                        <label>PAS</label>
                      </div>
                      <div class="skill">
                        <span>{{player.abilities.dribbling}}</span>
                        <label>DRI</label>
                      </div>
                    </div>

                    <div class="sl-bottom-divider"></div>
                    <div class="sl-bottom-right">
                      <div class="skill">
                        <span>{{player.abilities.agility}}</span>
                        <label>AGI</label>
                      </div>
                      <div class="skill">
                        <span>{{player.abilities.reaction}}</span>
                        <label>REA</label>
                      </div>
                      <div class="skill">
                        <span>{{player.abilities.endurance}}</span>
                        <label>END</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column" style="margin-top:2px;">
        <div class="columns is-multiline">
          <div class="container" >
          <!-- <div
            class="column min-width-300"
            style=" background-color:#353535; margin:2px; padding:20px;"
          >
            <p class="custom-p">Training Time</p>
            <div class="circle">
              <div class="block" style="text-align:center;">
                <p style="font-size:50px;">{{this.total_hours}}</p>
                <p style="font-size:12px;">minutes trained</p>
                <p style="font-size:12px;">in total</p>
              </div>
            </div>
            <table class="table custom-table">
              <tbody>
                <tr>
                  <th>This week</th>
                  <td>{{this.th_week}}</td>
                </tr>
                <tr>
                  <th>This month</th>
                  <td>{{this.th_month}}</td>
                </tr>
                <tr>
                  <th>This year</th>
                  <td>{{this.th_year}}</td>
                </tr>
              </tbody>
            </table>
          </div>-->
          <!-- <div
            class="column min-width-300"
            style=" background-color:#353535; margin:2px; padding:20px;"
          >
            <div>
              <p class="custom-p">Favourite exercises</p>
              <figure
                class="image orange-border skill-game-img"
                style="width: fit-content; margin: 20px auto;"
              >
                <img
                  class="low-opacity"
                  :src="this.image"
                  alt="Placeholder image"
                  style="max-height:150px; width:auto;"
                />
              </figure>
              <table class="table custom-table">
                <tbody>
                  <tr v-for="e in exercises" :key="e.id">
                    <td>{{e.id}}</td>
                    <td>{{e.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>-->
          <div
            class="column min-width-300"
            style=" background-color:#353535; margin:2px; padding:20px;"
            v-if="top_player!==null"
          >
            <p class="custom-p">Best player</p>
            <div class="container">
              <div class="sl-player-shield masked" style=" margin: auto;">
                <div class="sl-shield-top" style="max-height:100%;">
                  <div class="sl-shield-total" style="display:grid;">
                    <span class="average-abilities">{{this.top_player.abilities.details.average}}</span>
                    <span style="font-size:16px;">{{this.top_player.preferred_field_position.name_short}}</span>
                  </div>
                  <div class="sl-shield-player-img" style="padding:0">
                    <img v-bind:src="this.top_player.profile_picture_path" />
                  </div>
                </div>
                <div class="sl-shield-middle">
                  <span>{{this.top_player.first_name}} {{this.top_player.last_name}}</span>
                </div>
                <div class="sl-shield-bottom">
                  <div class="sl-bottom-left">
                    <div class="skill">
                      <span>{{this.top_player.abilities.speed}}</span>
                      <label>SPD</label>
                    </div>
                    <div class="skill">
                      <span>{{this.top_player.abilities.passing}}</span>
                      <label>PAS</label>
                    </div>
                    <div class="skill">
                      <span>{{this.top_player.abilities.dribbling}}</span>
                      <label>DRI</label>
                    </div>
                  </div>

                  <div class="sl-bottom-divider"></div>
                  <div class="sl-bottom-right">
                    <div class="skill">
                      <span>{{this.top_player.abilities.agility}}</span>
                      <label>AGI</label>
                    </div>
                    <div class="skill">
                      <span>{{this.top_player.abilities.reaction}}</span>
                      <label>REA</label>
                    </div>
                    <div class="skill">
                      <span>{{this.top_player.abilities.endurance}}</span>
                      <label>END</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import $ from "jquery";
import moment from 'moment';
import Multiselect from "vue-multiselect";
export default {
  data: function() {
    return {
      loading: true,
      players: [],
      top_player: null,
      exercises: [],
      image: "",
      total_hours: 0,
      th_year: 0,
      th_month: 0,
      th_week: 0,
      teams: [],
      options: [],
      value: sessionStorage.getItem("team_id"),
      role: sessionStorage.getItem("role")
    };
  },
  components: { multiselect: Multiselect },
  name: "Dashboard",
  methods: {
    getBestPlayersofWeek(id) {
      $.ajax({
        type: "GET",
        async: false,
        timeout: 0,
        headers: { Authorization: `Bearer ${sessionStorage.getItem("token")}` },
        data: {
          limit: 4,
          from_abilities_date: moment().subtract(7, 'days').calendar(),
          order_by_abilities: "DESC"
        },
        url:
          this.$APIlink +
          "teams/" + id + "/users",
        success: data => {
          if (data.data.length > 0) {
            data.data.forEach(player => {
              this.players.push(player);
            });
          }
        },
        error: function() {}
      });
      this.loading = false;
    },
    getTopPlayer(id) {
      $.ajax({
        type: "GET",
        async: false,
        timeout: 0,
        headers: { Authorization: `Bearer ${sessionStorage.getItem("token")}` },
        data: { limit: 1, order_by_abilities: "DESC" },
        url:
          this.$APIlink +
           "teams/" + id + "/users",
        success: data => {
          if (data.data.length > 0) {
            this.top_player = data.data[0];
          }
        },
        error: function() {}
      });
    },
    getTrainingHours() {
      // var hasSuccess = false;
      // $.ajax({
      //   type: "POST",
      //   url: this.$APIlink + "getTotalTrainingTime",
      //   dataType: "json",
      //   data: {
      //     token: sessionStorage.getItem("token")
      //   },
      //   success: data => {
      //     this.th_year = data.results.year;
      //     this.th_month = data.results.month;
      //     this.th_week = data.results.week;
      //     this.total_hours = data.results.total;
      //   }
      // });
      // return hasSuccess;
    },
    getFavExcercises() {
      // var hasSuccess = false;
      // $.ajax({
      //   type: "POST",
      //   url: this.$APIlink + "getFavouriteExercises",
      //   dataType: "json",
      //   data: {
      //     token: sessionStorage.getItem("token")
      //   },
      //   success: data => {
      //     this.image = "";
      //     this.image = data.results[0].instruction_image;
      //     if (data.results.lenght <= 3) {
      //       for (var i = 0; i < data.results.lenght; i++) {
      //         this.exercises.push({ name: data.results[i].name, id: i + 1 });
      //       }
      //     } else {
      //       for (var i = 0; i < 3; i++) {
      //         this.exercises.push({ name: data.results[i].name, id: i + 1 });
      //       }
      //     }
      //   }
      // });
      // return hasSuccess;
    },
    getTeams() {
      if (this.role.includes(4) || this.role.includes(3)) {
        $.ajax({
          type: "GET",
          url:
            this.$APIlink +
            "organisations/" +
            sessionStorage.getItem("organisation") +
            "/teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name};
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      } else {
        $.ajax({
          type: "GET",
          url: this.$APIlink + "teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      }
    },
    setActive(teamId, teamName) {
      sessionStorage.setItem("team_id", JSON.stringify({id: teamId, name: teamName}))
      this.players=[]
      this.isActive = teamId;
      this.getBestPlayersofWeek(teamId)
      this.getTopPlayer(teamId)
    }
  },
  mounted: function() {
    this.getTeams();
    // this.getTrainingHours();
    // this.getFavExcercises();
  }
};
</script>