<template>
  <section class="section">
    <div class="loadingscreen " v-if="loading">
      <img src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"> 
    </div>
    <div class="container is-fluid mobile-padding" v-show="!loading">
      <p class="title-p" >Skill Games</p>
          <nav class="level">
          <div class="level-left" style="display:block;">
            <div class="level-left" v-if="teams.length>0">
              <div class="level-item display-block">
                <h5 class="custom-p" v-if="teams.length>1">Select a team</h5>
                <div v-if="teams.length<6" class="tabs is-toggle">
                  <ul id="teams-list">
                    <li
                      v-for="team in teams"
                      v-bind:key="team.id"
                      v-on:click="setActive(team.id, team.name)"
                      v-bind:class="{ 'is-active': isActive == team.id }"
                    >
                      <a>{{team.name}}</a>
                    </li>
                  </ul>
                </div>
                <multiselect
                  v-if="teams.length>5"
                  v-model="value"
                  :allow-empty="false"
                  :options="options"
                  :show-labels="false"
                  :close-on-select="true"
                  :multiple="false"
                  :clear-on-select="false"
                  placeholder="Search a team"
                  label="name"
                  track-by="id"
                  @input="setActive(value.id, value.name)"
                ></multiselect>
              </div>
            </div>
            <!-- <h5 class="custom-p" style="margin-right: 10px;">Selected date: {{this.d}}</h5> -->
          </div>
        </nav>
      <div class="columns" style="display:block;">
        <div class="column skillgame-hover" v-for="r in results" v-bind:key="r.id" v-on:click.prevent="goto(r.id, r.title)"
 style="margin-bottom:20px;">
         
          <div class="columns manageBox margin-20 mobile-no-margin">
            <div class="column is-one-quarter-widescreen  is-one-third-desktop is-full-mobile">
               <p class="custom-p orange-text title-p" >{{r.title}}</p>
              <figure class="image orange-border" style="height:150px; max-width:240px; margin-left:0px; margin-bottom:15px;">
                <img class="static"
                  :src="r.image"
                />
                <img class="active" :src="r.gif">
              </figure>
              <p class="custom-p">Train:</p>
              <table class="table custom-table left-border" style="line-height: 0.5;" >
                <tbody>
                  <tr>
                    <th>Speed</th>
                    <td>{{r.abilities.speed}}</td>
                  </tr>
                  <tr>
                    <th>Endurance</th>
                    <td>{{r.abilities.endurance}}</td>
                  </tr>
                  <tr>
                    <th>Passing</th>
                    <td>{{r.abilities.passing}}</td>
                  </tr>
                  <tr>
                    <th>Reaction</th>
                    <td>{{r.abilities.reaction}}</td>
                  </tr>
                  <tr>
                    <th>Dribbling</th>
                    <td>{{r.abilities.dribbling}}</td>
                  </tr>
                  <tr>
                    <th>Agility</th>
                    <td>{{r.abilities.agility}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column is-three-quarters-widescreen  is-two-third-desktop is-full-mobile margin-l-20 mobile-no-margin">
              <p class="custom-p">Highest Scores</p>
              <p v-if="r.results.length<1">No results.</p>
              <table class="table custom-table is-striped" v-if="r.results.length>0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Time</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="est in r.results" v-bind:key="est.id">
                    <th>{{est.date_saved}}</th>
                    <th>{{est.name}}</th>
                    <th>{{est.time}}</th>
                    <th>{{est.score}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
import moment from 'moment';
import Multiselect from "vue-multiselect";
var token = new FormData();
token.set('token', sessionStorage.getItem('token'))
var tokenandgameid = new FormData();
tokenandgameid.set('token', sessionStorage.getItem('token'))
export default {
  data: function() {
    return {
      loading: true,
      results: [],
      teams: [],
      options: [],
      value: [],
      role: sessionStorage.getItem("role"),
    };
  },
  components: {
    multiselect: Multiselect
  },
  name: "DataSkillGames",
  methods: {
     goto(num, name) {
          this.$router.push('/skillgames/achievements/'+ num+'/'+name)
    },
           getTeams() {
      if (this.role.includes(4) || this.role.includes(3)) {
        $.ajax({
          type: "GET",
          url:
            this.$APIlink +
            "organisations/" +
            sessionStorage.getItem("organisation") +
            "/teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      } else {
        $.ajax({
          type: "GET",
          url: this.$APIlink + "teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      }
    },
    setActive(teamId, teamName) {
      this.isActive = teamId;
      sessionStorage.setItem("team_id", JSON.stringify({id: teamId, name: teamName}))
      this.getSkillGames(teamId)
    },
    getSkillGames(id) {
      this.results = [];
        $.ajax({
        type: "GET",
        url: this.$APIlink + "skillgames",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(sg => {
            var mas=[]
               var d={skill_game_id: sg.id, limit:10}
                if (data.data.measuring_method == "stopwatch") 
                {
                  d.order_by_time= 'ASC'
                } else {
                  d.order_by_score= 'DESC'
                }
                $.ajax({
                type: "GET",
                url: this.$APIlink + "teams/"+id+"/users/players/results",
                headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
                data: d,
                success: data => {
                  if(data.data.length<1)
                  {
                    this.loading=false
                    // this.$refs.message.innerText="There are no results on that day.";
                    this.results.push({id: sg.id, title: sg.title, image: sg.instruction_image_path ,abilities: sg.abilities ,results: mas, gif: sg.gif_path});

                  }
                  if(data.data.length>0)
                  {
                    data.data.forEach(result => {
                    mas.push({date_saved: moment(result.date_saved).format("DD-MMM-YYYY"), name: result.users[0].first_name + ' ' + result.users[0].last_name, time: result.time, score: result.score})
                    });
                  // this.$refs.message.innerText="";
                  this.results.push({id: sg.id, title: sg.title, image: sg.instruction_image_path ,abilities: sg.abilities ,results: mas, gif: sg.gif_path});
                  this.loading=false
                  }
                }
              });
});
          this.loading = false;
        }
      })
    },
  },
  mounted: function() {
    this.getTeams();
    // this.getSkillGames();
  }
};
</script>
