<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>
    <div class="container is-fluid mobile-padding" v-show="!loading">
      <p class="orange-text title-p" style>{{this.name}}</p>
                <nav class="level">
          <div class="level-left" style="display:block;">
            <div class="level-left" v-if="teams.length>0">
              <div class="level-item display-block">
                <h5 class="custom-p" v-if="teams.length>1">Select a team</h5>
                <div v-if="teams.length<6" class="tabs is-toggle">
                  <ul id="teams-list">
                    <li
                      v-for="team in teams"
                      v-bind:key="team.id"
                      v-on:click="setActive(team.id)"
                      v-bind:class="{ 'is-active': isActive == team.id }"
                    >
                      <a>{{team.name}}</a>
                    </li>
                  </ul>
                </div>
                <multiselect
                  v-if="teams.length>5"
                  v-model="value"
                  :allow-empty="false"
                  :options="options"
                  :show-labels="false"
                  :close-on-select="true"
                  :multiple="false"
                  :clear-on-select="false"
                  placeholder="Search a team"
                  label="name"
                  track-by="id"
                  @input="setActive(value.id)"
                ></multiselect>
              </div>
            </div>
            <!-- <h5 class="custom-p" style="margin-right: 10px;">Selected date: {{this.d}}</h5> -->
          </div>
        </nav>
      <div class="columns is-multiline">
        <div class="column is-full" style="background-color: #353535; padding: 20px;">
          <div class="columns is-multiline">
            <div class="column" style="min-width: 270px;">
              <figure
                class="image orange-border"
                style="height:150px; max-width:250px; margin: 5px;"
              >
                <img class="static" :src="this.image" alt="Placeholder image" />
              </figure>
            </div>
            <div class="column" style="min-width: 270px;">
              <p class="custom-p">Train</p>
              <table class="table custom-table left-border" style="line-height: 0.5;">
                <tbody>
                  <tr>
                    <th>Speed</th>
                    <td>{{this.speed}}</td>
                  </tr>
                  <tr>
                    <th>Endurance</th>
                    <td>{{this.endurance}}</td>
                  </tr>
                  <tr>
                    <th>Passing</th>
                    <td>{{this.passing}}</td>
                  </tr>
                  <tr>
                    <th>Reaction</th>
                    <td>{{this.reaction}}</td>
                  </tr>
                  <tr>
                    <th>Dribbling</th>
                    <td>{{this.dribbling}}</td>
                  </tr>
                  <tr>
                    <th>Agility</th>
                    <td>{{this.agility}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column" style="min-width: 270px;">
              <p class="custom-p">Overall stats</p>
              <table class="table custom-table left-border" style="line-height: 1;">
                <tbody>
                  <tr>
                    <th>Best {{this.type}}</th>
                    <td>{{this.highest}}</td>
                  </tr>
                  <tr>
                    <th>Average {{this.type}}</th>
                    <td>{{this.average}}</td>
                  </tr>
                  <tr>
                    <th>Amount</th>
                    <td>{{this.amount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="column is-full">
          <p v-if="results.length<1">No results found for this skillgame.</p>
          <table class="table custom-table is-striped" id="table_players" v-if="results.length>0">
            <thead>
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Time</th>
                <th>Score</th>
                <th>Age</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="result in results" :key="result.id">
                <td>{{result.date}} ({{result.datefn}})</td>
                <td>{{result.name}}</td>
                <td>{{result.time}}</td>
                <td>{{result.score}}</td>
                <td>{{result.age}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
import moment from "moment";
import Multiselect from "vue-multiselect";
export default {
  props: ["id", "name"],
  data: function() {
    return {
      loading: true,
      role: sessionStorage.getItem("role"),
      results: [],
      type: '',
      teams: [],
      options: [],
      value: [],
      image: "",
      speed: 0,
      endurance: 0,
      passing: 0,
      agility: 0,
      reaction: 0,
      dribbling: 0,
      amount: 0,
      highest: 0,
      average: 0
    };
  },
  name: "DataSkillGamesAchievements",
   components: {
    multiselect: Multiselect
  },
  methods: {
    getTeams() {
      if (this.role.includes(4) || this.role.includes(3)) {
        $.ajax({
          type: "GET",
          url:
            this.$APIlink +
            "organisations/" +
            sessionStorage.getItem("organisation") +
            "/teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = { name: data.data[0].name };
            this.setActive(data.data[0].id);
          }
        });
      } else {
        $.ajax({
          type: "GET",
          url: this.$APIlink + "teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = { name: data.data[0].name };
            this.setActive(data.data[0].id);
          }
        });
      }
    },
    setActive(teamId) {
      this.isActive = teamId;
      this.getSkillGamesResults(teamId);
    },
    getSkillGamesResults(id) {
      this.results=[]
      this.average=0
       this.highest=0
      $.ajax({
        type: "GET",
        url: this.$APIlink + "skillgames/" + this.id,
        headers: { Authorization: `Bearer ${sessionStorage.getItem("token")}` },
        success: data => {
          var t = data.data.measuring_method;
          this.image = data.data.instruction_image_path;
          this.speed = data.data.abilities.speed;
          this.passing = data.data.abilities.passing;
          this.endurance = data.data.abilities.endurance;
          this.agility = data.data.abilities.agility;
          this.reaction = data.data.abilities.reaction;
          this.dribbling = data.data.abilities.dribbling;
          var d = { skill_game_id: this.id };
          if (t == "stopwatch") {
            d.order_by_time = "ASC";
            this.type='time'
          } else {
            d.order_by_score = "DESC";
            this.type='score'
          }
          $.ajax({
            type: "GET",
            url: this.$APIlink + "teams/" + id + "/users/players/results",
            headers: {
              Authorization: `Bearer ${sessionStorage.getItem("token")}`
            },
            data: d,
            success: data => {
              var scores = 0;
              var times = 0;
              this.amount = data.data.length;
              if (data.data.length > 0) {
                data.data.forEach(r => {
                  scores = scores + r.score;
                  times = times + r.time;
                  this.results.push({
                    date: moment(r.date_saved).format("DD-MMM-YYYY"),
                    datefn: moment(r.date_saved).fromNow(),
                    name: r.users[0].first_name + " " + r.users[0].last_name,
                    time: r.time,
                    score: r.score,
                    age: r.users[0].age
                  });
                });
                if(t=='stopwatch')
                    {
                      this.highest=data.data[0].time;
                      this.average= Math.round(times/this.amount)
                    }
                    else {
                      this.highest=data.data[0].score;
                      this.average= Math.round(scores/this.amount)
                    }
              }
            }
          });
          this.loading = false;
        }
      });
    }
  },
  mounted: function() {
    this.getTeams();
    // this.getSkillGamesResults();
    //  $(function() {
    //     $("table").on("click", "th", function() {
    //       var index = $(this).index(),
    //         rows = [],
    //         thClass = $(this).hasClass("asc") ? "desc" : "asc";

    //       $("#table_players th").removeClass("asc desc");
    //       $(this).addClass(thClass);

    //       $("#table_players tbody tr").each(function(index, row) {
    //         rows.push($(row).detach());
    //       });

    //       rows.sort(function(a, b) {
    //         var aValue = $(a)
    //             .find("td")
    //             .eq(index)
    //             .text(),
    //           bValue = $(b)
    //             .find("td")
    //             .eq(index)
    //             .text();
    //         if (isNumeric(aValue)) {
    //           return aValue - bValue;
    //         }
    //         else if (moment(aValue).toDate()!= "Invalid Date") {
    //           return moment(aValue).toDate() - moment(bValue).toDate();
    //         }
    //         else {
    //           return aValue > bValue ? 1 : aValue < bValue ? -1 : 0;
    //         }
    //       });

    //       if ($(this).hasClass("desc")) {
    //         rows.reverse();
    //       }

    //       $.each(rows, function(index, row) {
    //         $("#table_players tbody").append(row);
    //       });
    //     });
    //   });
    //   function isNumeric(n) {
    //     return !isNaN(parseFloat(n)) && isFinite(n);
    //   }
  }
};
</script>
