<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>

    <div id="testDiv" style="background: #2B2B2C;" v-if="!loading">
      <div class="navbar-brand" style="background:#353535; margin-bottom: 50px;" v-if="fullscreen">
        <a class="navbar-item">
          <img class="sl-logo" :src="this.$FullLogo" />
        </a>
        <div class="navbar-end">
          <p class="bold" style="margin: auto 0px;">
            <span class="sl-user-name">WWW.SMARTGOALS.NL</span>
          </p>
        </div>
      </div>

      <div class="container is-fluid mobile-padding " :class="{'smallpadding' : fullscreen==true}">
        <a type="button" class="mobile-hidden" id="fsDiv" style="float:right;" v-on:click="Tofullscreen()">
          Fullscreen
          <font-awesome-icon :icon="[ 'fas','compress']" />
        </a>
        <p class="title-p">Live scoreboard</p>
        <p class="custom-p" v-if="teams.length<1">There are no teams in this organisation.</p>
        <nav class="level" style="margin:0; display:block" v-if="teams.length>0">
            <div class="level-left">
              <div v-if="teams.length>0">
              <h5 class="custom-p" v-if="teams.length>1">Select a team</h5>
              <div v-if="teams.length<6" class="tabs is-toggle">
                <ul id="teams-list">
                  <li
                    v-for="team in teams"
                    v-bind:key="team.id"
                    v-on:click="setActive(team.id, team.name)"
                    v-bind:class="{ 'is-active': isActive == team.id }"
                  >
                    <a>{{team.name}}</a>
                  </li>
                </ul>
              </div>
              <multiselect
                v-if="teams.length>5"
                v-model="value"
                :allow-empty="false"
                :options="options"
                :show-labels="false"
                :close-on-select="true"
                :multiple="false"
                :clear-on-select="false"
                placeholder="Search a team"
                label="name"
                track-by="id"
                @input="setActive(value.id, value.name)"
              ></multiselect>
            </div>
            </div>
          <div class="level-left" style="margin-top:10px;">
            <div style="margin-right:20px;">
              <figure class="image is-24x24" @click="openPicker()">
                <img src="../../assets/img/static/calendar-icon.png" />
              </figure>
              <Datepicker
                :highlighted="highlighted"
                ref="programaticOpen"
                placeholder="Select Date"
                :minimumView="'day'"
                :maximumView="'day'"
                :value="this.pickDate"
                @selected="PickedDate()"
              ></Datepicker>
            </div>

            <!-- <div class="level-item">
              <h5 class="bold">{{this.testname}}</h5>
            </div>-->
            <div class="level-item">
              <h5 class="bold">{{today.getDate()}}-{{today.getMonth()+1}}-{{today.getFullYear()}}</h5>
            </div>
            
          </div>
   
        </nav>

        <div class="column is-full" style="height:100%;" v-if="teams.length>0">
          <div style="text-align: center;">
            <!-- <p class="custom-p">{{message}}</p> -->
            <p class="custom-p" v-if="temp.s.length<1">There are no results on that day.</p>
          </div>
          <!-- here 600px;-->
          <hooper
            style="min-height: 600px; width: 100%; margin-top:25px;"
            :autoPlay="true"
            :playSpeed="8000"
            v-if="temp.s.length>0"
            :itemsToShow="1"
            @slide="AtSlide()"
          >
            <slide v-for="s in temp.s" v-bind:key="s.id">
              <div id="changingdisplay" class="column" style="height: 95%;">
                <div
                  class="column is-one-fifth-desktop is-full-tablet is-full-mobile"
                  style="overflow:hidden;"
                >
                  <p class="title-p">{{s.skillgamename}}</p>
                  <figure
                    class="image orange-border"
                    style="width: fit-content; max-width:300px;  margin: 5px 20px; margin-left:0px; margin-bottom:15px;"
                  >
                    <img class="low-opacity" :src="s.image" alt="Placeholder image" />
                  </figure>
                  <p class="custom-p">Train:</p>
                  <table class="table custom-table left-border" style="line-height: 0.5;">
                    <tbody>
                      <tr>
                        <th>Speed</th>
                        <td>{{s.agilities.speed}}</td>
                      </tr>
                      <tr>
                        <th>Endurance</th>
                        <td>{{s.agilities.endurance}}</td>
                      </tr>
                      <tr>
                        <th>Passing</th>
                        <td>{{s.agilities.passing}}</td>
                      </tr>
                      <tr>
                        <th>Reaction</th>
                        <td>{{s.agilities.reaction}}</td>
                      </tr>
                      <tr>
                        <th>Dribbling</th>
                        <td>{{s.agilities.dribbling}}</td>
                      </tr>
                      <tr>
                        <th>Agility</th>
                        <td>{{s.agilities.agility}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="custom-p">ALL TIME RECORD:</p>
                  <table class="table custom-table" style="line-height: 0.9;">
                    <tbody>
                      <tr v-for="t in s.top" v-bind:key="t.id">
                        <th>{{t.users[0].first_name}} {{t.users[0].last_name}}</th>
                        <td v-if="s.type=='scoreboard' ">{{t.score}}</td>
                        <td v-if="s.type!='scoreboard' ">{{t.time}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  class="column is-four-fifths is-full-tablet is-full-mobile autoscroller-con"
                  ref="myid"
                  id="table-container"
                  style="padding-left:30px;"
                >
                  <div
                    class="columns is-full is-multiline autoscroller"
                    id="table-scroll"
                    style="min-width: 250px; line-height:2;"
                  >
                    <div style="width:100%; position:sticky; top:0; font-weight: 700;">
                      <div
                        class="column is-full orange-text"
                        style="display:flex; background: #2B2B2C;"
                      >
                        <div class="column is-1" style="max-width: 40px;">#</div>
                        <div class="column is-6">Name</div>
                        <div class="column is-3">Time</div>
                        <div class="column is-2 right-align">Score</div>
                      </div>
                      <div
                        class="column is-full scoreboard-text"
                        style="display:flex;color:white; background: #2B2B2C;"
                        v-for="rs in s.results.slice(0,3)"
                        v-bind:key="rs.index"
                      >
                        <div class="column is-1" style="max-width: 40px;">{{rs.index}}</div>
                        <div class="column is-6">{{rs.name}}</div>
                        <div class="column is-3">{{rs.time}}</div>
                        <div class="column is-2 right-align">{{rs.score}}</div>
                      </div>
                    </div>
                    <div
                      class="column is-full scoreboard-text"
                      style="display:flex; overflow-y: hidden; font-size:20px;"
                      v-for="rs in s.results.slice(3,)"
                      v-bind:key="rs.index"
                    >
                      <div class="column is-1" style="max-width: 40px;">{{rs.index}}</div>
                      <div class="column is-6">{{rs.name}}</div>
                      <div class="column is-3">{{rs.time}}</div>
                      <div class="column is-2 right-align">{{rs.score}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
            <hooper-pagination slot="hooper-addons"></hooper-pagination>
          </hooper>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
import { faCompress } from "@fortawesome/free-solid-svg-icons";
import moment from "moment";
import { library } from "@fortawesome/fontawesome-svg-core";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { Hooper, Slide, Pagination as HooperPagination } from "hooper";
import Datepicker from "vuejs-datepicker";
import Multiselect from "vue-multiselect";

import "vue-canvasvideo/dist/vuecanvasvideo.min.css";
import "hooper/dist/hooper.css";

library.add(faCompress);
export default {
  data: function() {
    return {
      loading: false,
      d: "",
      r: [],
      teams: [],
      options: [],
      value: {},
      highlighted: {},
      pickDate: new Date(),
      temp: { date: new Date(), s: [] },
      role: sessionStorage.getItem("role"),
      today: new Date(),
      location: "",
      testname: "",
      games: [],
      fullscreen: false,
      isFullscreen: false,
      message: "",
      organisations: []
    };
  },
  components: {
    FontAwesomeIcon,
    Hooper,
    Slide,
    HooperPagination,
    Datepicker,
    multiselect: Multiselect
  },
  name: "TestsRealTime",
  methods: {
    AtSlide() {},
    openPicker() {
      this.$refs.programaticOpen.showCalendar();
    },
    getTeams() {
      if (this.role.includes(4) || this.role.includes(3)) {
        $.ajax({
          type: "GET",
          url:
            this.$APIlink +
            "organisations/" +
            sessionStorage.getItem("organisation") +
            "/teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      } else {
        $.ajax({
          type: "GET",
          url: this.$APIlink + "teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      }
    },
    setActive(teamId, teamName) {
      this.loading=true
      this.isActive = teamId;
      sessionStorage.setItem("team_id", JSON.stringify({id: teamId, name: teamName}))
      this.getAllTestsDates(teamId);
      var y = new Date().getFullYear();
      var m = new Date().getMonth();
      var d = new Date().getDate();
      var fulldate = new Date(y, m, d);
      fulldate = moment(fulldate).format("YYYY-MM-DD");
      this.getDateResults(fulldate, teamId);
    },
    PickedDate() {
      this.pickDate = this.$refs.programaticOpen.selectedDate;
      this.today = this.$refs.programaticOpen.selectedDate;
      var y = new Date(this.pickDate).getFullYear();
      var m = new Date(this.pickDate).getMonth();
      var d = new Date(this.pickDate).getDate();
      var newdate = new Date(y, m, d);
      newdate = moment(newdate).format("YYYY-MM-DD");
      this.getDateResults(newdate, this.value.id);
    },

        getAllTestsDates(id) {
        this.highlighted=[]
        $.ajax({
        type: "GET",
        url: this.$APIlink + "teams/"+ id + "/users/players/results",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          var mas = []
          data.data.forEach(result => {
            var y = new Date(result.date_saved).getFullYear();
            var m = new Date(result.date_saved).getMonth();
            var d = new Date(result.date_saved).getDate();
            mas.push(new Date(y, m, d));
          })
          this.highlighted = {
            dates: mas,
            includeDisabled: true
          }
          this.loading=false
        }
      })
    },
    Tofullscreen() {
      var elt = document.getElementById("testDiv");
      this.fullscreen = true;
      if (elt.requestFullscreen) {
        elt.requestFullscreen();
      } else if (elt.msRequestFullscreen) {
        elt.msRequestFullscreen();
      } else if (elt.mozRequestFullScreen) {
        elt.mozRequestFullScreen();
      } else if (elt.webkitRequestFullscreen) {
        elt.webkitRequestFullscreen();
      } else {
        alert("No fullscreen available");
      }
    },
        getDateResults(val, id) {
      this.r=[]
      this.d= moment(val).format("DD-MMM-YYYY")
      var skillgamesarr=[]
      
      this.message=''
      $.ajax({
        type: "GET",
        url: this.$APIlink + "skillgames",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(sg => {
            var mas = []
            var top=[]
            var d={skill_game_id: sg.id, date: val }
            var d2={skill_game_id: sg.id, limit: 3 }
            if (sg.measuring_method == "stopwatch") 
            {
              d.order_by_time= 'ASC'
              d2.order_by_time= 'ASC'
            } else {
              d.order_by_score= 'DESC'
              d2.order_by_score= 'DESC'
            }
            $.ajax({
            type: "GET",
            url: this.$APIlink + "teams/"+id+"/users/players/results",
            headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
            data: d2,
            success: data => {
              data.data.forEach(res => {
                top.push(res)
              });
              }
            })
            $.ajax({
            type: "GET",
            url: this.$APIlink + "teams/"+id+"/users/players/results",
            headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
            data: d,
            success: data => {
              if(data.data.length<1)
              {
                this.loading=false
              }
              else
              {
                var count=0
                data.data.forEach(result => {
                  
                  count=count+1
                  mas.push({index: count, name: result.users[0].first_name + " " + result.users[0].last_name, time: result.time, score: result.score})
                });
              skillgamesarr.push({skillgamename: sg.title, image: sg.instruction_image_path, agilities: sg.abilities,results: mas, top:top, type:sg.measuring_method})
              this.loading=false
              }
            }
          });
          });
         this.temp={date: moment(String(val)).format("DD-MMM-YYYY"), s: skillgamesarr}
        }
        })
    },
  },

  mounted: function() {
    this.getTeams();
    var that = this;
    window.setInterval(function() {
      if (
        that.today.getDate() === new Date().getDate() &&
        that.today.getMonth() === new Date().getMonth() &&
        that.today.getFullYear() === new Date().getFullYear()
      ) {
        var daten =
          that.today.getFullYear() +
          "-" +
          (that.today.getMonth() + 1) +
          "-" +
          that.today.getDate();
        this.getDateResults(daten, this.value.id);
      }
    }, 60000);

    document.addEventListener("fullscreenchange", exitHandler);
    document.addEventListener("webkitfullscreenchange", exitHandler);
    document.addEventListener("mozfullscreenchange", exitHandler);
    document.addEventListener("MSFullscreenChange", exitHandler);

    function exitHandler() {
      if (
        !document.fullscreenElement &&
        !document.webkitIsFullScreen &&
        !document.mozFullScreen &&
        !document.msFullscreenElement
      ) {
        that.fullscreen = false;
      }
    }
  },
  updated() {
    var objDiv = document.getElementById("table-scroll");
    var objDivParent = document.getElementById("table-container");
    if (objDiv != null) {
      var my_time;
      if (objDivParent.clientHeight < objDiv.scrollHeight) {
        var $el = $(".autoscroller");
        var $par = $(".autoscroller-con");
        function anim() {
          var st = $el.scrollTop();
          var sb = $el.prop("scrollHeight") - $par.innerHeight();
          $el.animate({ scrollTop: st < sb / 2 ? sb : 0 }, 4000, anim);
        }
        function stop() {
          $el.stop();
        }
        anim();
        $el.hover(stop, anim);
      } else {
      }
    }
  }
};
</script>
