<template>
    <transition name="modal">
    
    <div class="modal-mask">
      <div class="modal-wrapper ">
        <div class="column is-10-mobile is-10-tablet is-9-desktop is-8-widescreen" style="margin:auto;">
        <div>
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">

            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">

            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
               
              <button class="button is-warning  " @click="$emit('confirm')">
                Confirm
              </button>
             <button class="button is-danger modal-button" @click="$emit('close')">
                Cancel
              </button>
            </slot>
          </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </transition>
</template>