<template>
  <section class="section">
    <div class="loadingscreen " v-if="loading">
      <img src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"> 
    </div>
    <div class="container is-fluid mobile-padding" v-if="!loading || iresults.length<1">
        <p class="bold title-p">Overall data</p>
            <nav class="level">
            <div class="level-left half-width" v-if="teams.length>0">
              <div class="level-item display-block">
                <h5 class="custom-p" v-if="teams.length>1">Select or search a team</h5>
                <div v-if="teams.length<6" class="tabs is-toggle">
                  <ul id="teams-list">
                    <li
                      v-for="team in teams"
                      v-bind:key="team.id"
                      v-on:click="setActive(team.id, team.name)"
                      v-bind:class="{ 'is-active': isActive == team.id }"
                    >
                      <a>{{team.name}}</a>
                    </li>
                  </ul>
                </div>
                <multiselect
                  v-if="teams.length>5"
                  v-model="value"
                  :allow-empty="false"
                  :options="options"
                  :show-labels="false"
                  :close-on-select="true"
                  :multiple="false"
                  :clear-on-select="false"
                  placeholder="Search a team"
                  label="name"
                  track-by="id"
                  @input="setActive(value.id, value.name)"
                ></multiselect>
              </div>
            </div>
             <div class="level-right" v-if="teams.length>0">
                <div class="level-item full-width"  style="justify-content: left; display:block;" v-if="players.length>0">
              <h5 class="custom-p" style="margin-right: 20px;">Select or search a player</h5>
               <div style="width: 300px;"><multiselect v-model="val" :allow-empty="false" :options="players" :show-labels="false" :close-on-select="true" :multiple="false" 
  :clear-on-select="false" placeholder="Search a player" label="name" track-by="id" @input="change(val.name)"></multiselect></div>
            </div>
             </div>
            <!-- <h5 class="custom-p" style="margin-right: 10px;">Selected date: {{this.d}}</h5> -->
        </nav>
        <!-- <p v-show="iresults.length<1" ref="messageOverallData"></p> -->
        <!-- <nav class="level " v-if="iresults.length>0">
          <div class="level-left full-width">
           
          </div>
        </nav> -->
        <h5 class="custom-p" style="margin: auto 0;" v-if="iresults.length<1">No results were found.</h5>
        <div v-for="result in iresults" v-bind:key="result.id" class="sgs" style="margin-bottom:20px">
          <div v-if="result.res.length!=0">
        <p class="bold hideTab" style="font-size: 40px;">{{result.name}}</p>
        <table id="results_table"
          class="table custom-table table-fixed"
          >
          <thead>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th>Score</th>
              <th>Date</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="r in result.res" v-bind:key="r.id">
              <td>{{ r.name }}</td>
              <td>{{ r.time }}</td>
              <td>{{ r.score }}</td>
               <td>{{ r.date }}</td>
            </tr>
          </tbody>
          
        </table>
        <p id="message">No results were found.</p>
        </div>
        </div>
      </div>
  </section>
</template>

<script>
import $ from "jquery";
import moment from 'moment';
import Multiselect from 'vue-multiselect'
var players_nr = [];
players_nr[0] = "";
export default {
  data: function() {
    return {
      loading: true,
      role: sessionStorage.getItem("role"),
      results: [],
      iresults:[],
      value: {},
      options: [],
      players: [],
      teams: [],
      val: {},
    };
  },
  components: {
     'multiselect' : Multiselect
  },
  name: "General",
  computed: {

  },
  methods: {
      getTeams() {
      if (this.role.includes(4) || this.role.includes(3)) {
        $.ajax({
          type: "GET",
          url:
            this.$APIlink +
            "organisations/" +
            sessionStorage.getItem("organisation") +
            "/teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      } else {
        $.ajax({
          type: "GET",
          url: this.$APIlink + "teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      }
    },
    setActive(teamId, teamName) {
      this.loading=true;
      sessionStorage.setItem("team_id", JSON.stringify({id: teamId, name: teamName}))
      this.isActive = teamId;
      this.getResults(teamId)
    },
    getResults(id) {
      this.iresults=[]
      this.players=[]
        $.ajax({
        type: "GET",
        url: this.$APIlink + "skillgames",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(sg => {
            var d={skill_game_id: sg.id}
            if (sg.measuring_method == "stopwatch") 
            {
              d.order_by_time= 'ASC'
            } else {
              d.order_by_score= 'DESC'
            }
              $.ajax({
                type: "GET",
                url: this.$APIlink + "teams/"+id+"/users/players/results",
                headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
                data: d,
                success: data => {
                    var results= data.data
                    var r=[]
                    if (results.length>0) {
                        results.forEach((res) => {
                          if (res.users.length>0)
                          {
                              r.push({date: moment(res.date_saved).fromNow(), name: res.users[0].first_name+' '+ res.users[0].last_name, time: res.time, score:res.score})
                              this.val={}
                              var p= {id: res.users[0].id, name: res.users[0].first_name + ' ' + res.users[0].last_name}
                              var exists=0
                              if(this.players.length >0)
                              {
                                this.players.forEach( player => {
                                if(player.id==p.id)
                                {
                                  exists=1
                                }
                              })
                              if(!exists) 
                                {
                                  this.players.push(p)
                                }
                              }
                              else  this.players.push(p)
                          }
                        })
                        this.iresults.push({name: sg.title, res: r}) 
                        this.loading = false
                    }
                }
              });
          });
          this.loading = false;
        }
      })
    },
    change(name) {
      // var newArray = this.iresults.filter(function(item) {
      //   return item.name==name;
      // });
      // console.log(newArray)
      var tables= document.querySelectorAll('[id=results_table]')
      tables.forEach(t=> { 
        t.className = t.className.replace(/\bis-striped\b/g, "")
      })
       $("#results_table tbody tr").each(function() { $(this).show();})
      var filter = name.toLowerCase();
      var nodes = document.getElementsByClassName('sgs');
      var messages= document.querySelectorAll('[id=message]')
      messages.forEach(element=> element.style.display="none")
      for (var i = 0; i < nodes.length; i++) {
        if (nodes[i].innerText.toLowerCase().includes(filter)) {
          nodes[i].style.display = "block";
          $("#results_table tbody tr").each(function() {
            if (
            $(this)
              .text()
              .search(new RegExp(filter, "i")) < 0
          ) {
            $(this).fadeOut();
          } else {
            $(this).show();
          }
          })
        } else {
          message[i].style.display="block";
          //$("#results_table tbody tr").each(function() { $(this).hide();})
        }
      }
      
    }
  },
  mounted: function() {
    this.getTeams()
  },
};
</script>