<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>
    <div class="container is-fluid" v-if="!loading">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <p
              class="custom-p"
              style="margin-right:5px;cursor:pointer;"
              @click.prevent="gotoPlayers()"
            >Players /</p>
            <p class="orange-text custom-p">{{name}}</p>
          </div>
        </div>
      </nav>

      <div class="mobile-padding">
        <div class="column " style="background-color: #353535; margin-bottom:20px;">
          <div class="columns is-multiline">
            <div
              class="column"
              style="padding:10px 0; float:left; min-width:300px; text-align: -webkit-center;"
            >
              <div class="container">
                <div class="sl-player-shield masked" id="shield">
                  <div class="sl-shield-top" style="max-height:100%;">
                    <div class="sl-shield-total" style="display:grid;">
                      <span class="average-abilities">{{ average }}</span>
                      <span style="font-size:16px;">{{position}}</span>
                    </div>
                    <div class="sl-shield-player-img" style="padding:0">
                      <img :src="image" />
                    </div>
                  </div>
                  <div class="sl-shield-middle">
                    <span>{{name}}</span>
                  </div>
                  <div class="sl-shield-bottom">
                    <div class="sl-bottom-left">
                      <div class="skill">
                        <span>{{speed}}</span>
                        <label>SPD</label>
                      </div>
                      <div class="skill">
                        <span>{{passing}}</span>
                        <label>PAS</label>
                      </div>
                      <div class="skill">
                        <span>{{dribbling}}</span>
                        <label>DRI</label>
                      </div>
                    </div>

                    <div class="sl-bottom-divider"></div>
                    <div class="sl-bottom-right">
                      <div class="skill">
                        <span>{{agility}}</span>
                        <label>AGI</label>
                      </div>
                      <div class="skill">
                        <span>{{reaction}}</span>
                        <label>REA</label>
                      </div>
                      <div class="skill">
                        <span>{{endurance}}</span>
                        <label>END</label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <a id="export" download="shield.png" v-on:click="Export()">
                  <font-awesome-icon :icon="[ 'fas','file-download']" />
                </a> -->
              </div>
            </div>
            <div class="column" style="padding:10px; float:left; min-width:270px; ">
              <p class="bold" style="font-size:30px;">{{name}}</p>
              <br />
              <table class="table custom-table" style="line-height:1;">
                <tbody>
                  <tr>
                    <th>Age:</th>
                    <td>{{age}}</td>
                  </tr>
                  <tr>
                    <th>Height:</th>
                    <td>{{height}}</td>
                  </tr>
                  <tr>
                    <th>Weight:</th>
                    <td>{{weight}}</td>
                  </tr>
                  <!-- <tr>
                    <th>Number:</th>
                    <td>{{number}}</td>
                  </tr>-->
                  <tr>
                    <th>Position:</th>
                    <td>{{posText}}</td>
                  </tr>
                  <tr>
                    <th>Strength:</th>
                    <td>{{strength}}</td>
                  </tr>
                  <tr>
                    <th>Weakness:</th>
                    <td>{{weakness}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column mall-padding mobile-no-padding" style="min-width:320px;">
              <br />
              <div>
                <v-chart :options="option" />
              </div>
            </div>
          </div>

          <div class="columns is-multiline">
            <div
              class="column skillgame-hover mall-padding"
              style="float:left; min-width:320px;"
              v-for="sg in skillgames"
              v-bind:key="sg.id"
              @click.prevent="goto(sg.sgname,sg.sgid)"
            >
              <a>
                <div style="background:#2B2B2C; padding:20px;">
                  <p class="custom-p">{{sg.sgname}}</p>
                  <figure
                    class="image orange-border skill-game-img"
                    style="width: fit-content; margin:auto; margin-top: 20px; margin-bottom:20px;"
                  >
                    <img
                      class="low-opacity"
                      :src="sg.image"
                      alt="Placeholder image"
                      style="max-height:150px; width:auto;"
                    />
                  </figure>
                  <table class="table custom-table is-striped">
                    <thead>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Score</th>
                    </thead>
                    <tbody>
                      <tr v-for="r in sg.results" v-bind:key="r.id">
                        <th>{{r.date_saved}}</th>
                        <th>{{r.time}}</th>
                        <td>{{r.score}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
import moment from "moment";
import ECharts from "vue-echarts";
import echarts from "echarts/dist/echarts";
import "echarts/lib/chart/bar";
import "echarts/lib/component/tooltip";
import "echarts/lib/chart/radar";
import "echarts/dist/echarts.min.js";
import { faFileDownload } from "@fortawesome/free-solid-svg-icons";
import { library } from "@fortawesome/fontawesome-svg-core";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import html2canvas from "html2canvas";
library.add(faFileDownload);
export default {
  props: ["id"],
  name: "PlayerAchievements",
  components: {
    "v-chart": ECharts,
    FontAwesomeIcon
  },
  data: function() {
    return {
      name: "",
      age: 0,
      height: 0,
      weight: 0,
      number: 0,
      image: "",
      email: "",
      passing: "",
      speed: "",
      dribbling: "",
      endurance: "",
      agility: "",
      reaction: "",
      option: {},
      skillgames: [],
      loading: true,
      dataForExport: [],
      average: "",
      position: "",
      strength: "",
      weakness: "",
      posText: ""
    };
  },
  methods: {
    gotoPlayers() {
      this.$router.push("/players");
    },
    goto(sgname, sgid) {
      this.$router.push(
        "/players/achievements/skillgame/" +
          this.id +
          "/" +
          this.name +
          "/" +
          sgname +
          "/" +
          sgid
      );
    },
    getAbilitiesPerplayer(par) {
      var hasSuccess = false;
      $.ajax({
        type: "GET",
        url: this.$APIlink + "users/"+par,
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          this.loading=false;
          this.id = par,
          this.name = data.data.first_name + " " + data.data.last_name
          this.image = data.data.profile_picture_path,
          this.age = data.data.age,
          this.height = data.data.height,
          this.weight = data.data.weight,
          this.passing = data.data.abilities.passing,
          this.speed = data.data.abilities.speed,
          this.dribbling = data.data.abilities.dribbling,
          this.endurance = data.data.abilities.endurance
          this.agility = data.data.abilities.agility,
          this.reaction = data.data.abilities.reaction,
          this.posText = data.data.preferred_field_position.name,
          this.strength = data.data.abilities.details.strongest,
          this.weakness = data.data.abilities.details.weakest,
          this.position = data.data.preferred_field_position.name_short
          this.average = data.data.abilities.details.average,
          this.option = {
              tooltip: {},
              radar: {
                name: {
                  textStyle: {
                    color: "#fff",
                    borderRadius: 2,
                    padding: [0, 0],
                    fontSize: "9.5"
                  }
                },
                indicator: [
                  { name: "Endurance", max: 100 },
                  { name: "Agility", max: 100 },
                  { name: "Reaction", max: 100 },
                  { name: "Dribbling", max: 100 },
                  { name: "Passing", max: 100 },
                  { name: "Speed", max: 100 }
                ]
              },
              series: [
                {
                  type: "radar",
                  areaStyle: { normal: { color: "#f7941e" } },

                  itemStyle: {
                    color: "#f7941e"
                  },
                  data: [
                    {
                      value: [
                        this.endurance,
                        this.agility,
                        this.reaction,
                        this.dribbling,
                        this.passing,
                        this.speed
                      ],
                      name: "Abilities"
                    }
                  ]
                }
              ]
            };
        }
      });
      return hasSuccess;
    },
    getSkillGamesTopResults(id) {
      this.skillgames = [];
      this.results = [];
      var r=[]
      $.ajax({
        type: "GET",
        url: this.$APIlink + "skillgames",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(sg => {
            var results=[]
            var d={skill_game_id: sg.id, limit:3}
            if (sg.measuring_method == "stopwatch") 
            {
              d.order_by_time= 'ASC'
            } else {
              d.order_by_score= 'DESC'
            }
            $.ajax({
            type: "GET",
            url: this.$APIlink + "users/"+id+"/results",
            async: false, "timeout": 0, 
            headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
            data: d,
            success: data => {
              results= data.data
              if (results.length>0)
              {
                  r= []
                  results.forEach(res => {
                    r.push({date_saved: moment(String(res.date_saved)).format("DD-MMMM-YYYY")  ,time: res.time,score: res.score })
                  });
                  this.skillgames.push({ sgname: sg.title, sgid: sg.id, results: r, image: sg.instruction_image_path});
              }
            }
          });
          });
          this.loading = false;
        }
      });
    },
    Export() {
      var content = document.getElementById("shield");
      var downloadLink = document.getElementById("export");
      function makeLink() {
        html2canvas(content).then(canvas => {
          downloadLink.setAttribute("href", canvas.toDataURL());
        });
      }
      var observer = new MutationObserver(makeLink);
      observer.observe(content, {
        childList: true,
        attributes: true,
        characterData: true,
        subtree: true
      });
      makeLink();
    }
  },
  mounted: function() {
    this.getAbilitiesPerplayer(this.id);
    this.getSkillGamesTopResults(this.id);
  }
};
</script>