<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>
    <div class="container is-fluid" v-bind:class="{ 'hidden' : loading}">
      <div style="display:inline-flex;">
        <p
          class="custom-p"
          style="margin-right:5px;cursor:pointer;"
          @click.prevent="gotoPlayer()"
        >{{this.pname}} /</p>
        <p class="orange-text custom-p">{{this.sgname}}</p>
      </div>
      <div class="columns is-multiline">
        <div class="column is-full">
          <div class="columns is-multiline">
            <div class="column min-width-300" style="margin: auto;">
              <figure
                class="image orange-border skill-game-img"
                style="width: fit-content; margin:auto; "
              >
                <img
                  class="low-opacity"
                  :src="this.sgimage"
                  alt="Placeholder image"
                  style="max-height:200px; width:auto;"
                />
              </figure>
            </div>
            <div class="column min-width-300" style="padding:40px;">
              <br />
              <figure class="image is-128x128 centered-picture">
                <img
                  class="is-rounded fullimg orange-border"
                  v-bind:src="this.image"
                  onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                />
              </figure>
              <br />
              <table class="table custom-table">
                <tbody>
                  <tr>
                    <th>Personal best</th>
                    <td>{{top}}</td>
                  </tr>
                  <tr>
                    <th>Average</th>
                    <td>{{average}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column" style="min-width:300px;">
              <v-chart :options="this.option" id="chart" style="margin:auto;" />
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <p class="custom-p" style="margin-right:15px;">ALL RESULTS</p>
                <a v-on:click="this.export">
                  <font-awesome-icon :icon="[ 'fas','file-download']" />
                </a>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="table custom-table" id="table_players">
              <thead>
                <th>Date</th>
                <th>Time</th>
                <th>Score</th>
              </thead>
              <tbody>
                <tr v-for="r in results" v-bind:key="r.id">
                  <td>{{r.date}} ({{r.datefn}})</td>
                  <td>{{r.time}}</td>
                  <td>{{r.score}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
//import moment from "moment";
import moment from "moment-timezone";
import ECharts from "vue-echarts";
import { faFileDownload } from "@fortawesome/free-solid-svg-icons";
import { library } from "@fortawesome/fontawesome-svg-core";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
library.add(faFileDownload);

export default {
  props: ["id", "pname", "sgname", "sgid"],
  name: "PlayerAchievements",
  components: {
    "v-chart": ECharts,
    FontAwesomeIcon
  },
  data: function() {
    return {
      name: this.pname,
      image: "",
      sgimage: "",
      option: {},
      results: [],
      top: 0,
      average: 0,
      loading: true
    };
  },
  methods: {
    gotoPlayer() {
      this.$router.push("/players/achievements/" + this.id);
    },
    getSkillGamesResultsPerPlayer(id, sgid) {
      this.skillgames = [];
      var results = [];
      var dates = [];
      var scores = [];
      var times = [];
      var t=0
      var s=0
      $.ajax({
        type: "GET",
        url: this.$APIlink + "skillgames/"+sgid,
        async: false,
        timeout: 0,
        headers: { Authorization: `Bearer ${sessionStorage.getItem("token")}` },
        success: data => {
            var skillgame= data.data
            this.sgimage= skillgame.instruction_image_path
            this.sgname= skillgame.title
            var d={skill_game_id: data.data.id}
            if (data.data.measuring_method == "stopwatch") 
            {
              d.order_by_time= 'ASC'
            } else {
              d.order_by_score= 'DESC'
            }
            $.ajax({
              type: "GET",
              url: this.$APIlink + "users/"+id+"/results",
              async: false,
              timeout: 0,
              headers: {
                Authorization: `Bearer ${sessionStorage.getItem("token")}`
              },
              data: d,
              success: data => {
                results = data.data;
                this.option = {}
                this.image = results[0].users[0].profile_picture_path
                results.forEach(res => {
                  this.results.push({
                    date: moment(String(res.date_saved)).format("DD-MMMM-YYYY"),
                    //datefn: moment(res.date_saved).fromNow(),
                    datefn: moment(res.created_at).tz('Etc/GMT+1').fromNow(),
                    time: res.time,
                    score: res.score
                  });
                  dates.push(moment(String(res.date_saved)).format("DD-MM-YYYY"))
                  scores.push(res.score)
                  times.push(res.time)
                  t=t+res.time
                  s=s+res.score
                });
                if (skillgame.measuring_method == "scoreboard") {
                this.average=Math.round(s/results.length)
                this.top=results[0].score
                this.option = {
                  tooltip: {
                    trigger: "axis"
                  },
                  toolbox: {
                    show: false
                  },
                  calculable: true,
                  xAxis: [
                    {
                      type: "category",
                      boundaryGap: false,
                      data: dates,
                      axisLabel: {
                        color: ["#FFFFFF"]
                      }
                    }
                  ],
                  yAxis: [
                    {
                      type: "value",
                      axisLabel: {
                        color: ["#FFFFFF"]
                      }
                    }
                  ],
                  series: [
                    {
                      name: "Score",

                      type: "line",

                      smooth: true,
                      data: scores,
                      areaStyle: { normal: { color: "#f7941e" } },

                      itemStyle: {
                        color: "#f7941e"
                      }
                    }
                  ],
                  responsive: true,
                  maintainAspectRatio: false
                };
              } else if (skillgame.measuring_method == "stopwatch") {
                this.average=t/results.length
                this.top=results[0].time

                this.option = {
                  tooltip: {
                    trigger: "axis"
                  },
                  toolbox: {
                    show: true,
                    feature: {
                      mark: { show: true },
                      dataView: { show: true, readOnly: false },
                      magicType: {
                        show: true,
                        type: ["line", "bar", "stack", "tiled"]
                      },
                      restore: { show: true },
                      saveAsImage: { show: true }
                    }
                  },
                  calculable: true,
                  xAxis: [
                    {
                      type: "category",
                      boundaryGap: false,
                      data: dates,
                      axisLabel: {
                        color: ["#FFFFFF"]
                      }
                    }
                  ],
                  yAxis: [
                    {
                      type: "value",
                      axisLabel: {
                        color: ["#FFFFFF"]
                      }
                    }
                  ],
                  series: [
                    {
                      name: "Time",

                      type: "line",

                      smooth: true,
                      data: times,
                      areaStyle: { normal: { color: "#f7941e" } },

                      itemStyle: {
                        color: "#f7941e"
                      }
                    }
                  ],
                  responsive: true,
                  maintainAspectRatio: false
                };
              }
              }
            });
          this.loading = false;
        }
      });
    },
    export() {
      var temp = [];
      var _headers = ["Date", "Time", "Score"];
      var csvData = new Array();
      csvData.push(["Skill Game", this.sgname]);
      csvData.push(["Player", this.name]);
      csvData.push(["Downloaded", Date(Date.now()).toString()]);
      csvData.push(_headers);
      this.results.forEach(r => {
        csvData.push([r.date, r.time, r.score]);
      });
      var lineArray = [];
      csvData.forEach(function(infoArray, index) {
        var line = infoArray.join(",");
        lineArray.push(index == 0 ? "\uFEFF" + line : line);
      });
      var csvContent = lineArray.join("\n");
      var blob = new Blob([csvContent], { type: "text/csv;charset=utf-8;" });
      var link = document.createElement("a");
      if (link.download !== undefined) {
        link.setAttribute("href", window.URL.createObjectURL(blob));
        link.setAttribute("download", this.name + "_" + ".csv");
        link.setAttribute("hidden", true);
      } else {
        link.setAttribute("href", "#");
      }
      link.click();
    },
    method() {
      $("table").on("click", "th", function() {
        var index = $(this).index(),
          rows = [],
          thClass = $(this).hasClass("asc") ? "desc" : "asc";

        $("#table_players th").removeClass("asc desc");
        $(this).addClass(thClass);

        $("#table_players tbody tr").each(function(index, row) {
          rows.push($(row).detach());
        });

        rows.sort(function(a, b) {
          var aValue = $(a)
              .find("td")
              .eq(index)
              .text(),
            bValue = $(b)
              .find("td")
              .eq(index)
              .text();
          if (isNumeric(aValue)) {
            return aValue - bValue;
          } else if (moment(aValue).toDate() != "Invalid Date") {
            return moment(aValue).toDate() - moment(bValue).toDate();
          } else {
            return aValue > bValue ? 1 : aValue < bValue ? -1 : 0;
          }
        });

        if ($(this).hasClass("desc")) {
          rows.reverse();
        }

        $.each(rows, function(index, row) {
          $("#table_players tbody").append(row);
        });
      });
      function isNumeric(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
      }
    }
  },
  mounted: function() {
    this.getSkillGamesResultsPerPlayer(this.id, this.sgid);
    // this.method()
  }
};
</script>