<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>
    <div class="container is-fluid mobile-padding" v-show="!loading">
      <p class="bold title-p">Players</p>
      <nav class="level" v-if="teams.length>0">
        <div class="level-left">
          <div class="level-item display-block">
            <h5 class="custom-p" v-if="teams.length>1">Select a team</h5>
            <div v-if="!role.includes(4) && teams.length<6" class="tabs is-toggle">
              <ul id="teams-list">
                <li
                  v-for="team in teams"
                  v-bind:key="team.id"
                  v-on:click="bothMethods(team.id, team.name)"
                  v-bind:class="{ 'is-active': isActive == team.id }"
                >
                  <a>{{team.name}}</a>
                </li>
              </ul>
            </div>
            <multiselect
              v-if="role.includes(4) || teams.length>5"
              v-model="value"
              :allow-empty="false"
              :options="options"
              :show-labels="false"
              :close-on-select="true"
              :multiple="false"
              :clear-on-select="false"
              placeholder="Search a team"
              label="name"
              track-by="id"
              @input="bothMethods(value.id, value.name)"
            ></multiselect>
          </div>
        </div>
        <div class="level-right is-mobile">
          <div class="level-item">
            <div class="field has-addons"></div>
          </div>
        </div>
      </nav>
      <p v-if="teams.length<1">No teams available.</p>
      <div class="table-container" v-if="teams.length>0">
        <p v-if="players.length<1">No players available.</p>
        <table
          id="table_players"
          class="table custom-table is-fullwidth is-striped is-hoverable"
          style="overflow-x:scroll"
        >            
          <thead v-if="players.length>0">
            <tr>
              <th @click="sortPlayers('first_name', reverseName); reverseName = !reverseName">Name</th>
              <th @click="sortPlayers('passing', reversePassing); reversePassing = !reversePassing">Passing</th>
              <th @click="sortPlayers('speed', reverseSpeed); reverseSpeed = !reverseSpeed">Speed</th>
              <th @click="sortPlayers('dribbling', reverseDribbling); reverseDribbling = !reverseDribbling">Dribbling</th>
              <th @click="sortPlayers('endurance', reverseEndurance); reverseEndurance = !reverseEndurance">Endurance</th>
              <th @click="sortPlayers('agility', reverseAgility); reverseAgility = !reverseAgility">Agility</th>
              <th @click="sortPlayers('reaction', reverseReaction); reverseReaction = !reverseReaction">Reaction</th>
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="(player,i) in players"
              :key="`${i}-${player.id}`"
              @click.prevent="goto(player.id)"
            >
              <td>{{ player.first_name}} {{player.last_name}}</td>
              <td>{{ player.abilities.passing }}</td>
              <td>{{ player.abilities.speed }}</td>
              <td>{{ player.abilities.dribbling }}</td>
              <td>{{ player.abilities.endurance }}</td>
              <td>{{ player.abilities.agility }}</td>
              <td>{{ player.abilities.reaction }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
import Multiselect from "vue-multiselect";
export default {
  data: function() {
    return {
      loading: true,
      teams: [],
      role: sessionStorage.getItem("role"),
      players: [],
      filter: "",
      isActive: 0,
      value: sessionStorage.getItem("team_id"),
      options: [],
      innerLoader: true,

      //Reverse sorting of the tables in Data/Players
       reverseName: false,
        reversePassing: false,
        reverseSpeed: false,
        reverseDribbling: false,
        reverseEndurance: false,
        reverseAgility: false,
        reverseReaction: false,
    };
  },
  components: {
    multiselect: Multiselect
  },
  name: "PlayersCard",
  methods: {
    sortPlayers(property, reverseProperty) {
        if(this.players){      
            this.players.sort(this.compare(property, reverseProperty));
        }
    },
    compare(property, reverseProperty) {
            if(property === "first_name") {
                return (a,b) => {
                    let result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
                    return this.reverseName ? result * 1 : result * -1;
                }
            }
            else {
                return (a,b) => {
                    let result = (a.abilities[property] < b.abilities[property]) ? -1 : (a.abilities[property] > b.abilities[property]) ? 1 : 0;
                    return reverseProperty ? result * -1 : result * 1;
                }
            }
    },
    goto(num) {
      this.$router.push("/players/achievements/" + num);
    },
    getTeams() {
      if(this.role.includes(4) || this.role.includes(3))
      {
        $.ajax({
        type: "GET",
        url:this.$APIlink + "organisations/"+ sessionStorage.getItem('organisation') +"/teams",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          this.teams = [];
          this.options = [];
          data.data.forEach(p => {
            this.teams.push(p);
            this.options.push(p);
          });
          this.loading=false
          this.isActive = data.data[0].id;
          this.filter = this.isActive;
          this.value = { id:data.data[0].id, name: data.data[0].name };
          if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
          this.setActive(this.value.id, this.value.name);
        }
      });
      }
      else {
                $.ajax({
        type: "GET",
        url:this.$APIlink + "teams",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          this.teams = [];
          this.options = [];
          data.data.forEach(p => {
            this.teams.push(p);
            this.options.push(p);
          });
          this.loading=false
          this.isActive = data.data[0].id;
          this.filter = this.isActive;
          this.value = { id:data.data[0].id, name: data.data[0].name };
          if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
          this.setActive(this.value.id, this.value.name);
        }
      });
      }
    },
    test(teamId) {
      this.filter = teamId;
    },
    setActive(teamId, teamName) {
      sessionStorage.setItem("team_id", JSON.stringify({id: teamId, name: teamName}))
      this.players = [];
      this.isActive = teamId;
      $("#table_players th").removeClass("asc desc");
      this.getPlayersByTeamId(teamId);
    },
    bothMethods(teamId, teamName) {
      if (teamId != null) {
        this.setActive(teamId, teamName);
        this.test(teamId);
      }
    },
    getPlayersByTeamId(id) {
          $.ajax({
            type: "GET",
            url: this.$APIlink + "teams/"+id+"/users/players",
            headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
            dataType: "json",
            success: data => {
              data.data.forEach(element => {
                this.players.push(element);
              });
            }
          });
    },
  },
  mounted: function() {
    this.getTeams();
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>