<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>
     <div v-show="!loading" class="container is-fluid mobile-padding">
      <p class="title-p">Sessions</p>
       <p class="custom-p" v-if="teams.length<1">There are no teams in this organisation.</p>
    <nav class="level" style="display:block">
      <div class="level-left" v-if="teams.length>0">
              <div class="level-item display-block">
                <h5 class="custom-p" v-if="teams.length>1">Select a team</h5>
                <div v-if="teams.length<6" class="tabs is-toggle">
                  <ul id="teams-list">
                    <li
                      v-for="team in teams"
                      v-bind:key="team.id"
                      v-on:click="setActive(team.id, team.name)"
                      v-bind:class="{ 'is-active': isActive == team.id }"
                    >
                      <a>{{team.name}}</a>
                    </li>
                  </ul>
                </div>
                <multiselect
                  v-if="teams.length>5"
                  v-model="value"
                  :allow-empty="false"
                  :options="options"
                  :show-labels="false"
                  :close-on-select="true"
                  :multiple="false"
                  :clear-on-select="false"
                  placeholder="Search a team"
                  label="name"
                  track-by="id"
                  @input="setActive(value.id, value.name)"
                ></multiselect>
              </div>
            </div>
          <div class="level-left" style="display:block;">
            <div class="level-item mobile-block " style="justify-content: normal;">
              <h5 class="custom-p" style="margin-right:10px;">Select a date</h5>
              <figure class="image is-24x24" @click="openPicker()">
                  <img src="../../assets/img/static/calendar-icon.png" />
                </figure>
                      <Datepicker
       :highlighted="highlighted"
       ref="programaticOpen"
        placeholder="Select Date"
        :minimumView="'day'"
        :maximumView="'day'"
        :value="this.pickDate"
        @selected="PickedDate()"
      ></Datepicker>
            </div>
            
            <!-- <h5 class="custom-p" style="margin-right: 10px;">Selected date: {{this.d}}</h5> -->
          </div>
        </nav>
        <div style="text-align: center;">
      <p class="custom-p" ref="message"> </p>
      <p class="custom-p" v-if="r[0]==null"> There are no results on that day.</p>
        </div>
        <div v-if="r!=null">
      <div
        class="column is-multiline hover-test-box "
        v-for="res in r"
        :key="res.id"
        :value="res.date"
        @click="gotoSingleSession(res.date)"
        
      >
      
        <div class="column is-full ">
          <div class="columns" style="text-align:center;">
            <div class="column">
              <!-- <p class="custom-p">{{res.testname}}</p> -->
            </div>
            <div class="column">
              <p class="custom-p">{{res.date}}</p>
            </div>
            <div class="column">
              <!-- <p class="custom-p">{{res.location}}</p> -->
            </div>
          </div>
        </div>
        <div class="column is-full">
          <div class="columns is-multiline">
            <div
              class="column"
              v-for="skillgame in res.sg"
              :key="skillgame.id"
              style="background-color:#353535; padding:10px; margin:2px; min-width:250px; max-width:260px; "
            >
              <p>{{skillgame.skillgamename}}</p>
              <figure class="image orange-border is-2by1" style="max-width:250px;  ">
                <img class="low-opacity static" :src="skillgame.image" style="max-height:250px;" />
                <!-- <img class="active" :src="skillgame.gif"> -->
              </figure>
              <table class="table custom-table" style="max-width: 300px;">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Time</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="rs in skillgame.results" :key="rs.id">
                    <td>{{rs.users[0].first_name}}</td>
                    <td>{{rs.time}}</td>
                    <td>{{rs.score}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
import moment from "moment";
import Datepicker from "vuejs-datepicker";
import Multiselect from "vue-multiselect";
export default {
  data: function() {
    return {
      loading: true,
      d: moment().format("DD-MMM-YYYY"),
      r: null,
      message: '',
      teams: [],
      isActive: 0,
      results:[],
      value:[],
      option:[],
      role: sessionStorage.getItem("role"),
      highlighted: {},
      pickDate: new Date(),
    };
  },
  components: {
    Datepicker,
    multiselect: Multiselect
  },
  name: "Sessions",
  methods: {
    gotoSingleSession(date) {
          this.$router.push('tests/session/' + new Date(date))
    },
    getAllTestsDates(id) {
       this.highlighted={}
        $.ajax({
        type: "GET",
        url: this.$APIlink + "teams/"+ id + "/users/players/results",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          var mas = []
          data.data.forEach(result => {
            var y = new Date(result.date_saved).getFullYear();
            var m = new Date(result.date_saved).getMonth();
            var d = new Date(result.date_saved).getDate();
            mas.push(new Date(y, m, d));
          })
          this.highlighted = {
            dates: mas,
            includeDisabled: true
          }
          this.loading=false
        }
      })
    },
    getDateResults(val, id) {
      this.r=[]
      this.d= moment(val).format("DD-MMM-YYYY");
      if(this.$refs.message){
          this.$refs.message.innerText="";
      }
      var skillgamesarr=[]
      var mas = []
      
      $.ajax({
        type: "GET",
        url: this.$APIlink + "skillgames",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {

          data.data.forEach(sg => {
            var d={skill_game_id: sg.id, limit:3, date: val }
            if (data.data.measuring_method == "stopwatch") 
            {
              d.order_by_time= 'ASC'
            } else {
              d.order_by_score= 'DESC'
            }
            $.ajax({
            type: "GET",
            url: this.$APIlink + "teams/"+id+"/users/players/results",
            headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
            data: d,
            success: data => {
              if(data.data.length<1)
              {
                this.loading=false
                // this.$refs.message.innerText="There are no results on " + moment(val).format("DD-MMM-YYYY");
              }
              if(data.data.length>0)
              {
                data.data.forEach(result => {
                mas.push(result)
                });
              // this.$refs.message.innerText="";
              skillgamesarr.push({skillgamename: sg.title, image: sg.instruction_image_path, results: mas})
              this.r = [{ date: moment(val).format("DD-MMM-YYYY"), sg: skillgamesarr }];
              this.loading=false
              }
            }
          });
          });
    
        }
        })

    },
    getTeams() { 
      if (this.role.includes(4) || this.role.includes(3)) {
        $.ajax({
          type: "GET",
          url:
            this.$APIlink +
            "organisations/" +
            sessionStorage.getItem("organisation") +
            "/teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      } else {
        $.ajax({
          type: "GET",
          url: this.$APIlink + "teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      }
    },
    openPicker() {
      this.$refs.programaticOpen.showCalendar();
    },
    PickedDate(){
      this.pickDate= this.$refs.programaticOpen.selectedDate;
         var y= new Date(this.pickDate).getFullYear()
            var m= new Date(this.pickDate).getMonth()
            var d= new Date(this.pickDate).getDate()
            var newdate= new Date(y,m,d)
       this.gotoSingleSession(newdate);
    
    },
    setActive(teamId, teamName) {
      this.isActive = teamId;
      this.loading=true
      sessionStorage.setItem("team_id", JSON.stringify({id: teamId, name: teamName}))
      this.getAllTestsDates(teamId)
      var y= new Date().getFullYear()
      var m=new Date().getMonth()
      var d= new Date().getDate()
      var fulldate= new Date(y,m,d)
      fulldate= moment(fulldate).format('YYYY-MM-DD');
      this.getDateResults(fulldate, teamId)
    }
  },
  mounted: function() {
    this.getTeams()
    // var y= new Date().getFullYear()
    // var m=new Date().getMonth()
    // var d= new Date().getDate()
    // var fulldate= new Date(y,m,d)
    // fulldate= moment(fulldate).format('YYYY-MM-DD');
    // this.getDateResults(fulldate, this.value.id)
  }
};
</script>
