<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>
    <div v-show="!loading" class="container is-fluid mobile-padding">
      <p class="title-p">Daily Session Overview</p>
      <nav class="level">
        <div class="level-left" style="display:block;">
          <div class="level-item mobile-block " style="justify-content: normal;">
            <h5 class="custom-p" style="margin-right: 10px;">Select a date</h5>
            <figure class="image is-24x24" @click="openPicker()">
              <img src="../../assets/img/static/calendar-icon.png" />
            </figure>
            <Datepicker
              :highlighted="highlighted"
              ref="programaticOpen"
              placeholder="Select Date"
              :minimumView="'day'"
              :maximumView="'day'"
              :value="this.pickDate"
              @selected="PickedDate()"
            ></Datepicker>
          </div>
          <!-- <h5 class="custom-p" style="margin-right: 10px;">Selected date: {{this.d}}</h5> -->
          <div class="level-left" v-if="teams.length>0">
            <div class="level-item display-block">
              <h5 class="custom-p" v-if="teams.length>1">Select a team</h5>
              <div v-if="teams.length<6" class="tabs is-toggle">
                <ul id="teams-list">
                  <li
                    v-for="team in teams"
                    v-bind:key="team.id"
                    v-on:click="setActive(team.id, team.name)"
                    v-bind:class="{ 'is-active': isActive == team.id }"
                  >
                    <a>{{team.name}}</a>
                  </li>
                </ul>
              </div>
              <multiselect
                v-if="teams.length>5"
                v-model="value"
                :allow-empty="false"
                :options="options"
                :show-labels="false"
                :close-on-select="true"
                :multiple="false"
                :clear-on-select="false"
                placeholder="Search a team"
                label="name"
                track-by="id"
                @input="setActive(value.id, value.name)"
              ></multiselect>
            </div>
          </div>
        </div>
      </nav>
      <div style="text-align: center;">
        <p class="custom-p" ref="message"></p>
        <p class="custom-p" v-if="r[0]==null"> There are no results on that day.</p>

      </div>
      <div class="column is-full" v-for="res in r" v-bind:key="res.id">
          <!--  <div class="column is-full ">
          <div class="column"  style="text-align:center;">
              <p class="custom-p">{{res.date}}</p>
            </div>
        </div>-->
          <div class="columns" style=" padding: 20px; margin-bottom: 20px; background-color: #353535;"
              v-for="skillgame in res.sg" v-bind:key="skillgame.id">
              <div class="column is-one-quarter-widescreen is-one-third-desktop is-full-mobile">
                  <p class="custom-p orange-text title-p">{{skillgame.skillgamename}}</p>
                  <figure class="image orange-border is-2by1"
                      style="margin: 5px 20px; max-height:150px; margin-left:0px; margin-bottom:15px;">
                      <img class="static" :src="skillgame.image" alt="Placeholder image" />
                      <img class="active" :src="skillgame.gif" />
                  </figure>
              </div>
              <div class="column is-three-quarter-widescreen is-two-third-desktop is-three-quarter-tablet is-half-mobile"
                  style="padding-left:10px;">
                  <table class="table custom-table">
                      <thead>
                          <tr>
                              <th>Player</th>
                              <th>Time</th>
                              <th>Score</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr v-for="rs in skillgame.results" :key="rs.id">
                              <td>{{rs.users[0].first_name}} {{rs.users[0].last_name}}</td>
                              <td>{{rs.time}}</td>
                              <td>{{rs.score}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </div>
  </section>
</template>


<script>
import $ from "jquery";
import moment from "moment";
import Datepicker from "vuejs-datepicker";
import Multiselect from "vue-multiselect";
var token = new FormData();
token.set("token", sessionStorage.getItem("token"));

export default {
  data: function() {
    return {
      loading: true,
      d: moment(String(this.id)).format("DD-MMM-YYYY"),
      r: [],
      value: [],
      option: [],
      teams: [],
      highlighted: {},
      pickDate: new Date(),
      role: sessionStorage.getItem("role")
    };
  },
  props: ["id"],
  components: {
    Datepicker,
    multiselect: Multiselect
  },
  name: "SingleSession",
  methods: {
    openPicker() {
      this.$refs.programaticOpen.showCalendar();
    },
    PickedDate() {
      this.$refs.message.innerText = "";
      this.loading = true;
      this.pickDate = this.$refs.programaticOpen.selectedDate;
      var newdate = moment(this.pickDate).format("YYYY-MM-DD");
      this.getDateResults(newdate, this.value.id);
    },
    getAllTestsDates(id) {
      $.ajax({
        type: "GET",
        url: this.$APIlink + "teams/" + id + "/users/players/results",
        headers: { Authorization: `Bearer ${sessionStorage.getItem("token")}` },
        success: data => {
          var mas = [];
          data.data.forEach(result => {
            var y = new Date(result.date_saved).getFullYear();
            var m = new Date(result.date_saved).getMonth();
            var d = new Date(result.date_saved).getDate();
            mas.push(new Date(y, m, d));
          });
          this.highlighted = {
            dates: mas,
            includeDisabled: true
          };
          this.loading=false
        }
      });
    },
    gotoSingleSession(date) {
      this.$router.push({
        name: "SingleSession",
        params: { id: new Date(date) }
      });
    },
    getTeams() {
      if (this.role.includes(4) || this.role.includes(3)) {
        $.ajax({
          type: "GET",
          url:
            this.$APIlink +
            "organisations/" +
            sessionStorage.getItem("organisation") +
            "/teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      } else {
        $.ajax({
          type: "GET",
          url: this.$APIlink + "teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      }
    },
    setActive(teamId, teamName) {
      this.loading=true
      this.isActive = teamId;
      sessionStorage.setItem("team_id", JSON.stringify({id: teamId, name: teamName}))
      this.getAllTestsDates(teamId);
      var fulldate = moment(this.d).format("YYYY-MM-DD");
      this.getDateResults(fulldate, teamId);
    },
    getDateResults(val, id) {
      this.r = [];
      this.d = moment(val).format("DD-MMM-YYYY");
      if(this.$refs.message) {
          this.$refs.message.innerText = "";
      }
      var skillgamesarr = [];
      var mas =  []; // Not used
      let mass = new Map();
      $.ajax({
        type: "GET",
        url: this.$APIlink + "skillgames",
        headers: { Authorization: `Bearer ${sessionStorage.getItem("token")}` },
        success: data => {
          data.data.forEach(sg => {
            var d = { skill_game_id: sg.id, limit: 3, date: val };
            if (data.data.measuring_method == "stopwatch") {
              d.order_by_time = "ASC";
            } else {
              d.order_by_score = "DESC";
            }
            $.ajax({
              type: "GET",
              url: this.$APIlink + "teams/" + id + "/users/players/results",
              headers: {
                Authorization: `Bearer ${sessionStorage.getItem("token")}`
              },
              data: d,
              success: data => {
                if (data.data.length < 1) {
                  this.loading = false;
                }
                else {
                  data.data.forEach(result => {
                    mas.push(result); // Not used
                    mass.set(sg, data.data);
                  });
                  skillgamesarr.push({
                    skillgamename: sg.title,
                    image: sg.instruction_image_path,
                    results: mass.get(sg),
                  });
                  this.r = [
                    {
                      date: moment(val).format("DD-MMM-YYYY"),
                      sg: skillgamesarr
                    }
                  ];
                  this.loading = false;
                }
              }
            });
          });
        }
      });
    }
  },

  mounted: function() {
    this.getTeams();
  }
};
</script>
