<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>
    <div class="container is-fluid mobile-padding" v-bind:class="{ 'hidden' : loading}">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <p
              class="bold"
              @click.prevent="gotoTeams()"
              style="margin-right:5px;cursor:pointer;"
            >Teams / </p>
            <p class="orange-text bold">{{this.teamName}}</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item full-width">
            <a id="grid" class="view-btn" @click.prevent="gotoGrid()">
              <svg
                class="orange"
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 24 24"
              >
                <path
                  d="M6 6h-6v-6h6v6zm9-6h-6v6h6v-6zm9 0h-6v6h6v-6zm-18 9h-6v6h6v-6zm9 0h-6v6h6v-6zm9 0h-6v6h6v-6zm-18 9h-6v6h6v-6zm9 0h-6v6h6v-6zm9 0h-6v6h6v-6z"
                />
              </svg>
            </a>

            <a id="grid-list" class="view-btn" @click.prevent="gotoListGrid()">
              <svg
                class="orange"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M4 22h-4v-4h4v4zm0-12h-4v4h4v-4zm0-8h-4v4h4v-4zm3 0v4h17v-4h-17zm0 12h17v-4h-17v4zm0 8h17v-4h-17v4z"
                />
              </svg>
            </a>
            <a id="list" class="view-btn active">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z" />
              </svg>
            </a>
          </div>
        </div>
      </nav>
      <p v-if="players.length<1">No players available.</p>
      <div class="table-container" style="padding:10px;" v-if="players.length>0">
        <table id="table_players" class="table custom-table is-fullwidth is-striped is-hoverable" >
          <thead>
              <th >Name</th>
              <th >Passing</th>
              <th >Speed</th>
              <th  >Dribbling</th>
              <th  >Endurance</th>
              <th  >Agility</th>
              <th  >Reaction</th>
          </thead>
          <tbody>
            <tr
              v-for="(player,i) in players"
              :key="`${i}-${player.id}`"
              @click.prevent="goto(player.id)"
            >
              <td>{{ player.player_name }}</td>
              <td>{{ player.passing }}</td>
              <td>{{ player.speed }}</td>
              <td>{{ player.dribbling }}</td>
              <td>{{ player.endurance }}</td>
              <td>{{ player.agility }}</td>
              <td>{{ player.reaction }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
export default {
  props: ["id"],
  data: function() {
    return {
      teamName: "",
      teamId: this.id,
      players: [],
      loading: true
    };
  },
  name: "TeamAchievements",
  methods: {
    goto(num) {
      this.$router.push("/players/achievements/" + num);
    },
    gotoTeams() {
      this.$router.push("/team");
    },
    gotoListGrid() {
      this.$router.push(
        "/team/achievementslistgrid/" + this.id 
      );
    },
    gotoGrid() {
      this.$router.push("/team/achievementsgrid/" + this.id);
    },
    async test() {
                        await $.ajax({
                type: "GET",
                url: this.$APIlink + "teams/"+this.teamId,
                headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
                dataType: "json",
                success: data => {
                    this.teamName = data.data.name;
                }
            });

      this.players = [];
      await $.ajax({
      type: "GET",
      url: this.$APIlink + "teams/"+this.teamId+"/users/players",
      headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
      dataType: "json",
      success: data => {
        data.data.forEach(element => {
          this.players.push({
            id: element.id,
            player_name: element.first_name + " " + element.last_name,
            passing: element.abilities.passing,
            speed:  element.abilities.speed,
            dribbling:  element.abilities.dribbling,
            endurance:  element.abilities.endurance,
            agility:  element.abilities.agility,
            reaction:  element.abilities.reaction
          });
        });
        this.loading=false;
      }
    });
W
    },
    method() {
      $("table").on("click", "th", function() {
        var index = $(this).index(),
          rows = [],
          thClass = $(this).hasClass("asc") ? "desc" : "asc";
          
        $("#table_players th").removeClass("asc desc");
        $(this).addClass(thClass);

        $("#table_players tbody tr").each(function(index, row) {
          rows.push($(row).detach());
        });

        rows.sort(function(a, b) {
          var aValue = $(a)
              .find("td")
              .eq(index)
              .text(),
            bValue = $(b)
              .find("td")
              .eq(index)
              .text();
          if (isNumeric(aValue)) {
            return aValue - bValue;
          } 
          else {
            return aValue > bValue ? 1 : aValue < bValue ? -1 : 0;
          }
        });

        if ($(this).hasClass("desc")) {
          rows.reverse();
        }

        $.each(rows, function(index, row) {
          $("#table_players tbody").append(row);
        });
      });
    function isNumeric(n) {
      return !isNaN(parseFloat(n)) && isFinite(n);
    }
    } 

  },
  mounted: function() {
    this.test()
   },
};
</script>