<template>
  <section class="section">
    <div class="container is-fluid mobile-padding">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="bold" @click.prevent="gotoTeams()" style="margin-right:5px;">
              Teams /
            </p>
            <p class="orange-text bold">{{teamName}}</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item full-width">
            
            <a id="grid" class="view-btn" @click.prevent="gotoGrid()">
              <svg
                class="orange"
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 24 24"
              >
                <path
                  d="M6 6h-6v-6h6v6zm9-6h-6v6h6v-6zm9 0h-6v6h6v-6zm-18 9h-6v6h6v-6zm9 0h-6v6h6v-6zm9 0h-6v6h6v-6zm-18 9h-6v6h6v-6zm9 0h-6v6h6v-6zm9 0h-6v6h6v-6z"
                />
              </svg>
            </a>
          
            
              <a id="grid-list" class="view-btn">
                <svg
                  class="active"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M4 22h-4v-4h4v4zm0-12h-4v4h4v-4zm0-8h-4v4h4v-4zm3 0v4h17v-4h-17zm0 12h17v-4h-17v4zm0 8h17v-4h-17v4z"
                  />
                </svg>
              </a>
           
            
              <a id="list" class="view-btn orange" @click.prevent="gotoList()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z" />
                </svg>
              </a>
           
          </div>
        </div>
      </nav>
      <p v-if="players.length<1">No players available.</p>
      <div v-for="player in players"
          v-bind:key="player.id">
          <div class="column shield-box-hover" style="background-color: #353535; margin-bottom:20px; overflow-x:hidden;" v-on:click="goto(player.id)" >
            <div class="columns is-multiline">
              <div class="column" style="min-width: 250px; float:left">
                <div class="container">
                  <div class="sl-player-shield masked">
                    <div class="sl-shield-top" style="max-height:100%;">
                       <div class="sl-shield-total" style="display:grid;">
                        <span class="average-abilities">{{ player.average }}</span>
                        <span style="font-size:16px;">{{player.position}}</span>
                      </div>
                      <div class="sl-shield-player-img" style="padding:0">
                        <img :src="player.image" />
                      </div>
                    </div>
                    <div class="sl-shield-middle">
                      <span>{{player.player_name}}</span>
                    </div>
                    <div class="sl-shield-bottom">
                      <div class="sl-bottom-left">
                        <div class="skill">
                          <span>{{player.speed}}</span>
                          <label>SPD</label>
                        </div>
                        <div class="skill">
                          <span>{{player.passing}}</span>
                          <label>PAS</label>
                        </div>
                        <div class="skill">
                          <span>{{player.dribbling}}</span>
                          <label>DRI</label>
                        </div>
                      </div>

                      <div class="sl-bottom-divider"></div>
                      <div class="sl-bottom-right">
                        <div class="skill">
                          <span>{{player.agility}}</span>
                          <label>AGI</label>
                        </div>
                        <div class="skill">
                          <span>{{player.reaction}}</span>
                          <label>REA</label>
                        </div>
                        <div class="skill">
                          <span>{{player.endurance}}</span>
                          <label>END</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column" style="padding:20px 0;min-width: 250px; float:left">
                <p class="bold" style="font-size:30px;">{{player.player_name}}</p>
                <br>
                <table class="table custom-table" style="line-height:1;">
                  <tbody>
                    <tr>
                      <th>Age:</th>
                      <td>{{player.age}}</td>
                    </tr>
                    <tr>
                      <th>Height:</th>
                      <td>{{player.height}}</td>
                    </tr>
                    <tr>
                      <th>Weight:</th>
                      <td>{{player.weight}}</td>
                    </tr>
                    <!-- <tr>
                      <th>Number:</th>
                      <td>{{player.id}}</td>
                    </tr> -->
                    <!-- <tr>
                      <th>Foot:</th>
                      <td>Left</td>
                    </tr> -->
                    <tr>
                      <th>Position:</th>
                      <td>{{player.posText}}</td>
                    </tr>
                    <tr>
                      <th>Strength:</th>
                      <td>{{player.strength}}</td>
                    </tr>
                    <tr>
                      <th>Weakness:</th>
                      <td>{{player.weakness}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="column" style="padding:20px 0;min-width: 350px; float:left">
                <div>
                  <v-chart :options="player.option"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div id="containerA" style="height: 100%; width:100%;"></div> -->
      
  </section>
</template>
<script src="https://cdn.jsdelivr.net/npm/vue-echarts@4.0.2"></script>
<script>
import Vue from 'vue'
import ECharts from "vue-echarts";
import echarts from "echarts/dist/echarts"
import "echarts/lib/chart/bar";
import "echarts/lib/component/tooltip";
import "echarts/lib/chart/radar";
import "echarts/dist/echarts.min.js";
var players = [];
var players_nr = [];
import $ from "jquery";
export default {
  props: ['id','name'],
  components: {
    'v-chart': ECharts
  },
  data () {
    return {
      loading: false,
      teamName: "",
      teamId: this.id,
      players: [],
    };
  },

  name: "TeamAchievements",
  methods: {
    goto(num) {
          this.$router.push('/players/achievements/'+ num)
    },
     gotoTeams() {
          this.$router.push('/team')
    },
   gotoGrid() {
          this.$router.push('/team/achievementsgrid/'+ this.id )
    },
    gotoList() {
          this.$router.push('/team/achievementslist/'+ this.id)
    },
    async test() {
                        await $.ajax({
                type: "GET",
                url: this.$APIlink + "teams/"+this.teamId,
                headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
                dataType: "json",
                success: data => {
                    this.teamName = data.data.name;
                }
            });
      this.players = [];
            $.ajax({
            type: "GET",
            url: this.$APIlink + "teams/"+this.teamId+"/users/players",
            headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
            dataType: "json",
            success: data => {
              data.data.forEach(element => {
              this.players.push({
            id: element.id,
             player_name: element.first_name + " " + element.last_name,
             image: element.profile_picture_path,
             age: element.age,
            height: element.height,
            weight: element.weight,
            passing: element.abilities.passing,
            speed: element.abilities.speed,
            dribbling: element.abilities.dribbling,
            endurance: element.abilities.endurance,
            agility:element.abilities.agility,
            reaction: element.abilities.reaction,
            posText: element.preferred_field_position.name,
            strength: element.abilities.details.strongest,
            weakness: element.abilities.details.weakest,
            position: element.preferred_field_position.name_short,
            average: element.abilities.details.average,
            option: {
      
        tooltip: {},
        radar: {
      
          name: {
            textStyle: {
              color: "#fff",
                    borderRadius: 2,
                    padding: [0, 0],
                    fontSize: "9.5"
            }
          },
          indicator: [
            { name: "Endurance", max: 100 },
            { name: "Agility", max: 100 },
            { name: "Reaction", max: 100 },
            { name: "Dribbling", max: 100 },
            { name: "Passing", max: 100 },
            { name: "Speed", max: 100 }
          ]
        },
        series: [
          {
            type: "radar",
            areaStyle: {normal: { color: "#f7941e"}},
            
            itemStyle: {
                color: "#f7941e",       
            },
            data: [
              {
                value: [element.abilities.endurance, element.abilities.agility, element.abilities.reaction, element.abilities.dribbling,element.abilities.passing, element.abilities.speed],
                name: "Abilities"
              }
            ]
          }
        ],
      }
          })
              });
              this.loading=false;
            }
            })
    },
    getChart() {
      return { option: {
        tooltip: {},
        radar: {
          // shape: 'circle',
          name: {
            textStyle: {
              color: "#fff",
              backgroundColor: "#999",
              borderRadius: 2,
              padding: [0, 0],
              fontSize: "9.5"
            }
          },
          indicator: [
            { name: "Endurance", max: 100 },
            { name: "Agility", max: 100 },
            { name: "Reaction", max: 100 },
            { name: "Dribbling", max: 100 },
            { name: "Passing", max: 100 },
            { name: "Speed", max: 100 }
          ]
        },
        series: [
          {
            type: "radar",
            areaStyle: {normal: { color: "#f7941e"}},
            
            itemStyle: {
                // Color in emphasis state.
                color: "#f7941e",
                
            },
            data: [
              {
                value: [45, 23, 56, 43, 16, 76],
                name: "Abilities"
              }
            ]
          }
        ],
      }
      }
    },
  },
  mounted: function() {
    this.test();
  }
};
</script>
