<template>
  <section class="section">
    <div class="container is-fluid mobile-padding">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="bold" @click.prevent="gotoTeams()" style="margin-right:5px;">
              Teams /
            </p>
            <p class="orange-text bold" > {{this.teamName}}</p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item full-width">
            <a id="grid" class="view-btn">
              <svg
                class="active"
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                viewBox="0 0 24 24"
              >
                <path
                  d="M6 6h-6v-6h6v6zm9-6h-6v6h6v-6zm9 0h-6v6h6v-6zm-18 9h-6v6h6v-6zm9 0h-6v6h6v-6zm9 0h-6v6h6v-6zm-18 9h-6v6h6v-6zm9 0h-6v6h6v-6zm9 0h-6v6h6v-6z"
                />
              </svg>
            </a>
              <a id="grid-list" class="view-btn" @click.prevent="gotoListGrid()">
                <svg
                class="orange"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M4 22h-4v-4h4v4zm0-12h-4v4h4v-4zm0-8h-4v4h4v-4zm3 0v4h17v-4h-17zm0 12h17v-4h-17v4zm0 8h17v-4h-17v4z"
                  />
                </svg>
              </a>
  
              <a id="list" class="view-btn orange" @click.prevent="gotoList()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z" />
                </svg>
              </a>
          </div>
        </div>
      </nav>
           <p v-if="players.length<1">No players available.</p>
           <div class="columns is-multiline" style="background-color: #353535;">
        <div class="column " style="min-width: 250px; " v-for="player in players" v-bind:key="player.id"
>
          
          <div class="container shield-hover">
            <div class="sl-player-shield masked " v-on:click="goto(player.id)">
              <div class="sl-shield-top" style="max-height:100%;">
                <div class="sl-shield-total" style="display:grid;">
                  <span class="average-abilities">{{player.average}}</span>
                  <span style="font-size:16px;">{{player.position}}</span>
                </div>
                <div class="sl-shield-player-img" style="padding:0">
                  <img v-bind:src="player.image" />
                </div>
              </div>
              <div class="sl-shield-middle">
                <span>{{player.player_name}}</span>
              </div>
              <div class="sl-shield-bottom">
                <div class="sl-bottom-left">
                  <div class="skill">
                    <span>{{player.speed}}</span>
                    <label>SPD</label>
                  </div>
                  <div class="skill">
                    <span>{{player.passing}}</span>
                    <label>PAS</label>
                  </div>
                  <div class="skill">
                    <span>{{player.dribbling}}</span>
                    <label>DRI</label>
                  </div>
                </div>

                <div class="sl-bottom-divider"></div>
                <div class="sl-bottom-right">
                  <div class="skill">
                    <span>{{player.agility}}</span>
                    <label>AGI</label>
                  </div>
                  <div class="skill">
                    <span>{{player.reaction}}</span>
                    <label>REA</label>
                  </div>
                  <div class="skill">
                    <span>{{player.endurance}}</span>
                    <label>END</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      
      </div>
   
    </div>
  </section>
</template>

<script>
var players = [];
var players_nr = [];
import $ from "jquery";
export default {
  props: ['id','name'],
  data: function() {
    return {
      loading: false,
      teamName: "",
      teamId: this.id,
      players: []
    };
  },

  name: "TeamAchievementsGrid",
  methods: {
    goto(num) {
          this.$router.push('/players/achievements/'+ num)
    },
     gotoTeams() {
          this.$router.push('/team')
    },
     gotoListGrid() {
          this.$router.push('/team/achievementslistgrid/'+ this.id)
    },
    gotoList() {
          this.$router.push('/team/achievementslist/'+ this.id)
    },
    async test() {

                    await $.ajax({
                type: "GET",
                url: this.$APIlink + "teams/"+this.teamId,
                headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
                dataType: "json",
                success: data => {
                    this.teamName = data.data.name;
                }
            });

      this.players = [];
            $.ajax({
            type: "GET",
            url: this.$APIlink + "teams/"+this.teamId+"/users/players",
            headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
            dataType: "json",
            success: data => {
              data.data.forEach(element => {
              this.players.push({
            id: element.id,
             player_name: element.first_name + " " + element.last_name,
             image: element.profile_picture_path,
            passing: element.abilities.passing,
            speed: element.abilities.speed,
            dribbling: element.abilities.dribbling,
            endurance: element.abilities.endurance,
            agility:element.abilities.agility,
            reaction: element.abilities.reaction,
            posText: element.preferred_field_position.name,
            position: element.preferred_field_position.name_short,
            average: element.abilities.details.average,
          })
              });
              this.loading=false;
            }
            })
    },
  },
  mounted: function() {
    this.test();
  }
};
</script>