<script>

</script>
<template>
  <section class="section">
     <div class="loadingscreen " v-if="loading">
      <img src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"> 
    </div>
    <div class="container is-fluid mobile-padding" v-show="!loading">
      <p class="title-p ">Teams</p>
      <p v-if="teams.length<1">No teams available.</p>
      <div class="columns is-multiline">
        <div class="column hover is-6-mobile is-4-tablet is-2-desktop is-2-widescreen left-float" v-for="team in teams"
          v-bind:key="team.id" @click.prevent="goto(team.id)">
          <div class="card-image hover-card-image" style="margin-right: 10px;">
              <figure class="image is-square">
                <img class="img-ob" style="object-fit: contain;" :src="team.logo_path" onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';">
              </figure>
              <footer class="card-footer">
                <h4 class="card-footer-item">{{team.name}}</h4>
              </footer>
            </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
export default {
  data: function() {
    return {
      loading: true,
      role: sessionStorage.getItem("role"),

      teams: []
    };
  },
  name: "DataTeamCard",
  methods: {
     goto(num, name) {
        this.$router.push('/team/achievementslistgrid/'+ num);
    },
    getTeams() {
      if(this.role.includes(4) || this.role.includes(3))
      {
        $.ajax({
        type: "GET",
        url:this.$APIlink + "organisations/"+ sessionStorage.getItem('organisation') +"/teams",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          this.teams = [];
          this.options = [];
          data.data.forEach(p => {
            this.teams.push(p);
            this.options.push(p);
          });
          this.loading=false
        }
      });
      } else {
                $.ajax({
        type: "GET",
        url:this.$APIlink + "teams",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          this.teams = [];
          this.options = [];
          data.data.forEach(p => {
            this.teams.push(p);
            this.options.push(p);
          });
          this.loading=false
          this.isActive = data.data[0].id;
          this.filter = this.isActive;
          this.value = { name: data.data[0].name };
        }
      });
      }
    },

  },
  mounted: function() {
    this.getTeams();
  }
  
};
</script>