<template>
  <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img class="sl-logo" :src="this.$FullLogo">
      </a>

      <a role="button" class="navbar-burger burger" @click="showNav = !showNav" :class="{ 'is-active': showNav }" aria-label="menu" aria-expanded="false" data-target="navbar-content">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-content" class="navbar-menu" :class="{ 'is-active': showNav }">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
          <div class="navbar-item">
              <div style="display:flex; margin:auto 0;" v-if="this.organisations.length>1">
                  <h6 style="font-size: 13px; margin-right: 5px; margin-left: 13px;">Org: </h6>
                  <h6 style="font-size: 13px;" v-if="this.organisations.length<2"> {{this.value.name}} </h6>
                  <select style="cursor:pointer" id="select" v-bind:class="{ multiple: this.organisations.length>1 }"
                      :disabled="this.organisations.length<=1" v-model="value" v-on:change="changeOrg()">
                      <option v-for="org in this.organisations" :value="org.id" :key="org.id">{{org.name}}</option>
                  </select>
              </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable" id="logout-dropdown">
              <a class="navbar-link ">
                  <span class="sl-user-name">{{name }}</span>
                  <div class="sl-user-img-holder">
                      <img class="sl-user-img" :src="img">
                  </div>
                  <div class="navbar-dropdown ">
                      <a @click.prevent="logout" class="navbar-item">
                          Log out
                      </a>
                  </div>
              </a>
          </div>
      </div>
    </div>
  </nav>
</template>

<script>
import $ from "jquery"
export default {
  data: function() {
    return {
      showNav: false,
      name: '',
      img: '',
      value: '',
      organisations: []
    }
  },
  methods: {
    logout() {
     this.$store.dispatch('logout')
        .then(() => {
          this.$router.push('/login')
        })
    },
    getOrganisations() {
      this.organisations = [];
      $.ajax({
        type: "GET",
        url: this.$APIlink + "organisations",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(org => {
            this.organisations.push(org);
          });
          this.value= this.organisations[0].id
          this.changeOrg()
        }
      });
      this.loading=false;
    },
    changeOrg() {
      this.$emit('refresh', true)
      sessionStorage.setItem('organisation', this.value);
      var name = this.organisations.filter(x => x.id === this.value)[0].name;
      sessionStorage.removeItem("team_id")
      sessionStorage.setItem('organisation_name', name);
    },
    getProfile() {
       var hasSuccess = false;
      $.ajax({
        url:  this.$APIlink +"users/me",
        dataType: "json",
        "method": "GET",
        "timeout": 0, headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          sessionStorage.setItem("name",data.data.first_name + " " + data.data.last_name);
          sessionStorage.setItem("image", data.data.profile_picture_path);
          sessionStorage.setItem("id", data.data.id);
          this.name = sessionStorage.getItem('name');
          this.img = sessionStorage.getItem('image');
        }
      });

      return hasSuccess;
    },
  },
  mounted: function() {
    this.getProfile();
    this.getOrganisations();
  }
  
}
</script>
<style scoped>
select {
  background: transparent;
    color: white;
    border: none;
}
.multiple {
  color: orange;
}
#logout-dropdown > a{
    display: flex;
    align-items: center;
}
</style>