<template>
<section class="hero is-primary is-fullheight" style="height:94vh" v-if="!isLoggedIn">
  <div class="hero-body">
    <div  class="container" style="margin-bottom:100px;">
      <div class="columns is-centered">
        
        <div class="column is-full-mobile is-8-tablet is-7-desktop is-6-widescreen">
          <figure style="width:250px; height:50px; margin:auto;"> 
            <img :src="this.$FullLogo">
          </figure>
            <p ref="message" style="color:red;"> </p>
            <div style="text-align:center;">
            <div class="field">
              <label for="" class="label"></label>
              <div class="control has-icons-left">
                <input type="text" placeholder="Username" class="input email" ref="email">
                <span class="icon is-small is-left">
                  <font-awesome-icon :icon="[ 'fas','user']" />
                </span>
              </div>
            </div> 
            <div class="field">
              <label for="" class="label"></label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input pass" ref="password">
                <span class="icon is-small is-left">
                  <font-awesome-icon :icon="[ 'fas','lock']" />
                </span>
              </div>
            </div>
           
            <div> 
            <modal
              v-if="showModal"
              @close="showModal = false"
              @confirm="SendPasswordChange()">
              <div slot="header">
                <a class="floatr" style="color:black;" @click="showModal = false">x</a>
              </div>
              <div slot="body">
                <div style="text-align:left;">
                  <p>Please enter your username.</p>
                
               <div class="field">
              <label for="" class="label"></label>
              <div class="control has-icons-left">
                <input type="email" placeholder="Username" class="input email" ref="usernameChange">
                <span class="icon is-small is-left">
                  <font-awesome-icon :icon="[ 'fas','user']" />
                </span>
              </div>
              <p ref="messageinModal" style="color:red;"> </p>
              </div>
            </div>
              </div>
            </modal>
            <modalOK v-if="showSuccessModal" @close="showSuccessModal = false" status="Success">
                <div slot="body">
                  <p>Email sent successfully! Please check your inbox.</p>
                </div>
            </modalOK>
            <modalOK v-if="showErrorModal" @close="showErrorModal = false" status="NotSuccess">
                <div slot="body">
                  <p>User with this username does not exist!</p>
                </div>
            </modalOK>
            </div>
            </div>
            <div class="field" style="margin-top:20px;">
              <button @click.prevent="LogIn" type="button" class="button orangebtn" style="width:100%;">
                Log in
              </button>
              <div>
               <div style="margin-top: 10px; text-align:left;">Forgot password? <a v-on:click="showModal=true" >Reset password. </a> </div> <div>No account? <a v-on:click="gotoRegistration" >Contact us.</a> </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
</template>
<script>
import $ from "jquery";
import {faLock} from '@fortawesome/free-solid-svg-icons'
import {faUser} from '@fortawesome/free-solid-svg-icons'
import {library} from '@fortawesome/fontawesome-svg-core'
import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
import Modal from "./Modal";
import ModalOK from "./ModalOK"
library.add(faLock,faUser)

export default {
  name: "LogIn",
  data: function() {
    return {
      showModal: false,
      showSuccessModal: false,
      showErrorModal: false,
    };
  },
  components: { FontAwesomeIcon,
  modal: Modal,
  modalOK: ModalOK},
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },
  methods: { 
     gotoRegistration() {
          this.$router.push('/register')
    },
    SendPasswordChange() {
      var that=this
        if(this.$refs.usernameChange.value!='')
        {
          var hasSuccess = false;
          $.ajax({
            type: "POST",
            url: this.$APIlink + "password/create",
            dataType: "json",
            async: false,
            data: {
              username: this.$refs.usernameChange.value,
            }
          }).done(function () {
          that.showModal=false;
          that.showSuccessModal=true; })
          .fail(function () {
          that.showErrorModal = true});
          return hasSuccess;   
        } else
        {
          this.$refs.messageinModal.innerText="Please enter a valid email.";
        }
    },
    LogIn() { 
        this.$refs.message.innerText=""
        var that= this
        if(this.$refs.email.value!= '' && this.$refs.password.value!=''){   
          $.ajax({
            type: "POST",
            url: this.$APIlink + "auth/login",
            dataType: "json",
            async: false,
            data: {
              username: this.$refs.email.value,
              password: this.$refs.password.value,
            },
            success: (data, textStatus, jqXHR) => {
              if(textStatus=='success'){
                var role=[]
                var token= data.token;
                $.ajax({url: this.$APIlink + "users/me/roles",  "method": "GET", async: false,
  "timeout": 0, headers: { 'Authorization': `Bearer ${token}`}, success: function(result){
                if(result.is_admin==true)
                  {
                    role.push(4);
                  }
                 if(result.is_org_admin==true)
                  {
                    role.push(3);
                  }
                  if(result.is_trainer==true)
                  {
                    role.push(2);
                  }
                  if(result.is_player==true)
                  {
                    role.push(1);
                  }
                  if(result.is_individual==true)
                  {
                    role.push(0);
                  }
                  
                }}).done (function () {
                  sessionStorage.setItem("role", role);
                  that.$store.dispatch("login", {token: token}).then(() => {
                    that.$router.push("/profile")
                  });
                });
              } else this.$refs.message.innerText=jqXHR.responseJSON.message
            },
            error: (jqXHR ) => {
          this.$refs.message.innerText=jqXHR.responseJSON.message }
          })
    }
    else {
       this.$refs.message.innerText="Please enter both username and password.";
    }
    }
    ,
  },
  mounted: function() {
    var that=this
    document.addEventListener('keypress', function (e) {
    var key = e.which || e.keyCode;
    if (key === 13) { 
      that.LogIn();
    }
});
  }

};
</script>
