<template>
    <transition name="modal">
    
    <div class="modal-mask">
      <div class="modal-wrapper ">
        <div class="column is-10-mobile is-10-tablet is-9-desktop is-8-widescreen" style="margin:auto;">
        <div>
        <div class="modal-container">
          <div style="height:100%;">
          <div class="modal-body" :style="style">
            <slot name="body">

            </slot>
          </div>

          <div class="modal-footer" style="text-align: center;">
            <slot name="footer">
             <button class="button modal-button" :style="styleOK" @click="$emit('close')">
                OK
              </button>
            </slot>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </transition>
</template>
<script>
  export default {
    props: ['status'],
    computed: {
      style () {
        if(this.status=='Success')
        {
          return 'color: #1fa51f; text-align:center; margin-top:40px;';
        }
        else if (this.status=='Warning') {
          return 'color: #F7941D; text-align:center; margin-top:40px;';
        }
        else {
          return 'color: #c4454f; text-align:center; margin-top:40px;';
        }
        
      },
      styleOK () {
         if(this.status=='Success')
        {
          return 'background: #1fa51f; color: white;';
        }
        else if (this.status=='Warning') {
          return 'background: #F7941D;';
        }
        else {
          return 'background: #c4454f;';
        }
        
      }
    },
     
 }
</script>