<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>
    <div class="container is-fluid mobile-padding" v-show="!loading">
      <div class="columns">
        <div class="column">
          <p class="title-p">Profile information</p>
          <br />
          <div class="columns is-multiline">
            <div class="column is-mobile is-full-mobile min-width-300">
              <table class="table custom-table no-pad" style="line-height:1;">
                <tbody>
                  <tr>
                    <th style="text-transform: uppercase;
                      font-weight: 700;
                      letter-spacing: 1px;
                      font-size: 1em;">{{this.name}}</th>
                    <td>
                      <a id="show-modal" @click="showModal = true">
                        <figure class="image is-16x16">
                          <img
                            style="padding: 0;"
                            src="../assets/img/static/edit-icon.png"
                            alt="Placeholder image"
                          />
                        </figure>
                      </a>
                      <modal v-if="showModal" @close="showModal = false" @confirm="updatePorofileInfo()">
                        <div slot="header">
                          <a class="floatr" style="color:black;" @click="showModal = false">x</a>
                        </div>
                        <div slot="body">
                          <form>
                            
                            <p>First name *</p>
                            <input
                              ref="UpdateFirstName"
                              type="text"
                              class="input field"
                              :value="this.fname"
                              required
                            />
                            <p>Last name *</p>
                            <input
                              ref="UpdateLastName"
                              type="text"
                              class="input field"
                              :value="this.lname"
                              required
                            />
                            <!-- <input ref="UpdateAge" type="number" class="input field" :value="this.age" min="0" max="100"/> -->
                            <p>Date of birth</p>
                            <input class="input field" type="date" data-date-format="YYYY MM DD" v-model="dob">
                            <p>Height</p>
                            <input ref="UpdateHeight" type="number" class="input field" :value="this.height" min="0" max="300"/>
                            <p>Weight</p>
                            <input ref="UpdateWeight" type="number" class="input field" :value="this.weight" min="0" max="300"/>
                          <p ref="message" style="color:red;"></p>
                          </form>
                          
                        </div>
                      </modal>
                    </td>
                  </tr>
                  <tr>
                    <th>Age:</th>
                    <td>{{this.age}}</td>
                  </tr>
                  <tr>
                    <th>Height:</th>
                    <td>{{this.height}}</td>
                  </tr>
                  <tr>
                    <th>Weight:</th>
                    <td>{{this.weight}}</td>
                  </tr>
                  <tr>
                    <th>Strength:</th>
                    <td>{{this.strength}}</td>
                  </tr>
                  <tr>
                    <th>Weakness:</th>
                    <td>{{this.weakness}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column is-full-mobile min-width-300" style="padding:30px;">
              <figure class="image centered-picture c is-128x128">
                <a v-on:click="showPictureModal= true">
                  <img
                    class="is-rounded fullimg orange-border"
                    style="margin:auto; "
                    v-bind:src="this.image"
                    onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                  />
                  <div class="middle">
                  <div class="text">Change picture</div>
                </div>
                </a>
                
              </figure>

              <br />
            </div>
            <modal v-if="showPictureModal" @close="showPictureModal = false" @confirm="upload()">
                        <div slot="header">
                          <a class="floatr" style="color:black;" @click="showPictureModal = false">x</a>
                        </div>
                        <div slot="body">
                          <p>Choose an image:</p>
                          <croppa
                            v-model="ImageCroppa"
                            :width="200"
                            :height="200"
                            accept=".jpeg, .png, .jpg"
                            placeholder="Choose an image"
                            :placeholder-font-size="0"
                            :disabled="false"
                            :prevent-white-space="true"
                            :show-remove-button="true"
                          >
                          
                <!-- <img :src="image"
                slot="initial"> -->
              </croppa>
              <p ref="messagePic" style="color:red;"></p>
                        </div>
              </modal>

            <div class="column is-full-mobile min-width-300" >
              <table class="table custom-table no-pad" style="line-height:1;">
                <tbody>
                  <tr>
                    <th
                      style="text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1em;"
                    >Username, Email and password</th>
                  </tr>
                  <tr>
                    <th>{{this.username}}</th>
                    <td>
                      <a v-on:click="showUpdateUsername=true">
                        <figure class="image is-16x16">
                          <img
                            style="padding: 0;"
                            src="../assets/img/static/edit-icon.png"
                            alt="Placeholder image"
                          />
                        </figure>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th>{{this.email}}</th>
                    <td>
                      <a v-on:click="showUpdateEmail=true">
                        <figure class="image is-16x16">
                          <img
                            style="padding: 0;"
                            src="../assets/img/static/edit-icon.png"
                            alt="Placeholder image"
                          />
                        </figure>
                      </a>
                    </td>
                  </tr>
                   <modal v-if="showUpdateEmail" @close="showUpdateEmail = false" @confirm="updateEmail()">
                        <div slot="header">
                          <a class="floatr" style="color:black;" @click="showUpdateEmail = false">x</a>
                        </div>
                        <div slot="body">
                          <p>Current email</p>
                            <input type="text" class="input field" :value="email" disabled/>
                            <p>New email *</p>
                            <input type="text" class="input field" ref="newemail" required/>
                            <p>Confirm new email *</p>
                            <input type="text" class="input field" ref="confirmnewemail" required/>
                            <p ref="messageEmail" style="color:red;"></p>
                        </div>
                    </modal>
                     <modal v-if="showUpdateUsername" @close="showUpdateUsername = false" @confirm="updateUsername()">
                        <div slot="header">
                          <a class="floatr" style="color:black;" @click="showUpdateUsername = false">x</a>
                        </div>
                        <div slot="body">
                          <p>Current username</p>
                            <input type="text" class="input field" :value="username" disabled/>
                            <p>New username *</p>
                            <input type="text" class="input field" ref="newusername" required/>
                            <p ref="messageUsername" style="color:red;"></p>
                        </div>
                    </modal>
                  <tr>
                    <th style="font-weight:bold;">•••••••</th>
                    <td>
                      <a v-on:click="showUpdatePassword=true">
                        <figure class="image is-16x16">
                          <img
                            style="padding: 0;"
                            src="../assets/img/static/edit-icon.png"
                            alt="Placeholder image"
                          />
                        </figure>
                      </a>
                    </td>
                  </tr>
                   <modal v-if="showUpdatePassword" @close="showUpdatePassword = false" @confirm="updatePassword()">
                        <div slot="header">
                          <a class="floatr" style="color:black;" @click="showUpdatePassword = false">x</a>
                        </div>
                        <div slot="body">
                          <!-- <p>Current password *</p>
                            <input type="password" ref="OldPassword" class="input field"/> -->
                            <p>New password *</p>
                            <input type="password" ref="NewPassword" class="input field" />
                            <p>Confirm new password *</p>
                            <input type="password" ref="ConfirmNewPassword" class="input field" />
                             <p ref="messagePassword" style="color:red;"></p>
                        </div>
                    </modal>
                </tbody>
              </table>
              <br />
            </div>
          </div>
          <br />
          <div class="column is-full-mobile" v-if="teams.length>0">
            <p class="custom-p">Teams</p>
            <div class="columns is-multiline">
              <div
                class="column is-6-mobile is-4-tablet is-2-desktop is-2-widescreen"
                v-for="team in teams"
                v-bind:key="team.id"
                style="float:left;"
              >
                <div class="card-image">
                  <figure class="image is-square">
                    <img
                      class="img-ob"
                      style="object-fit: contain;"
                      :src="team.logo_path"
                      onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                    />
                  </figure>
                  <footer class="card-footer">
                    <h4 class="card-footer-item">{{team.name}}</h4>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import $ from "jquery";
import "vue-croppa/dist/vue-croppa.css";
import Croppa from "vue-croppa";
import Modal from "../components/Modal";
export default {
  data: function() {
    return {
      teams: [],
      loading: true,
      name: "",
      age: 0,
      height: 0,
      weight: 0,
      number: 0,
      dob: new Date(),
      strength: '',
      weakness:'',
      image: "",
      email: "",
      username: "",
      ImageCroppa: {},
      fname: "",
      lname: "",
      showModal: false,
      showPictureModal: false,
      showUpdatePassword: false,
      showUpdateUsername: false,
      showUpdateEmail: false,
    };
  },
  components: {
    croppa: Croppa.component,
    modal: Modal
  },

  name: "Profile",

  methods: {
    getTeams() {
      if(!sessionStorage.getItem("role").includes(4)) {
      $.ajax({
        type: "GET",
        url:this.$APIlink + "teams",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          this.teams = [];
          data.data.forEach(p => {
            this.teams.push(p);
          });
        }
      });
      }
    },
    getInfo() {
      $.ajax({
        url:  this.$APIlink +"users/me",
        dataType: "json",
        "method": "GET",
        "timeout": 0, headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          this.teams = [];
          this.name = data.data.first_name + " " + data.data.last_name;
          this.fname = data.data.first_name;
          this.lname = data.data.last_name;
          this.age = data.data.age;
          this.height = data.data.height;
          this.weight = data.data.weight;
          this.number = data.data.id;
          this.dob= data.data.birth_date
          sessionStorage.setItem('number', this.number)
          this.image = data.data.profile_picture_path;
          this.email = data.data.email;
          this.username = data.data.username;
          this.strength= data.data.abilities.details.strongest;
          this.weakness= data.data.abilities.details.weakest;
          this.getTeams();
          this.loading = false;
        }
      });
    },
    updateUsername() {
      if(this.$refs.newusername.value!=''){
          $.ajax({
          type: "PATCH",
          url: this.$APIlink + "users/"+ this.number,
          headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
          dataType: "json",
          data: { username: this.$refs.newusername.value },
          success: (data, textStatus) => {
            if(textStatus == 'success')
            {
            this.showUpdateUsername=false;
            this.getInfo();
            }
            else this.$refs.messageUsername.innerText="Username has been taken."
          },
          error: (jqXHR, textStatus, errorThrown) => { console.log(jqXHR, textStatus, errorThrown)
          this.$refs.messageUsername.innerText="Username has been taken." }
      });
    } else this.$refs.messageUsername.innerText="You need to enter new username.";
      
    },
    updateEmail() {
      if(this.$refs.newemail.value!="" && this.$refs.confirmnewemail.value!=""){
      if(this.$refs.newemail.value==this.$refs.confirmnewemail.value){
       $.ajax({
          type: "PATCH",
          url: this.$APIlink + "users/"+ this.number,
          headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
          dataType: "json",
          data: { email: this.$refs.newemail.value },
          success: (data, textStatus) => {
            if(textStatus == 'success')
            {
            this.showUpdateEmail=false;
            this.getInfo();
            }
          },
          error: () => {
          this.$refs.messageEmail.innerText="This is not a valid email." }
      });
      }
      else this.$refs.messageEmail.innerText="Emails don't match.";
      }
      else this.$refs.messageEmail.innerText="You must enter all fields.";
    },
    updatePassword() {
      if(this.$refs.NewPassword.value!='' && this.$refs.ConfirmNewPassword.value!=''){
        if(this.$refs.NewPassword.value==this.$refs.ConfirmNewPassword.value){
          $.ajax({
          type: "PATCH",
          url: this.$APIlink + "users/"+ this.number,
          headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
          dataType: "json",
          data: { password: this.$refs.NewPassword.value, c_password:this.$refs.ConfirmNewPassword.value },
          success: (data, textStatus) => {
            this.showUpdatePassword=false;
            this.getInfo();
          },
          error: (jqXHR ) => {
          this.$refs.messagePassword.innerText=jqXHR.responseJSON.errors[Object.keys(jqXHR.responseJSON.errors)[0]][0] }
      });
        } else this.$refs.messagePassword.innerText="Passwords don't match.";
      }  else this.$refs.messagePassword.innerText="You must enter all fields.";
    },
    upload() {
      var i = this.ImageCroppa.generateDataUrl();
      if(i !== '')
      {
        $.ajax({
          type: "PATCH",
          url: this.$APIlink + "users/"+ this.number,
          headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
          dataType: "json",
          data: { profile_picture_path: i },
          success: data => {
            this.showPictureModal=false;
            this.getInfo();
          }
      });
      }
      else this.$refs.messagePic.innerText="You need to select a picture.";
    },
     updatePorofileInfo() {
       this.$refs.message.innerText="";
       if(this.$refs.UpdateFirstName.value!='' && this.$refs.UpdateLastName.value!=''){
      //  if(this.dob!=null && this.dob <= new Date(new Date().getFullYear()-3,new Date().getMonth(),new Date().getDay()) ) {
       var d= { first_name: this.$refs.UpdateFirstName.value, last_name: this.$refs.UpdateLastName.value, birth_date: this.dob}
        if( this.$refs.UpdateHeight.value !== '')
        {
          d.height= this.$refs.UpdateHeight.value
        }
        if( this.$refs.UpdateWeight.value !== '')
        {
          d.weight= this.$refs.UpdateWeight.value
        }
        $.ajax({
          type: "PATCH",
          url: this.$APIlink + "users/"+ this.number,
          headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
          dataType: "json",
          data: d,
          success: (data, textStatus) => {
            if(textStatus == 'success')
            {
              this.showModal=false;
              this.getInfo();
            }
          },
          error: (jqXHR) => {
            this.$refs.message.innerText =
              jqXHR.responseJSON.errors[
                Object.keys(jqXHR.responseJSON.errors)[0]
              ][0];
          }
        });
      //  } else this.$refs.message.innerText="You must be at least 3 years old.";
       }
       else {
          this.$refs.message.innerText="You must enter first and last name.";
       }
     },
  },
  mounted: function() {
    this.getInfo();
  }
};
</script>