<template>
<section class="hero is-primary is-fullheight" v-if="!isLoggedIn">
  <div class="hero-body">
    <div  class="container" style="margin-bottom:100px;">
      <div class="columns is-centered">
        
        <div v-if="!success" class="column is-full-mobile is-8-tablet is-7-desktop is-6-widescreen">
          <figure style="width:250px; height:50px; margin:auto;"> 
            <img :src="this.$FullLogo">
          </figure>
          <form  class="box" >
            <div style="text-align:center;">
              <p class="custom-p" style="color: #f6921e; margin-bottom:10px;">Contact us</p>
              <div class="field">
              <label for="" class="label"></label>
              <div class="control has-icons-left">
                <input type="text" placeholder="First name" class="input" ref="first_name" required>
                <span class="icon is-small is-left">
                  <font-awesome-icon :icon="[ 'fa','user']" />
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label"></label>
              <div class="control has-icons-left">
                <input type="text" placeholder="Last name" class="input" ref="last_name" required>
                <span class="icon is-small is-left">
                  <font-awesome-icon :icon="[ 'fa','user']" />
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label"></label>
              <div class="control has-icons-left">
                <input type="email" placeholder="Email" class="input" ref="email" id="emailField"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                <span class="icon is-small is-left">
                  <font-awesome-icon :icon="[ 'fas','envelope']" />
                </span>
              </div>
            </div>
             <div class="field">
              <label for="" class="label"></label>
              <div class="control has-icons-left">
                <input type="text" placeholder="Message" class="input" ref="text" required>
                <span class="icon is-small is-left">
                  <font-awesome-icon :icon="[ 'fa','comment-alt']" />
                </span>
              </div>
            </div>
            </div>
            <p ref="message" style="color:red;"> </p>
            <div class="field" style="margin-top:20px;">
              <button @click.prevent="gotoLogin" type="button" class="button orangebtn">
                Log in
              </button>
              <button @click.prevent="SendRegistrationRequest()" type="button" class="button is-success floatr">
                Send
              </button>
            </div>

          </form>
        </div>
        <div v-if="success" class="column is-full-mobile is-8-tablet is-7-desktop is-6-widescreen box">
           <div class="text-welcome">
          <p>Your request has been sent successfully!</p>
         
          <br>
          <figure class="image is-128x128">
            <img src="https://smartgoalstraining.com/skillgames-api/online-img/thumbsup.gif">
          </figure>
          </div>
          <div class="field" style="margin-top:20px;">
              <button @click.prevent="gotoLogin" type="button" class="button orangebtn">
                Go back
              </button>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
</template>
<script>
import $ from "jquery";
import {faLock} from '@fortawesome/free-solid-svg-icons'
import {faEnvelope} from '@fortawesome/free-solid-svg-icons'
import {library} from '@fortawesome/fontawesome-svg-core'
import {faUser} from '@fortawesome/free-solid-svg-icons'
import {faCommentAlt} from '@fortawesome/free-solid-svg-icons'
import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'
import Modal from "./Modal";
library.add(faLock,faEnvelope, faUser, faCommentAlt)

export default {
  name: "Register",
  data: function() {
    return {
      success: false,
    };
  },
  components: { FontAwesomeIcon,
  modal: Modal,

  },
  computed: {
     
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    }
  },
  methods: { 
     gotoLogin() {
          this.$router.push('/login')
    },
    SendRegistrationRequest() {
        if(this.$refs.first_name.value!='' && this.$refs.last_name.value!='' && this.$refs.email.value!='' && this.$refs.text.value!='')
        {
          if(document.getElementById('emailField').checkValidity()){
          $.ajax({
            type: "POST",
            url: this.$APIlink + "contact",
            dataType: "json",
            data: {
              first_name: this.$refs.first_name.value,
              last_name: this.$refs.last_name.value,
              email: this.$refs.email.value,
              message: this.$refs.text.value,
            },
            success: data => {
            this.success=true;
            }
          }) 
          }
          else this.$refs.message.innerText="Please enter valid email address.";
        } else
        {
          this.$refs.message.innerText="Please fill in all fields.";
        }
    },
  },
  mounted: function() {
  }

};
</script>
