<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>
    <div class="container is-fluid" v-show="!loading">
      <p class="bold title-p">Manage trainers</p>
      <nav class="level">
        <div class="level-left">
          <div class="level-item display-block">
            <h5 class="custom-p" v-if="teams.length>1">Select a team</h5>
            <div v-if="!role.includes(4) && !role.includes(3) && teams.length<4" class="tabs is-toggle">
              <ul id="teams-list">
                <li
                  v-for="team in teams"
                  v-bind:key="team.id"
                  v-on:click="bothMethods(team.id, team.name)"
                  v-bind:class="{ 'is-active': isActive == team.id }"
                >
                  <a>{{team.name}}</a>
                </li>
              </ul>
            </div>
            <multiselect
              v-if="role.includes(4) || role.includes(3) || teams.length>=4"
              v-model="value"
              :allow-empty="false"
              :options="options"
              :show-labels="false"
              :close-on-select="true"
              :multiple="false"
              :clear-on-select="false"
              placeholder="Search a team"
              label="name"
              track-by="id"
              @input="bothMethods(value.id, value.name)"
            ></multiselect>
          </div>
        </div>
        <div v-if="auth.includes(4) || auth.includes(3)" class="level-right">
          <div class="level-item" style="display:block;">
            <div style="display:flex;">
              <p class="custom-p" style="margin: auto;">Add trainer</p>
              <a
                class="button is-primary"
                v-on:click="openCreatePlayer()"
                style="margin-left:5px; width:40px;"
              >
                <font-awesome-icon :icon="[ 'fas','plus']" />
              </a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container is-fluid">
        <div>
        <p class="custom-p">Trainer</p>
        <div class="boxManagePlayers">
          <p v-show="staff.length<1">There are no trainers.</p>
          <div class="columns is-multiline">
            <div
              class="column is-6-mobile is-4-tablet is-2-widescreen hover left-float"
              v-for="(player,i) in staff"
              :key="`${i}-${player.id}`"
            >
              <div class="container">
                <div class="card-image">
                  <figure class="image is-square c shrink-pic">
                    <a
                      v-on:click="showPlayerUpdateModal(player.id, player.first_name, player.last_name,player.height, player.weight, player.profile_picture, player.birth_date)"
                    >
                      <img
                        class="img-ob"
                        style="object-fit: contain;"
                        :src="player.profile_picture_path"
                        onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                      />
                       <div class="middle">
                      <div class="text">Update trainer</div>
                    </div>
                    </a>
                    <modal
                      v-if="showUpdateModal"
                      @close="showUpdateModal = false"
                      @confirm="updatePlayerInfo()"
                    >
                      <div slot="header">
                        <a class="floatr" style="color:black;" @click="showUpdateModal = false">x</a>
                      </div>
                      <div slot="body">
                        <form style="display:block;">
                            <div class="manageBox">
                          <div class="half-width" style="margin-right:auto;">
                          <p>First name *</p>
                          <input
                            type="text"
                            class="input field"
                            maxlength="50"
                            v-model="updateUser.fn"
                          />
                              <p>Last name *</p>
                          <input
                            type="text"
                            class="input field"
                            maxlength="70"
                            v-model="updateUser.ln"
                          />
                          <p>Height</p>
                          <input
                            type="number"
                            max="300"
                            class="input field"
                            v-model="updateUser.height"
                          />
                           <p>Date of birth</p>
                    <input class="input field" type="date" data-date-format="YYYY MM DD" v-model="updateUser.dob">       
                          </div>
                          <div class="half-width">
                         <p>Weight</p>
                          <input
                            type="number"
                            max="300"
                            class="input field"
                            v-model="updateUser.weight"
                          />
                          <p>Profile picture</p>
                          <croppa
                            ref="updateimage"
                            v-model="updateImage"
                            :width="200"
                            :height="200"
                            accept=".jpeg, .png, .jpg"
                            placeholder="Choose an image"
                            :placeholder-font-size="0"
                            :disabled="false"
                            :prevent-white-space="true"
                            :show-remove-button="true"
                          ></croppa>
                          </div>
                            </div>
     
                          <p ref="messageUpdate" style="color:red;"></p>
                        </form>
                      </div>
                    </modal>
                    <modalOK v-if="showErrorModal" @close="showErrorModal = false" status="NotSuccess">
                <div slot="header">
                  <a class="floatr" style="color:black;" @click="showErrorModal = false">x</a>
                </div>
                <div slot="body">
                  <p>Update unsuccessfull, please try again.</p>
                </div>
              </modalOK>

                   
                  </figure>

                  <footer class="card-footer">
                    <h4 class="card-footer-item">{{player.first_name}} {{player.last_name}}</h4>
                  </footer>
                </div>

                <div id="delete" class="delete-btn" v-if="player.id!=curenntPlayer">
                  <a v-on:click="confirmDelete(player.first_name, player.last_name, player.id)">
                    <figure class="image is-square">
                      <img
                        src="https://smartgoalstraining.com/skillgames-api/online-img/trash-red.png"
                        onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                      />
                    </figure>
                  </a>
                </div>
              </div>
              <modal
                v-if="showConfirmModal"
                @close="showConfirmModal = false"
                @confirm="deletePlayer(selected.id)"
              >
                <div slot="header">
                  <a class="floatr" style="color:black;" @click="showConfirmModal = false">x</a>
                </div>
                <div slot="body">
                  <h6
                    style="color:black;"
                  >Are you sure you want to delete trainer {{selected.name}}?</h6>
                </div>
              </modal>
            </div>
          </div>
          </div>
          <modal v-if="showAddModal" @close="showAddModal = false" @confirm="createPlayer()">
            <div slot="header">
              <a class="floatr" style="color:black;" @click="showAddModal = false">x</a>
            </div>
            <div slot="body">
              <form style="display:block;">
                <div class="manageBox">
                <div class="half-width" style="margin-right:auto;">
                <p>First name *</p>
                <input
                  id="firstname"
                  type="text"
                  class="input field"
                  maxlength="50"
                  v-model="createUser.fn"
                />
                <p>Last name *</p>
                <input
                  id="lastname"
                  type="text"
                  class="input field"
                  maxlength="70"
                  v-model="createUser.ln"
                />    
                <p>Username *</p>
                <input
                  type="text"
                  maxlength="50"
                  class="input field"
                  v-model="createUser.username"
                />      
                 <p>Height</p>
                    <input
                      id="height"
                      type="number"
                      min="0"
                      max="300"
                      class="input field"
                      v-model="createUser.height"
                    />
                    <p>Weight</p>
                    <input
                      id="weight"
                      type="number"
                      min="0"
                      max="300"
                      class="input field"
                      v-model="createUser.weight"
                    />
                     <p>Date of birth</p>
                    <input class="input field" type="date" data-date-format="YYYY MM DD" v-model="createUser.dob">       
                </div>
                  <div class="half-width" style="margin-right:auto;">
                  <div>
                                  
                <p>Email *</p>
                <input
                  id="email"
                  type="text"
                  maxlength="100"
                  class="input field"
                  v-model="createUser.email"
                />   
                  <p>Team</p>
                <multiselect
                  v-model="value"
                  :allow-empty="true"
                  :options="teams"
                  :show-labels="false"
                  :multiple="false"
                  :max-height="180"
                  placeholder="Search a team"
                  label="name"
                  track-by="id"
                  disabled
                ></multiselect>
                  </div>                 
                   
                   <p>Profile picture</p>
                <croppa
                  v-model="uploadImage"
                  :width="180"
                  :height="180"
                  accept=".jpeg, .png, .jpg"
                  placeholder="Choose an image"
                  :placeholder-font-size="0"
                  :disabled="false"
                  :prevent-white-space="true"
                  :show-remove-button="true"
                ></croppa>
                                  
                 
                </div>
                </div>
                <p ref="messageCreate" style="color:red;"></p>
              </form>
            </div>
          </modal>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
var players_nr = [];
import $ from "jquery";
import Modal from "../Modal";
import Multiselect from "vue-multiselect";
import ModalOK from "../ModalOK"
import "vue-croppa/dist/vue-croppa.css";
import Croppa from "vue-croppa";
import { faFileUpload } from "@fortawesome/free-solid-svg-icons";
import { faPlus } from "@fortawesome/free-solid-svg-icons";
import { library } from "@fortawesome/fontawesome-svg-core";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
library.add(faFileUpload, faPlus);
export default {
  data: function() {
    return {
      loading: true,
      curenntPlayer: sessionStorage.getItem("id"),
      manages: [],
      auth: sessionStorage.getItem("role"),
      teams: [],
      players: [],
      filter: "",
      isActive: 0,
      selected: {},
      updateImage: {},
      uploadImage: {},
      role: [],
      value: {},
      valueTeams: {},
      options: [],
      orgadmins:[],
      source: [],
      destination: [],
      showAddModal: false,
      showUpdateModal: false,
      showErrorModal: false,
      showConfirmModal: false,
      showImportModal: false,
      showCSVMessageModal: false,
      CSVmessage: '',
      updateUser: {
        fn: "",
        ln: "",
        age: "",
        email: "",
        height: "",
        weight: "",
        dob: ""
      },
      createUser: {},
      staff: [],
      organisations: []
    };
  },
  components: {
    multiselect: Multiselect,
    modal: Modal,
    modalOK: ModalOK,
    croppa: Croppa.component,
    FontAwesomeIcon
  },
  name: "ManageTrainers",
  methods: {
OnSelectPlayer(selectedOption) {
       $.ajax({
        type: "POST",
        url: this.$APIlink + "addTrainerToTeam",
        dataType: "json",
        data: {
          token: sessionStorage.getItem("token"),
          team_id: selectedOption.team_id,
          user_id: this.updateUser.id,
        },
        success: data => {
          if(data.success==1)
          {
            this.$refs.messageAddRemovePlayer[this.$refs.messageAddRemovePlayer.length-1].innerText ="Successfully added trainer to team.";
            this.showUpdateModal=false;
            this.value = { team_id: selectedOption.team_id, team_name: selectedOption.team_name };
            this.bothMethods(selectedOption.team_id, selectedOption.team_name)
          }
          else this.$refs.messageAddRemovePlayer[this.$refs.messageAddRemovePlayer.length-1].innerText =data.message;
        }
      });
    },
      OnRemovePlayer(removedOption){
       $.ajax({
        type: "POST",
        url: this.$APIlink + "removeTrainerToTeam",
        dataType: "json",
        data: {
          token: sessionStorage.getItem("token"),
          team_id: removedOption.team_id,
          user_id: this.updateUser.id,
        },
        success: data => {
           if(data.success==1)
          {
            this.$refs.messageAddRemovePlayer[this.$refs.messageAddRemovePlayer.length-1].innerText ="Successfully removed trainer from team.";
            this.showUpdateModal=false;
            this.value = { team_id: removedOption.team_id, team_name: removedOption.team_name };
            this.bothMethods(removedOption.id, removedOption.team_name)
          }
          else 
          {   
            this.$refs.messageAddRemovePlayer[this.$refs.messageAddRemovePlayer.length-1].innerText =data.message;
          }
        }
      });
    },
    confirmDelete(name, lastname, id) {
      this.showConfirmModal = true;
      this.selected.name = name + " " + lastname;
      this.selected.id = id;
    },
    openCreatePlayer() {
      this.createUser={        
        fn: "",
        ln: "",
        age: "",
        email: "",
        height: "",
        weight: "",
        dob: ""};
      this.valueTeams= this.value;
      this.showAddModal = true;
    },
    goto(num) {
      this.$router.push("/players/achievements/" + num);
    },
    // getTeams() {
    //   this.teams = [];
    //   $.ajax({
    //     type: "GET",
    //     url: this.$APIlink + "organisations/"+sessionStorage.getItem("organisation")+"/teams",
    //     async: false, "timeout": 0, 
    //     headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
    //     success: data => {
    //         this.options = [];
    //         this.isActive = data.data[0].id;
    //         this.filter = this.isActive;
    //       data.data.forEach(team => {
    //         this.teams.push(team);
    //         this.options.push(team);
    //       });
    //         this.value = { id: data.data[0].id, name: data.data[0].name };
    //         this.valueTeams = this.value;
    //         this.setActive(data.data[0].id);
    //       this.loading = false;
    //     }
    //   });
    // },
               getTeams() {
      // if (this.role.includes(4) || this.role.includes(3)) {
        $.ajax({
          type: "GET",
          url:
            this.$APIlink +
            "organisations/" +
            sessionStorage.getItem("organisation") +
            "/teams",
          headers: {
            Authorization: `Bearer ${sessionStorage.getItem("token")}`
          },
          dataType: "json",
          success: data => {
            this.teams = [];
            this.options = [];
            data.data.forEach(p => {
              this.teams.push(p);
              this.options.push(p);
            });
            this.loading = false;
            this.value = {id: data.data[0].id, name: data.data[0].name };
            if(sessionStorage.getItem("team_id") === null)
            {
              sessionStorage.setItem("team_id", JSON.stringify(this.value))
            } 
            else 
            { 
              this.value= JSON.parse(sessionStorage.getItem("team_id"))
            }
            this.setActive(this.value.id, this.value.name);
          }
        });
      // }
    },
    test(teamId) {
      this.filter = teamId;
    },
    setActive(teamId, teamName) {
      this.isActive = teamId;
      sessionStorage.setItem("team_id", JSON.stringify({id: teamId, name: teamName}))
      this.getPlayersByTeamId(teamId);
    },
    bothMethods(teamId, teamName) {
      if (teamId != null) {
        this.setActive(teamId, teamName);
        this.test(teamId);
      }
    },
    getPlayersByTeamId(id) {
      this.staff=[];
      var hasSuccess = false;
      $.ajax({
        type: "GET",
        url:this.$APIlink + "teams/"+id+"/users/trainers",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          data.data.forEach(p => {
            this.staff.push(p)
          });
        }
      });

      return hasSuccess;
    },
    createPlayer() {
      var i = this.uploadImage.generateDataUrl();
      if (
        this.createUser.fn != "" && this.value.id != null &&
        this.createUser.ln != "" && this.createUser.username != "" && this.createUser.email != "") {
        var d = { first_name: this.createUser.fn, last_name: this.createUser.ln, email: this.createUser.email,
        username: this.createUser.username
        }
        if(i!="")
        {
          d.profile_picture_path= i
        }
        if(this.createUser.dob!=null && this.createUser.dob!="")
        {
          d.birth_date=this.createUser.dob
        }
        if(this.createUser.height!="N/A")
        {
          d.height= this.createUser.height
        } else d.height=null
        if(this.createUser.weight!="N/A")
        {
          d.weight= this.createUser.weight
        } else d.weight= null
        $.ajax({
        type: "POST",
        url: this.$APIlink + "teams/"+this.value.id+"/users/trainers",
        dataType: "json",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        data: d,
        success: data => {
            this.showAddModal = false;
            this.bothMethods(this.value.id, this.value.name)
        },
        error:  (jqXHR, textStatus, errorThrown) => { 
          this.$refs.messageCreate.innerText = jqXHR.responseJSON.errors[Object.keys(jqXHR.responseJSON.errors)[0]][0];
        }
      });
      } else {
        this.$refs.messageCreate.innerText =
          "You must enter first name, last name, username and email.";
      }
    },
    deletePlayer(id) {
        $.ajax({
        type: "DELETE",
        url:this.$APIlink + "teams/"+this.value.id+"/users/"+id,
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          this.showConfirmModal = false;
          this.bothMethods(this.value.id, this.value.name)
        }
      })
    },
    showPlayerUpdateModal(
      id,
      fn,
      ln,
      height,
      weight,
      image,
      dob
    ) {
      this.showUpdateModal = true;
      this.updateUser.id = id;
      this.updateUser.fn = fn;
      this.updateUser.ln = ln;
      this.updateUser.height = height;
      this.updateUser.weight = weight;
      this.updateUser.image = image;
      this.updateUser.dob=dob;
    },
    getOrganisations() {
      this.organisations = [];
      $.ajax({
        type: "GET",
        url: this.$APIlink + "organisations",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(org => {
            this.organisations.push(org);
          });
        }
      });
    },
    updatePlayerInfo() {
      var i = this.updateImage.generateDataUrl();
        if (
        this.updateUser.fn != "" &&
        this.updateUser.ln != ""
      ) {
        var d={first_name: this.updateUser.fn, last_name: this.updateUser.ln}
        if(i != "")
        {
          d.profile_picture_path= i
        }
        if(this.updateUser.height != "N/A")
        {
          d.height= this.updateUser.height
        }
        if(this.updateUser.weight != "N/A")
        {
          d.weight= this.updateUser.weight
        } 
        if(this.updateUser.dob != "")
        {
          d.birth_date= this.updateUser.dob
        }
        $.ajax({
        url:  this.$APIlink +"users/"+ this.updateUser.id,
        dataType: "json",
        "method": "PATCH",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        data: d, 
        success: data => {
          this.bothMethods(this.value.id, this.value.name)
          this.showUpdateModal = false;
        },
        error:  (jqXHR) => {
          this.$refs.messageUpdate[this.$refs.messageUpdate.length-1].innerText = jqXHR.responseJSON.errors[Object.keys(jqXHR.responseJSON.errors)[0]][0];
        }
      });
    }
    else {
        this.$refs.messageUpdate[this.$refs.messageUpdate.length-1].innerText =
          "You must enter first name and last name.";
      }

    }
  },
  mounted: function() {
    this.getTeams();
  }
};
</script>