<script>
</script>
<template>
  <section class="section">
    <div class="container is-fluid mobile-padding">
      <p class="bold title-p">Manage Teams</p>
            <nav class="level">
         <!-- <div class="level-left" v-show="organisations.length>1">
          <div class="level-item display-block">
           <h5 class="custom-p">Select an organisation</h5>
            <multiselect
              v-model="org"
              :allow-empty="false"
              :options="organisations"
              :show-labels="false"
              :close-on-select="true"
              :multiple="false"
              :clear-on-select="false"
              placeholder="Search an organisation"
              label="name"
              track-by="id"
              @input="OnSelect(org.id, org.name)"
            ></multiselect>
          </div>
        </div> -->
      </nav>
      <div class="columns is-multiline">
        <div
          class="column is-6-mobile is-4-tablet is-3-desktop is-2-widescreen hover left-float"
          
          v-for="team in teams"
          v-bind:key="team.id"
        >
          <div class="container">
            <div class="card-image">
              <figure class="image is-square c">
                <a
                  v-on:click="showUpdateTeamModal(team.id, team.name, team.image, team.organisation, team.trainers) "
                >
                  <img
                    class="img-ob"
                    style="object-fit: contain;"
                    :src="team.logo_path"
                  />
                  <div class="middle">
                  <div class="text">Update team info</div>
                </div>
                </a>
                <modal v-if="showUpdateModal" @close="close()" @confirm="update()">
                  <div slot="header">
                    <a class="floatr" style="color:black;" @click="close()">x</a>
                  </div>
                  <div slot="body">
                    <h5>Team name *</h5>
                    <input
                      type="text"
                      class="input field"
                      maxlength="150"
                      style="margin-bottom:20px;"
                      v-model="selected.name"
                    />
                    <div class="unify">
                    <div class="half-width">
                    <h5>Trainers *</h5>
                    <p ref="messageAddRemoveTrainer" style="color:orange;"></p>
                <multiselect
                  v-model="selected.trainers"
                  :allow-empty="true"
                  :options="options"
                  :show-labels="false"
                  :close-on-select="true"
                  :multiple="true"
                  :clear-on-select="false"
                  :max-height="300"
                  placeholder="Search a trainer"
                  label="name"
                  track-by="id"
                  @select="OnSelectTrainer"
                  @remove="OnRemoveTrainer"
                  @open="OnOpenTrainer"
                ></multiselect>
                </div>
                <div class="half-width">
                <h5>Players *</h5>
                <p ref="messageAddRemovePlayer" style="color:orange;"></p>
                <multiselect
                  v-model="selected.players"
                  :allow-empty="true"
                  :options="options"
                  :show-labels="false"
                  :close-on-select="true"
                  :multiple="true"
                  :clear-on-select="false"
                  :max-height="300"
                  placeholder="Search a player"
                  label="name"
                  track-by="id"
                  @select="OnSelectPlayer"
                  @open="OnOpenPlayer"
                  @remove="OnRemovePlayer"
                ></multiselect>
                </div>
                    </div>
                    <p>Logo</p>
                    <croppa
                      v-model="updateTeamPic"
                      :width="200"
                      :height="200"
                      accept=".jpeg, .png, .jpg"
                      placeholder="Choose an image"
                      :placeholder-font-size="0"
                      :disabled="false"
                      :prevent-white-space="true"
                      :show-remove-button="true"
                    ></croppa>
                    <p ref="messageUpdate" style="color:red;"></p>
                  </div>
                </modal>

              </figure>

              <footer class="card-footer">
                <h4 class="card-footer-item">{{team.name}}</h4>
              </footer>
            </div>

            <div id="delete" class="delete-btn">
              <a v-on:click="showConfirmDelete(team.id, team.name)">
                <figure class="image is-square">
                  <img
                    src="https://smartgoalstraining.com/skillgames-api/online-img/trash-red.png"
                    onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                  />
                </figure>
              </a>
              <modal
                v-if="showConfirmModal"
                @close="showConfirmModal = false"
                @confirm="deleteTeam(selected.id)"
              >
                <div slot="header">
                  <a class="floatr" style="color:black;" @click="showConfirmModal = false">x</a>
                </div>
                <div slot="body">
                  <h6 style="color:black;">Are you sure, you want to delete team {{selected.name}}?</h6>
                </div>
              </modal>
            </div>
          </div>
        </div>
        <div class="column is-6-mobile is-4-tablet is-3-desktop is-2-widescreen hover">
          <a v-on:click="showAddTeamMod()">
            <div class="card-image">
              <figure class="image is-square">
                <img
                  class="img-ob"
                  style="object-fit: cover;"
                  src="https://smartgoalstraining.com/skillgames-api/online-img/AddTeam.png"
                  onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                />
              </figure>
              <footer class="card-footer">
                <h4 class="card-footer-item">Add team</h4>
              </footer>
            </div>
          </a>
          <modal v-if="showModal" @close="showModal = false" @confirm="addTeam()">
            <div slot="header">
              <a class="floatr" style="color:black;" @click="showModal = false">x</a>
            </div>
            <div slot="body">
              <div>
                <h5>Team name *</h5>
                <input
                v-model="createTeam.name"
                  type="text"
                  class="input field"
                  maxlength="150"
                  style="margin-bottom:20px;"
                />
               <!--  <div v-show="organisations.length>1">
                <p>Organisation *</p>
                <multiselect
                  v-model="org"
                  :allow-empty="false"
                  :options="organisations"
                  :show-labels="false"
                  :close-on-select="true"
                  :multiple="false"
                  :clear-on-select="false"
                  placeholder="Search an organisation"
                  label="name"
                  track-by="id"
                ></multiselect>
                </div> -->
                <p>Logo</p>
                <croppa
                  v-model="addTeamPic"
                  :width="200"
                  :height="200"
                  accept=".jpeg, .png, .jpg"
                  placeholder="Choose an image"
                  :placeholder-font-size="0"
                  :disabled="false"
                  :prevent-white-space="true"
                  :show-remove-button="true"
                ></croppa>
                <p ref="messageCreate" style="color:red;"></p>
              </div>
            </div>
          </modal>
          <modalOK v-if="showSuccessMessage" @close="showSuccessMessage = false" status="Success">
                <div slot="body">
                  <h5>Your team was created.</h5>
                </div>
          </modalOK>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
import "vue-croppa/dist/vue-croppa.css";
import Croppa from "vue-croppa";
import Modal from "../Modal";
import ModalOK from "../ModalOK"
import Multiselect from "vue-multiselect";

export default {
  data: function() {
    return {
      loading: false,
      teams: [],
      addTeamPic: {},
      updateTeamPic: {},
      selected: {},
      showModal: false,
      showUpdateModal: false,
      showConfirmModal: false,
      organisations: [],
      Orgvalue: {},
      org:{},
      options: [],
      createTeam: {},
      filter: '',
      showSuccessMessage: false
    };
  },
  components: {
    croppa: Croppa.component,
    modal: Modal,
    multiselect: Multiselect,
    modalOK: ModalOK
  },
  name: "ManageTeams",
  methods: {
    close() {
      this.getTeamsPerOrg()
      this.showUpdateModal = false    
    },
    getTeamsPerOrg() {
      $.ajax({
        type: "GET",
        url: this.$APIlink + "organisations/"+sessionStorage.getItem("organisation")+"/teams",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          this.teams = [];
          data.data.forEach(team => {
            this.teams.push(team);
          });
        }
      });
    },
    OnOpenTrainer() {
      this.$refs.messageAddRemoveTrainer[this.$refs.messageAddRemoveTrainer.length-1].innerText ="";
    },
    OnOpenPlayer() {
      this.$refs.messageAddRemovePlayer[this.$refs.messageAddRemovePlayer.length-1].innerText ="";
    },
    OnSelectTrainer(selectedOption, id) {
       $.ajax({
        type: "POST",
        url: this.$APIlink + "teams/"+this.selected.id+"/users/"+selectedOption.id,
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        data: {
          is_player: 0,
          is_trainer: 1,
        },
        success: data => {
            this.selected.players= this.getPlayersPerTeam(this.selected.id);
            this.selected.trainers= this.getTrainersPerTeam(this.selected.id);
            this.$refs.messageAddRemoveTrainer[this.$refs.messageAddRemoveTrainer.length-1].innerText ="Successfully added trainer.";
        },
        error: this.$refs.messageAddRemoveTrainer[this.$refs.messageAddRemoveTrainer.length-1].innerText ="Error occured."
      });
    },
    OnRemoveTrainer(removedOption, id){
      $.ajax({
        type: "POST",
        url: this.$APIlink + "teams/"+this.selected.id+"/users/"+removedOption.id,
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        data: {
          is_player: 1,
          is_trainer: 0,
        },
        success: data => {
            this.selected.players= this.getPlayersPerTeam(this.selected.id);
            this.$refs.messageAddRemoveTrainer[this.$refs.messageAddRemoveTrainer.length-1].innerText ="Successfully removed trainer.";
        },
        error: this.$refs.messageAddRemoveTrainer[this.$refs.messageAddRemoveTrainer.length-1].innerText ="Error occured."
      });
    },
    OnSelectPlayer(selectedOption, id) {
       $.ajax({
        type: "POST",
        url: this.$APIlink + "teams/"+this.selected.id+"/users/"+selectedOption.id,
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        data: {
          is_player: 1,
          is_trainer: 0,
        },
        success: data => {
          this.selected.players= this.getPlayersPerTeam(this.selected.id);
          this.selected.trainers= this.getTrainersPerTeam(this.selected.id);
          this.$refs.messageAddRemovePlayer[this.$refs.messageAddRemovePlayer.length-1].innerText ="Successfully added player.";          
        }, 
        error: this.$refs.messageAddRemovePlayer[this.$refs.messageAddRemovePlayer.length-1].innerText ='Error occured'
      });
    },
    OnRemovePlayer(removedOption, id){
      $.ajax({
        type: "DELETE",
        url: this.$APIlink + "teams/"+this.selected.id+"/users/"+removedOption.id,
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        data: {
          is_player: 0,
          is_trainer: 0,
        },
        success: data => {
          this.selected.players= this.getPlayersPerTeam(this.selected.id);
          this.selected.trainers= this.getTrainersPerTeam(this.selected.id);
          this.$refs.messageAddRemovePlayer[this.$refs.messageAddRemovePlayer.length-1].innerText ="Successfully removed player.";          
        }, 
        error: this.$refs.messageAddRemovePlayer[this.$refs.messageAddRemovePlayer.length-1].innerText ='Error occured'
      });
    },
    showConfirmDelete(id, name) {
      this.selected.id = id;
      this.selected.name = name;
      this.showConfirmModal = true;
    },
    getTrainersPerTeam(id) {
      var temp=[]
      $.ajax({
        type: "GET",
        url: this.$APIlink + "teams/"+id+"/users/trainers",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          data.data.forEach(element => {
              temp.push({id: element.id, name: element.first_name + ' '+ element.last_name})
          });
          return temp;
        }
      });
      return temp;
    },
    getPlayersPerTeam(id) {
      var temp=[]
      $.ajax({
        type: "GET",
        url: this.$APIlink + "teams/"+id+"/users/players",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          data.data.forEach(element => {
              temp.push({id: element.id, name: element.first_name + ' '+ element.last_name})
          });
          return temp;
        }
      });
      return temp;
    },
   async showUpdateTeamModal(id, name, image, organisation) {
    this.getPlayers();
      this.showUpdateModal = true;
      var temp= await this.getPlayersPerTeam(id)
      var temp2= await this.getTrainersPerTeam(id)
      this.selected = {
        id: id,
        name: name,
        image: image,
        organisation: organisation,
        trainers: temp2,
        players: temp
      };
    },
    showAddTeamMod() {
      this.createTeam={ name: ""};
      this.showModal = true;
    },
    getTeams() {
      this.teams = [];
      $.ajax({
        type: "GET",
        url: this.$APIlink + "teams",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(team => {
            this.teams.push(team);
          });
        }
      });
    },
    getPlayers() {
      $.ajax({
        type: "GET",
        url: this.$APIlink + "organisations/"+sessionStorage.getItem("organisation")+"/users",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach( player => {
            this.options.push({
              id: player.id,
              name: player.first_name + " " + player.last_name
            });
          })
        }
      });
    },
    addTeam() {
      var i = this.addTeamPic.generateDataUrl();
      if (this.createTeam.name != "" && sessionStorage.getItem("organisation") != null) {
        $.ajax({
          type: "POST",
          url: this.$APIlink + "organisations/"+sessionStorage.getItem("organisation")+"/teams",
          headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
          dataType: "json",
          data: {
              name: this.createTeam.name,
              logo_path: i,
          },
          success: data => {
            this.showSuccessMessage=true;
            this.showModal = false;
            this.getTeamsPerOrg()
            //this.getTeams();
          }
        });
      } else {
        this.$refs.messageCreate.innerText =
          "You must enter team name and organisation.";
      }
    },
    update() {
      var i = this.updateTeamPic.generateDataUrl();
      var d= {}
      if (i!=='') {
        d.name=this.selected.name
        d.logo_path= i
      } else {
        d.name=this.selected.name
      }
      if (this.selected.name != "") {
        $.ajax({
          type: "PATCH",
          url: this.$APIlink + "teams/"+ this.selected.id,
          headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
          dataType: "json",
          data: d,
          success: data => {
            this.showUpdateModal = false;
            this.getTeamsPerOrg()
          }
        });
      } else {
        this.$refs.messageUpdate[
          this.$refs.messageUpdate.length - 1
        ].innerText = "You must enter team name.";
      }
    },
    deleteTeam(id) {
      this.loading = true;
      var hasSuccess = false;
      $.ajax({
        url: this.$APIlink + "teams/"+id,
       "method": "DELETE",
        "timeout": 0, headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},

        success: data => {
          this.showConfirmModal = false;
          this.getTeamsPerOrg()
        }
      });
      return hasSuccess;
    }
  },
  mounted: function() {
    this.getTeamsPerOrg();
  }
};
</script>