<script>
</script>
<template>
  <section class="section">
    <div class="container is-fluid mobile-padding">
      <p class="bold title-p">Manage Organisations</p>
      <div class="columns is-multiline">
        <div
          class="column is-6-mobile is-4-tablet is-3-desktop is-2-widescreen hover"
          
          v-for="organisation in organisations"
          v-bind:key="organisation.id"
          style="float:left;"
        >
          <div class="container">
            <div class="card-image">
              <figure class="image is-square c">
                <a
                 v-on:click="showUpdateOrgModal(organisation.id, organisation.name, organisation.logo_path, organisation.location) "
                >
                  <img
                    class="img-ob"
                    style="object-fit: contain;"
                    :src="organisation.logo_path"
                    onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                  />
                  <div class="middle">
                  <div class="text">Update organisation</div>
                </div>
                </a>
                <modal
                v-if="showUpdateModal"
                @close="showUpdateModal = false"
                @confirm="updateOrganisation()"
              >
                <div slot="header">
                  <a class="floatr" style="color:black;" @click="showUpdateModal = false">x</a>
                </div>
                <div slot="body">
                  <h5>Organisation name *</h5>
                <input
                v-model="selected.name"
                  type="text"
                  class="input field"
                  maxlength="150"
                  style="margin-bottom:20px;"
                />
                <h5>Teams</h5>
                <multiselect
                  :disabled= true
                  v-model="selected.teams"
                  :allow-empty="true"
                  :options="teams"
                  :show-labels="false"
                  :multiple="true"
                  :clear-on-select="false"
                  :max-height="200"
                  placeholder="No teams."
                  label="name"
                  track-by="id"
                ></multiselect>
                  <p>Location</p>
                <input
                v-model="selected.location"
                  type="text"
                  class="input field"
                  maxlength="100"
                  style="margin-bottom:20px;"
                />
                <h5>Logo</h5>
                <croppa
                  v-model="updateOrgPic"
                  :width="200"
                  :height="200"
                  accept=".jpeg, .png, .jpg"
                  placeholder="Choose an image"
                  :placeholder-font-size="0"
                  :disabled="false"
                  :prevent-white-space="true"
                  :show-remove-button="true"
                ></croppa>
                <p ref="messageUpdate" style="color:red;"></p>
                </div>
              </modal>
                
              </figure>

              <footer class="card-footer">
                <h4 class="card-footer-item">{{organisation.name}}</h4>
              </footer>
            </div>

            <div id="delete" class="delete-btn">
              <a v-on:click="showConfirmDelete(organisation.id, organisation.name)">
                <figure class="image is-square">
                  <img
                    src="https://smartgoalstraining.com/skillgames-api/online-img/trash-red.png"
                    onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                  />
                </figure>
              </a>
               <modal
                v-if="showConfirmModal"
                @close="showConfirmModal = false"
                @confirm="deleteOrganisation(selected.id)"
              >
                <div slot="header">
                  <a class="floatr" style="color:black;" @click="showConfirmModal = false">x</a>
                </div>
                <div slot="body">
                  <h6 style="color:black;">Are you sure, you want to delete organisation {{selected.name}}?</h6>
                </div>
              </modal>
            </div>
          </div>
        </div>
        <div class="column is-6-mobile is-4-tablet is-3-desktop is-2-widescreen hover">
          <a v-on:click="showAddOrgMod()">
            <div class="card-image">
              <figure class="image is-square">
                <img
                  class="img-ob"
                  style="object-fit: cover;"
                  src="https://smartgoalstraining.com/skillgames-api/online-img/AddTeam.png"
                  onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                />
              </figure>
              <footer class="card-footer">
                <h4 class="card-footer-item">Add organisation</h4>
              </footer>
            </div>
          </a>
          <modal v-if="showCreateModal" @close="showCreateModal = false" @confirm="addOrganisation()">
            <div slot="header">
              <a class="floatr" style="color:black;" @click="showCreateModal = false">x</a>
            </div>
            <div slot="body">
              <div>
                <h5>Organisation name *</h5>
                <input
                v-model="createOrg.name"
                  type="text"
                  class="input field"
                  maxlength="100"
                  style="margin-bottom:20px;"
                />
                <p>Location *</p>
                <input
                v-model="createOrg.location"
                  type="text"
                  class="input field"
                  maxlength="100"
                  style="margin-bottom:20px;"
                />
                <p>Logo</p>
                <croppa
                  v-model="addOrgPic"
                  :width="200"
                  :height="200"
                  accept=".jpeg, .png, .jpg"
                  placeholder="Choose an image"
                  :placeholder-font-size="0"
                  :disabled="false"
                  :prevent-white-space="true"
                  :show-remove-button="true"
                ></croppa>
                <p ref="messageCreate" style="color:red;"></p>
              </div>
            </div>
          </modal>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
import "vue-croppa/dist/vue-croppa.css";
import Croppa from "vue-croppa";
import Modal from "../Modal";
import Multiselect from "vue-multiselect";
export default {
  data: function() {
    return {
      loading: false,
      selected: {},
      addOrgPic: {},
      organisations: [],
      createOrg: { },
      updateOrgPic: {},
      options: [],
      teams: [],
      showCreateModal: false,
      showConfirmModal: false,
      showUpdateModal: false
    };
  },
  components: {
    croppa: Croppa.component,
    modal: Modal,
    multiselect: Multiselect,
  },
  name: "ManageTeams",
  methods: {
    updateOrganisation() {
      var i = this.updateOrgPic.generateDataUrl()
      var d={}
      if (this.selected.name != "") {
       d= {name: this.selected.name}
       if (i!="") {
        d.logo_path= i
       }
       d.location= this.selected.location
       $.ajax({
        type: "PATCH",
        url: this.$APIlink + "organisations/"+this.selected.id,
        dataType: "json",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        data: d,
        success: data => {
            this.showUpdateModal=false;
            this.getOrganisations();
        }
      })
       } else {
        this.$refs.messageUpdate.innerText =
          "You must enter organisation name."; 
        }
    },
    getTeamsPerOrg(id) {
        var temp=[]
        $.ajax({
        type: "GET",
        url: this.$APIlink + "organisations/"+id+"/teams",
        dataType: "json",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(team => {
            temp.push({id: team.id, name: team.name})
          });
          return temp;
        }
      });
      return temp;
    },
    async showUpdateOrgModal(id, name, image, location) {
      this.showUpdateModal = true;
      var temp= await this.getTeamsPerOrg(id)
      this.selected = {
        id: id,
        name: name,
        image: image,
        location: location,
        teams: temp
      };
    },
    deleteOrganisation(id) {
      this.loading = true;
      var hasSuccess = false;
      $.ajax({
        type: "DELETE",
        url: this.$APIlink + "organisations/"+id,
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          this.showConfirmModal = false;
          this.getOrganisations();
        }
      });
      return hasSuccess;
    },
    showConfirmDelete(id, name) {
      this.selected.id = id;
      this.selected.name = name;
      this.showConfirmModal = true;
    },
    showAddOrgMod() {
      this.createOrg={name: "", location:""};
      this.showCreateModal=true;
    },
    addOrganisation() {
      var i = this.addOrgPic.generateDataUrl();
      if (this.createOrg.name != "" && this.createOrg.location!="") {
        $.ajax({
          type: "POST",
          url: this.$APIlink + "organisations",
          headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
          dataType: "json",
          data: {
            name: this.createOrg.name,
            location: this.createOrg.location,
            logo_path: i
          },
          success: data => {
            this.showCreateModal = false;
            this.getOrganisations();
          }
        });
      } else {
        this.$refs.messageCreate.innerText =
          "You must enter organisation name and location.";
      }
    },
    getOrganisations() {
      this.organisations = [];
      $.ajax({
        type: "GET",
        url: this.$APIlink + "organisations",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(org => {
            this.organisations.push(org);
          });
        }
      });
    },
  },
  mounted: function() {
    this.getOrganisations();
  }
};
</script>