<template>
  <section class="section">
    <div class="loadingscreen" v-if="loading">
      <img
        src="https://d3w3fvc5chouik.cloudfront.net/js-wsbx-common/v3.3.9/images/websitebox-loader.gif"
      />
    </div>
    <div class="container is-fluid mobile-padding" v-show="!loading">
      <p class="bold title-p">Manage users</p>
      <nav class="level" style="margin-bottom:0">
        <div class="level-left">
          <div class="level-item display-block">
          </div>
        </div>
        <div v-if="auth.includes(4)" class="level-right">
          <div class="level-item" style="display:block;">
            <div style="display:flex;">
              <p class="custom-p" style="margin: auto;">Add user</p>
              <a
                class="button is-primary"
                v-on:click="openCreatePlayer()"
                style="margin-left:5px; width:40px;"
              >
                <font-awesome-icon :icon="[ 'fas','plus']" />
              </a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container is-fluid">
        <div style="width:100%; display:inline-grid;">
          <p class="custom-p" style="margin-top:20px;">Unassigned</p>
          <div class="boxManagePlayers">
            <p v-if="unassigned.length<1">No unassigned users.</p>
            <div class="columns is-multiline">
              <div
                class="column is-6-mobile is-4-tablet is-2-widescreen hover left-float"
                v-for="(s,i) in unassigned"
                :key="`${i}-${s.id}`"
              >
                <div class="container">
                  <div class="card-image">
                    <figure class="image is-square c shrink-pic">
                      <a v-on:click="showPlayerUpdateModal(s.id, s.orgAdmin, s.first_name, s.last_name, s.email, s.username)">
                        <img
                          class="img-ob"
                          style="object-fit: contain;"
                          :src="s.profile_picture_path"
                          onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                        />
                        <div class="middle">
                          <div class="text">Update user</div>
                        </div>
                      </a>
                    </figure>
                    <footer class="card-footer">
                      <h4 class="card-footer-item">{{s.first_name}} {{s.last_name}}</h4>
                    </footer>
                  </div>
                  <div id="delete" class="delete-btn" v-if="s.id!=curenntPlayer">
                    <a v-on:click="confirmDelete(s.first_name, s.last_name,  s.id)">
                      <figure class="image is-square">
                        <img
                          src="https://smartgoalstraining.com/skillgames-api/online-img/trash-red.png"
                          onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                        />
                      </figure>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="width:100%; display:inline-grid;">
          <p class="custom-p" style="margin-top:20px;">Players</p>

          <div class="boxManagePlayers">
            <p v-if="players.length<1">No players available.</p>
            <div class="columns is-multiline">
              <div
                class="column is-6-mobile is-4-tablet is-2-widescreen hover left-float"
                v-for="(player,i) in players"
                :key="`${i}-${player.id}`"
              >
                <div class="container">
                  <div class="card-image">
                    <figure class="image is-square c shrink-pic">
                      <a v-on:click="showPlayerUpdateModal(player.id, player.orgAdmin, player.first_name, player.last_name, player.email, player.username)">
                        <img
                          class="img-ob"
                          style="object-fit: contain;"
                          :src="player.profile_picture_path"
                          onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                        />
                        <div class="middle">
                          <div class="text">Update player</div>
                        </div>
                      </a>
                    </figure>

                    <footer class="card-footer">
                      <h4 class="card-footer-item">{{player.first_name}} {{player.last_name}}</h4>
                    </footer>
                  </div>

                  <div id="delete" class="delete-btn" v-if="player.id!=curenntPlayer">
                    <a v-on:click="confirmDelete(player.first_name, player.last_name,  player.id)">
                      <figure class="image is-square">
                        <img
                          src="https://smartgoalstraining.com/skillgames-api/online-img/trash-red.png"
                          onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                        />
                      </figure>
                    </a>
                  </div>
                </div>
                <modal
                  v-if="showConfirmModal"
                  @close="showConfirmModal = false"
                  @confirm="DeletePlayer(selected.id)"
                >
                  <div slot="header">
                    <a class="floatr" style="color:black;" @click="showConfirmModal = false">x</a>
                  </div>
                  <div slot="body">
                    <h6
                      style="color:black;"
                    >Are you sure, you want to delete user {{selected.name}}?</h6>
                  </div>
                </modal>
              </div>
              <div
                v-if="manages.includes(isActive) && !auth.includes(4)"
                class="column is-6-mobile is-4-tablet is-2-widescreen hover left-float"
              >
                <a v-on:click="openCreatePlayer()">
                  <div class="card-image">
                    <figure class="image is-square c shrink-pic">
                      <img
                        class="img-ob"
                        style="object-fit: contain;"
                        src="https://smartgoalstraining.com/skillgames-api/online-img/AddPlayer.png"
                        onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                      />
                    </figure>
                    <footer class="card-footer">
                      <h4 class="card-footer-item">Add player</h4>
                    </footer>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div style="width:100%; display:inline-grid;">
            <p class="custom-p" style="margin-top:20px;">Trainers</p>
            <div class="boxManagePlayers">
              <p v-if="trainers.length<1">No trainers available.</p>
              <div class="columns is-multiline">
                <div
                  class="column is-6-mobile is-4-tablet is-2-widescreen hover left-float"
                  v-for="(s,i) in trainers"
                  :key="`${i}-${s.id}`"
                >
                  <div class="container">
                    <div class="card-image">
                      <figure class="image is-square c shrink-pic">
                        <a v-on:click="showPlayerUpdateModal(s.id, s.orgAdmin, s.first_name, s.last_name, s.email, s.username)">
                          <img
                            class="img-ob"
                            style="object-fit: contain;"
                            :src="s.profile_picture_path"
                            onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                          />
                          <div class="middle">
                            <div class="text">Update trainer</div>
                          </div>
                        </a>
                      </figure>
                      <footer class="card-footer">
                        <h4 class="card-footer-item">{{s.first_name}} {{s.last_name}}</h4>
                      </footer>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="width:100%; display:inline-grid;">
            <p class="custom-p" style="margin-top:20px;">Admins</p>
            <div class="boxManagePlayers">
              <p v-if="admins.length<1">No admins available.</p>
              <div class="columns is-multiline">
                <div
                  class="column is-6-mobile is-4-tablet is-2-widescreen hover left-float"
                  v-for="(s,i) in admins"
                  :key="`${i}-${s.id}`"
                >
                  <div class="container">
                    <div class="card-image">
                      <figure class="image is-square c shrink-pic">
                        <a v-on:click="showPlayerUpdateModal(s.id, s.orgAdmin, s.first_name, s.last_name, s.email, s.username)">
                          <img
                            class="img-ob"
                            style="object-fit: contain;"
                            :src="s.profile_picture_path"
                            onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                          />
                          <div class="middle">
                            <div class="text">Update admin</div>
                          </div>
                        </a>
                      </figure>
                      <footer class="card-footer">
                        <h4 class="card-footer-item">{{s.first_name}} {{s.last_name}}</h4>
                      </footer>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <modal v-if="showAddModal" @close="showAddModal = false" @confirm="CreateUser()">
              <div slot="header">
                <a class="floatr" style="color:black;" @click="showAddModal = false">x</a>
              </div>
              <div slot="body">
                <form style="display:block;">
                  <div class="manageBox">
                    <div class="half-width" style="margin-right:auto;">
                      <p>First name *</p>
                      <input
                        id="firstname"
                        type="text"
                        class="input field"
                        maxlength="50"
                        v-model="createUser.fn"
                      />
                      <p>Prefix</p>
                      <input
                        id="firstname"
                        type="text"
                        class="input field"
                        maxlength="10"
                        v-model="createUser.prefix"
                      />
                      <p>Last name *</p>
                      <input
                        id="lastname"
                        type="text"
                        class="input field"
                        maxlength="70"
                        v-model="createUser.ln"
                      />
                       <p>Date of birth</p>
                        <input class="input field" type="date" data-date-format="YYYY MM DD" v-model="createUser.dob">
                    </div>
                    <div class="half-width" style="margin-right:auto;">
                      <div>
                        <p>Email *</p>
                      <input
                        type="text"
                        maxlength="100"
                        class="input field"
                        v-model="createUser.email"
                      />
                        <p>Username *</p>
                        <input
                        type="text"
                        maxlength="100"
                        class="input field"
                        v-model="createUser.username"
                        />
                      <p>Password *</p>
                      <input
                        type="password"
                        maxlength="100"
                        class="input field"
                        v-model="createUser.password"
                      />
                      <p>Confirm password *</p>
                      <input
                        type="password"
                        maxlength="100"
                        class="input field"
                        v-model="createUser.passwordconfirm"
                      />
                        <label class="checkbox" style="margin-top:30px;">
                          <input
                            type="checkbox"
                            v-model="createUser.orgAdmin"
                            style="margin-right:10px;"
                          />
                          Organisational admin
                        </label>
                      </div>
                    </div>
                  </div>
                  <p ref="messageCreate" style="color:red;"></p>
                </form>
              </div>
            </modal>
            <modal
              v-if="showUpdateModal"
              status="Warning"
              @close="showUpdateModal = false"
              @confirm="updatePlayerInfo(updateUser.id, updateUser.orgAdmin)"
            >
              <div slot="header">
                <a class="floatr" style="color:black;" @click="showUpdateModal = false">x</a>
              </div>
              <div slot="body">
                <form style="display:block;">
                  <div>
                    <div style="display:flex; justify-content: space-between;">
                      <div class="half-width">
                    <p>First name</p>
                      <input
                        type="text"
                        maxlength="100"
                        class="input field"
                        v-model="updateUser.first_name" disabled
                      />
                      </div>
                      <div  class="half-width">
                      <p>Last name</p>
                      <input
                        type="text"
                        maxlength="100"
                        class="input field"
                        v-model="updateUser.last_name" disabled
                      />
                      </div>
                    </div>
                    <div style="display:flex; justify-content: space-between;">
                      <div class="half-width">
                      <p>Email</p>
                      <input
                        type="text"
                        maxlength="100"
                        class="input field"
                        v-model="updateUser.email" disabled
                      />
                      </div>
                      <div class="half-width">
                      <p>Username</p>
                      <input
                        type="text"
                        maxlength="100"
                        class="input field"
                        v-model="updateUser.username" disabled
                      />
                      </div>
                    </div>
                    <p>Organisation: {{updateUser.orgs.name}}</p>
                    <label class="checkbox" style="margin:10px 0;">
                      <input
                        type="checkbox"
                        v-model="updateUser.orgAdmin"
                        style="margin-right:10px;"
                      />
                      Organisational admin
                    </label>
                  </div>
                  <p ref="messageUpdate" style="color:red;"></p>
                </form>
              </div>
            </modal>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import $ from "jquery";
import Modal from "../Modal";
import Multiselect from "vue-multiselect";
import "vue-croppa/dist/vue-croppa.css";
import { faPlus } from "@fortawesome/free-solid-svg-icons";
import { library } from "@fortawesome/fontawesome-svg-core";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

library.add(faPlus);
export default {
  data: function() {
    return {
      loading: true,
      curenntPlayer: sessionStorage.getItem("id"),
      manages: [],
      auth: sessionStorage.getItem("role"),
      teams: [],
      updateUser: {},
      unassigned: [],
      players: [],
      trainers: [],
      admins: [],
      filter: "",
      isActive: 0,
      selected: {},
      role: [],
      createUser: {},
      value: {},
      options: [],
      showAddModal: false,
      showUpdateModal: false,
      showErrorModal: false,
      showConfirmModal: false,
    };
  },
  components: {
    multiselect: Multiselect,
    modal: Modal,
    FontAwesomeIcon
  },
  name: "UsersCard",
  methods: {
    CreateUser() {
       var that= this
      if (
        this.createUser.password != "" &&
        this.createUser.email != "" &&
        this.createUser.username != "" &&
        this.createUser.passwordconfirm != "" &&
        this.createUser.fn != "" &&
        this.createUser.ln != "" &&
        this.createUser.org != null
      ) {
        if (this.createUser.passwordconfirm == this.createUser.password) {
            if(!this.createUser.orgAdmin) {
            $.ajax({
            type: "POST",
            async: false, "timeout": 0,
            dataType: 'json',
            headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
            data: {
              email: this.createUser.email, password: this.createUser.password, c_password: this.createUser.passwordconfirm, 
              first_name: this.createUser.fn, prefix: this.createUser.prefix, last_name: this.createUser.ln,
              birth_date: this.createUser.dob, username: this.createUser.username
            },
            url: this.$APIlink + "organisations/"+sessionStorage.getItem("organisation")+"/users",
            success: data => {
              this.getUsersByOrgId()
              this.showAddModal = false;
            }, 
            error: data => {
              var e= data.responseJSON.errors[Object.keys(data.responseJSON.errors)[0]];
              this.$refs.messageCreate.innerText = e[0]
            }
            
          });
          } else {
            $.ajax({
            type: "POST",
            async: false, "timeout": 0,
            headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
            data: {
              email: this.createUser.email, password: this.createUser.password, c_password: this.createUser.passwordconfirm, 
              first_name: this.createUser.fn, prefix: this.createUser.prefix, last_name: this.createUser.ln,
              birth_date: this.createUser.dob, username: this.createUser.username
            },
            url: this.$APIlink + "organisations/"+sessionStorage.getItem("organisation")+"/users/orgadmins",
            success: data => {
              this.getUsersByOrgId()
              this.showAddModal = false;
            }, 
            error: data => {
              var e= data.responseJSON.errors[Object.keys(data.responseJSON.errors)[0]];
              this.$refs.messageCreate.innerText = e[0]
            }
          });
          }
        } else {
          this.$refs.messageCreate.innerText = "Passwords don't match.";
        }
      } else {
        this.$refs.messageCreate.innerText = "You must enter all fields.";
      }
    },
    updatePlayerInfo(user_id, orgAdmin) {
            $.ajax({
            type: "POST",
            dataType: 'json',
            async: false, "timeout": 0,
            headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
            data: { is_org_admin: orgAdmin ? 1 : 0 },
            url: this.$APIlink + "organisations/"+sessionStorage.getItem("organisation")+"/users/"+user_id,
            success: data => {
              this.getUsersByOrgId()
              this.showUpdateModal = false;
            }, 
            error: data => {

            }
      });
    },
    showPlayerUpdateModal(id, is_org_admin, first_name, last_name, email, username) {
      this.updateUser.id = id;
      this.updateUser.orgs = this.value;
      this.updateUser.orgAdmin = is_org_admin;
      this.updateUser.first_name=first_name;
      this.updateUser.last_name=last_name;
      this.updateUser.email=email;

      this.updateUser.username=username;
// this.updateUser.orgAdmin = is_org_admin ? 1 : 0;
      this.showUpdateModal = true;
    },
    openCreatePlayer() {
      this.createUser = {
        fn: "",
        ln: "",
        age: "",
        email: "",
        password: "",
        org: this.value,
        orgAdmin: ""
      };
      this.showAddModal = true;
    },
    confirmDelete(name, surname, id) {
      this.showConfirmModal = true;
      this.selected.name = name + " " + surname;
      this.selected.id = id;
    },
    setActive(orgId) {
      this.isActive = orgId;
      this.getUsersByOrgId(orgId);
    },
    test(teamId) {
      this.filter = teamId;
    },
    bothMethods(orgId) {
      if (orgId != null) {
        this.setActive(orgId);
        this.test(orgId);
      }
    },
    DeletePlayer(id) {
      // this.loading = true;
      $.ajax({
        type: "DELETE",
        async: false, "timeout": 0,
        dataType: 'json',
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        url: this.$APIlink + "users/"+id,
        success: data => {
          this.getUsersByOrgId()
          this.showConfirmModal = false;
        }, 
        error: function() {
        }
        
      });
    },
    getUsersByOrgId() {
      this.players = [];
      this.admins = [];
      this.trainers = [];
      this.unassigned = [];
      $.ajax({
        type: "GET",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        url: this.$APIlink + "organisations/"+sessionStorage.getItem("organisation")+"/users/orgadmins",
        success: data => {
          data.data.forEach(user => {
            user.orgAdmin=true
            this.admins.push(user);
          });
          
        }
      });
      $.ajax({
        type: "GET",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        url: this.$APIlink + "organisations/"+sessionStorage.getItem("organisation")+"/users/players",
        success: data => {
          data.data.forEach(user => {
            user.orgAdmin=false
            this.players.push(user);
          });
          
        }
      });
      $.ajax({
        type: "GET",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        url: this.$APIlink + "organisations/"+sessionStorage.getItem("organisation")+"/users/unassigned",
        success: data => {
          data.data.forEach(user => {
            user.orgAdmin=false
            this.unassigned.push(user);
          });
          
        }
      });
      $.ajax({
        type: "GET",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        url: this.$APIlink + "organisations/"+sessionStorage.getItem("organisation")+"/users/trainers",
        success: data => {
          data.data.forEach(user => {
            user.orgAdmin=false
            this.trainers.push(user);
          });
        }
      });
      this.loading=false
    }
  },
  mounted: function() {
    this.getUsersByOrgId()
  }
};
</script>