<script>
</script>
<template>
  <section class="section">
    <div class="container is-fluid">
      <p class="bold title-p">Manage Skillgames</p>
      <div class="columns is-multiline">
        <div
          class="column is-half-mobile is-half-tablet is-one-quarter-desktop left-float is-one-fifth-widescreen hover"
          v-for="r in results"
          v-bind:key="r.id"
        >
          <div class="container">
            <div class="card-image">
              <figure class="image c">
                <a
                  :disabled="r.default_skillgame==1"
                  id="show-modal"
                  v-on:click.prevent="r.default_skillgame==0 && showSkillGameChangeModal(r.id, r.title, r.autostart, r.countdown, r.abilities.speed, r.abilities.endurance, r.abilities.passing, r.abilities.agility, r.abilities.reaction, r.abilities.dribbling, r.default_score, r.multiplayer, r.measuring_method, r.description, r.instruction_image_path, r.best_score, r.best_time, r.icon)"
                >
                  <img
                    class="img-ob"
                    style="object-fit: contain; max-height:120px;"
                    :src="r.instruction_image_path"
                    onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                  />
                  <div :hidden="r.default_skillgame==1" class="middle">
                  <div class="text">Update skillgame</div>
                </div>
                </a>
                
                
              </figure>
              <modal
                  v-if="showUpdateModal"
                  @close="showUpdateModal = false"
                  @confirm="updateSkillGame()"
                >
                  <div slot="header">
                    <a class="floatr" style="color:black;" @click="showUpdateModal = false">x</a>
                  </div>
                  <div slot="body">
                    <form>
                      <div class="skillgameBox">
                        <div class="half-width" style="margin-right: auto;">
                          <p>Title</p>
                          <input
                            type="text"
                            class="input field"
                            id="updatetitle"
                            v-model="updateGame.name"
                          />
                              <p>Multiplayer</p>
                              <div class="select full-width">
                                <select class="full-width select-border" id="updatemultiplayer" v-model="updateGame.multiplayer">
                                  <option v-bind:selected="!updateGame.multiplayer">No</option>
                                  <option v-bind:selected="updateGame.multiplayer">Yes</option>
                                </select>
                              </div>
                              <p>Autostart</p>
                              <div class="select full-width">
                                <select class="full-width select-border" id="updateautostart" v-model="updateGame.autostart"> 
                                  <option v-bind:selected="!updateGame.autostart">No</option>
                                  <option v-bind:selected="updateGame.autostart">Yes</option>
                                </select>
                              </div>
                            
                            <div style="display:flex;">
                            <div>
                              <p>Passing %</p>
                              <input
                                type="number"
                                min="0"
                                max="100"
                                class="input field small-field"
                                id="updatepassing"
                                v-model="updateGame.passing"
                              />
                              <p>Endurance %</p>
                              <input
                                type="number"
                                min="0"
                                max="100"
                                class="input field small-field"
                                id="updateendurance"
                                v-model="updateGame.endurance"
                              />
                              <p>Speed %</p>
                              <input
                                type="number"
                                min="0"
                                max="100"
                                class="input field small-field"
                                id="updatespeed"
                                v-model="updateGame.speed"
                              />
                               <p>Best score</p>
                              <input
                                type="number"
                                min="0"
                                max="1000"
                                class="input field small-field"
                                id="updatespeed"
                                v-model="updateGame.best_score"
                              />
                            </div>
                            <div style="margin-left: 30px;">
                              <p>Dribbling %</p>
                              <input
                                type="number"
                                min="0"
                                max="100"
                                class="input field small-field"
                                id="updatedribbling"
                                v-model="updateGame.dribbling"
                              />
                              <p>Agility %</p>
                              <input
                                type="number"
                                min="0"
                                max="100"
                                class="input field small-field"
                                id="updateagility"
                                v-model="updateGame.agility"
                              />
                              <p>Reaction %</p>
                              <input
                                type="number"
                                min="0"
                                max="100"
                                class="input field small-field"
                                id="updatereaction"
                                v-model="updateGame.reaction"
                              />
                              <p>Best time (sec)</p>
                              <input
                                type="number"
                                min="0"
                                max="3600"
                                class="input field small-field"
                                id="updatereaction"
                                v-model="updateGame.best_time"
                              />
                            </div>
                          </div>
                        </div>
                           <div class="half-width">
                             
                          <p>Description</p>
                          <textarea
                            class="input field full-width"
                            style="min-height: 60px;"
                            id="updatedescription"
                            v-model="updateGame.desc"
                          ></textarea>
                              <p>Measuring Method</p>
                              <div class="select full-width">
                                <select class="full-width" id="updatemeasuring" v-model="updateGame.type">
                                  <option v-bind:selected="updateGame.type=='scoreboard'">scoreboard</option>
                                  <option v-bind:selected="updateGame.type=='stopwatch'">stopwatch</option>
                                </select>
                              </div>
                              <p>Countdown</p>
                              <div class="select full-width">
                                <select class="full-width" id="updatecountdown" v-model="updateGame.countdown">
                                  <option v-bind:selected="!updateGame.countdown">No</option>
                                  <option v-bind:selected="updateGame.countdown">Yes</option>
                                </select>
                              </div>
                                <p>Default Score</p>
                          <input
                            type="number"
                            min="0"
                            max="100"
                            class="input field"
                            id="updatedefaultscore"
                            v-model="updateGame.def"
                          />
                          <p>Instruction Picture</p>
                          <croppa
                            v-model="updateSGPic"
                             :width="220"
                             :height="150"
                            accept=".jpeg, .png, .jpg"
                            placeholder="Choose an image"
                            :placeholder-font-size="0"
                            :disabled="false"
                            :prevent-white-space="true"
                            :show-remove-button="true"
                          >
                            <!-- <img crossorigin="anonymous" :src="selected.pic" slot="initial" /> -->
                          </croppa>
                      <!-- <p>Select app icon *</p>
                      <div style="display: flex;">
                      <div v-for="i in icons" v-bind:key="i.id" >
                        <img class="icon-sg" v-bind:style="updateGame.icon.id ==i.id ? 'border: 3px solid #f7941e' : 'border:none'" :src="i.icon_path" :v-model="updateGame.icon">
                      </div>
                      </div> -->
                          <p ref="messageError" style="color:red;"></p>
                        </div>
                      </div>
                    </form>
                  </div>
                </modal>
              <footer class="card-footer">
                <h4 class="card-footer-item">{{r.title}}</h4>
              </footer>
            </div>

            <div :hidden="r.default_skillgame==1" id="delete" class="delete-btn">
              <a v-on:click="showDelete(r.id, r.title)">
                <figure class="image is-square">
                  <img
                    src="https://smartgoalstraining.com/skillgames-api/online-img/trash-red.png"
                    onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                  />
                </figure>
              </a>
            </div>
            <modal
              v-if="showConfirmModal"
              @close="showConfirmModal = false"
              @confirm="deleteSkillGame(deleteGame.id)"
            >
              <div slot="header">
                <a class="floatr" style="color:black;" @click="showConfirmModal = false">x</a>
              </div>
              <div slot="body">
                <h6
                  style="color:black;"
                >Are you sure, you want to delete skill game {{deleteGame.name}}?</h6>
              </div>
            </modal>
          </div>
        </div>
        <div
          class="column is-half-mobile is-half-tablet is-one-quarter-desktop is-one-fifth-widescreen hover"
        >
          <a @click="ShowAddModal()">
            <div class="card-image">
              <figure class="image">
                <img
                  class="img-ob"
                  style="object-fit: fit; max-height:120px;"
                  src="https://smartgoalstraining.com/skillgames-api/online-img/AddSG.png"
                  onerror="this.onerror=null;this.src='https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif';"
                />
              </figure>
              <footer class="card-footer">
                <h4 class="card-footer-item">Add skillgame</h4>
              </footer>
            </div>
          </a>
          <modal v-if="showAddModal" @close="showAddModal = false" @confirm="addSkillGame()">
            <div slot="header">
              <a class="floatr" style="color:black;" @click="showAddModal = false">x</a>
            </div>
            <div slot="body">
              <form>
                <div class="skillgameBox">
                  <div class="half-width" style="margin-right: auto;">
                    <p>Title *</p>
                    <input type="text" class="input field" id="title" v-model="createGame.name" />

                    <p>Multiplayer *</p>
                    <div class="select full-width">
                      <select class="full-width select-border" id="multiplayer">
                        <option>No</option>
                        <option>Yes</option>
                      </select>
                    </div>
                    <p>Autostart *</p>
                    <div class="select full-width">
                      <select class="full-width select-border" id="autostart">
                        <option>No</option>
                        <option>Yes</option>
                      </select>
                    </div>
                    <div style="display:flex;">
                      <div>
                        <p>Passing %</p>
                        <input
                          type="number"
                          min="0"
                          max="100"
                          class="input field small-field"
                          id="passing"
                          v-model="createGame.passing"
                          
                        />
                        <p>Endurance %</p>
                        <input
                          type="number"
                          min="0"
                          max="100"
                          class="input field small-field"
                          id="endurance"
                          v-model="createGame.endurance"
                        />
                        <p>Speed %</p>
                        <input
                          type="number"
                          min="0"
                          max="100"
                          class="input field small-field"
                          id="speed"
                          v-model="createGame.speed"
                        />
                        <p>Best score *</p>
                        <input
                          type="number"
                          min="0"
                          max="1000"
                          class="input field small-field"
                          id="speed"
                          v-model="createGame.best_score"
                        />
                      </div>
                      <div style="margin-left: 30px;">
                        <p>Dribbling %</p>
                        <input
                          type="number"
                          min="0"
                          max="100"
                          class="input field small-field"
                          id="dribbling"
                          v-model="createGame.dribbling"
                        />
                        <p>Agility %</p>
                        <input
                          type="number"
                          min="0"
                          max="100"
                          class="input field small-field"
                          id="agility"
                          v-model="createGame.agility"
                        />
                        <p>Reaction %</p>
                        <input
                          type="number"
                          min="0"
                          max="100"
                          class="input field small-field"
                          id="reaction"
                          v-model="createGame.reaction"
                        />
                        <p>Best time (sec)</p>
                        <input
                          type="number"
                          min="0"
                          max="3000"
                          class="input field small-field"
                          id="reaction"
                          v-model="createGame.best_time"
                        />
                      </div>
                    </div>
                    
                  </div>
                  <div class="half-width">
                    <p>Description *</p>
                    <textarea
                      class="input field full-width"
                      style="min-height: 40px;"
                      id="description"
                      v-model="createGame.desc"
                    ></textarea>
                    <p>Measuring Method *</p>
                    <div class="select full-width">
                      <select class="full-width" id="measuring">
                        <option>scoreboard</option>
                        <option>stopwatch</option>
                      </select>
                    </div>
                    <p>Countdown *</p>
                    <div class="select full-width">
                      <select class="full-width" id="countdown">
                        <option>No</option>
                        <option>Yes</option>
                      </select>
                    </div>

                    <p>Default Score *</p>
                    <input
                      type="number"
                      min="0"
                      max="100"
                      class="input field"
                      v-model="createGame.def"
                    />
                    <p>Instruction Picture </p>
                    <croppa
                      v-model="addSGPic"
                      :width="220"
                      :height="150"
                      accept=".jpeg, .png, .jpg"
                      placeholder="Choose an image"
                      :placeholder-font-size="0"
                      :disabled="false"
                      :prevent-white-space="true"
                      :show-remove-button="true"
                    ></croppa>
                    <div>
                      <p>Select app icon *</p>
                      <div style="display: flex;">
                      <div v-for="i in icons" v-bind:key="i.id">
                        <img class="icon-sg" v-bind:style="selectedIcon==i.id ? 'border: 3px solid #f7941e' : 'border:none'" :src="i.icon_path" v-on:click="selectedIcon=i.id">
                      </div>
                      </div>
                    </div>
                     <p ref="message" style="color:red;"></p>
                  </div>
                </div>
              </form>
            </div>
          </modal>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
var sg = [];
import $ from "jquery";
import "vue-croppa/dist/vue-croppa.css";
import Croppa from "vue-croppa";
import moment from "moment";
import Modal from "../Modal";
import Multiselect from "vue-multiselect";
import { defaultCoreCipherList } from "constants";

export default {
  data: function() {
    return {
      loading: false,
      createGame: {},
      updateGame: {
        name: "",
        def: 0,
        passing: 0,
        endurance: 0,
        agility: 0,
        reaction: 0,
        speed: 0,
        dribbling: 0,
        desc: "",
        best_time: 0,
        best_score: 0
      },
      results: [],
      addSGPic: {},
      addSGIcon: {},
      deleteGame: {},
      updateSGPic: {},
      icon: "",
      selected: {},
      showUpdateModal: false,
      showAddModal: false,
      showConfirmModal: false,
      selectedIcon: "",
      icons: []
    };
  },
  components: {
    croppa: Croppa.component,
    modal: Modal,
    Multiselect
  },
  name: "ManageSkillGames",
  methods: {
    ShowAddModal() {
      this.createGame={
        name: "",
        def: 0,
        passing: 0,
        endurance: 0,
        agility: 0,
        reaction: 0,
        speed: 0,
        dribbling: 0,
        desc: "",
         best_time: 0,
        best_score: 0
      }
      this.showAddModal = true;
    },
     getIcons() {
      $.ajax({
        type: "GET",
        url: this.$APIlink + "icons",
        dataType: "json",
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(i => {
            this.icons.push(i)
          });
        }
      });
    },
    showDelete(id, name) {
      this.showConfirmModal = true;
      this.deleteGame.id = id;
      this.deleteGame.name = name;
    },
    customLabel({ title, desc }) {
      return `${title} – ${desc}`;
    },
    uploadSVG(event) {
      var that = this;
      this.icon = [];
      var files = event.target.files;
      var f = files[0];
      var reader = new FileReader();
      reader.onload = (function(f) {
        return function(e) {
          that.icon = e.target.result;
        };
      })(f);
      var image = reader.readAsDataURL(f);
      this.icon = this.image;
    },
    addSkillGame() {
      var i = this.addSGPic.generateDataUrl();
      if (
        this.createGame.name != "" &&
        this.createGame.desc != ""
      ) {
        $.ajax({
          type: "POST",
          url: this.$APIlink + "skillgames",
          headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
          dataType: "json",
          data: {
            title: this.createGame.name,
            description: this.createGame.desc,
            multiplayer: $("#multiplayer").prop("selectedIndex"),
            autostart: $("#autostart").prop("selectedIndex"),
            countdown: $("#countdown").prop("selectedIndex"),
            default_score: this.createGame.def,
            best_score: this.createGame.best_score,
            worst_score: 1,
            best_time: this.createGame.best_time*1000,
            worst_time: 10000,
            speed: this.createGame.speed,
            endurance: this.createGame.endurance,
            passing: this.createGame.passing,
            dribbling: this.createGame.dribbling,
            agility: this.createGame.agility,
            reaction: this.createGame.reaction,
            measuring_method: $("#measuring").val(),
            icon_id: this.selectedIcon,
            instruction_image_path: i,
            gif_path: ""
          },
          success: data => {
            this.showAddModal = false;
            this.getSkillGames();
          },
          error: (jqXHR ) => {
          this.$refs.message.innerText=jqXHR.responseJSON.errors[
                Object.keys(jqXHR.responseJSON.errors)[0]
              ][0]; }
        });
      } else {
        this.$refs.message.innerText =
          "You must enter title, description and select an icon.";
      }
      
    },
    updateSkillGame() {
      this.$refs.messageError.innerText = "";
      var i = this.updateSGPic.generateDataUrl();
      var mul= (this.updateGame.multiplayer=="No") ? 0 : 1
      var auto=(this.updateGame.autostart=="No") ? 0 : 1
      var count=(this.updateGame.countdown=="No") ? 0 : 1
      if (
        this.updateGame.name != "" &&
        this.updateGame.desc != ""
      ) {
        $.ajax({
          type: "PATCH",
          url: this.$APIlink + "skillgames/"+this.updateGame.id,
          headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
          dataType: "json",
          data: {
            title: this.updateGame.name,
            description: this.updateGame.desc,
            multiplayer: mul,
            autostart: auto,
            countdown: count,
            default_score: this.updateGame.def,
            best_score: this.updateGame.best_score,
            worst_score: 0,
            best_time: this.updateGame.best_time,
            worst_time: 0,
            speed: this.updateGame.speed ,
            endurance: this.updateGame.endurance,
            passing: this.updateGame.passing,
            dribbling: this.updateGame.dribbling,
            agility: this.updateGame.agility,
            reaction: this.updateGame.reaction,
            measuring_method: this.updateGame.type,
            // icon: this.selectedIcon,
            instruction_image_path: i,
          },
          success: data => {
            this.showUpdateModal = false;
            this.getSkillGames();
          }
        });
      } else {
        this.$refs.messageError[this.$refs.messageError.length - 1].innerText =
          "You must enter all fields.";
      }
    },
    getSkillGames() {
      this.results = [];
      $.ajax({
        type: "GET",
        url: this.$APIlink + "skillgames",
        async: false, "timeout": 0, 
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        success: data => {
          data.data.forEach(sg => {
            this.results.push(sg);
          });
        }
      });
    },
    deleteSkillGame(id) {
      this.loading = true;
      var hasSuccess = false;
      $.ajax({
        type: "DELETE",
        url: this.$APIlink + "skillgames/"+id,
        headers: { 'Authorization': `Bearer ${sessionStorage.getItem("token")}`},
        dataType: "json",
        success: data => {
          this.getSkillGames();
          this.showConfirmModal = false;
        }
      });
      return hasSuccess;
    },
    showSkillGameChangeModal(
      id,
      name,
      autostart,
      countdown,
      speed,
      endurance,
      passing,
      agility,
      reaction,
      dribbling,
      def,
      multiplayer,
      type,
      desc,
      pic,
      best_score,
      best_time, 
      icon
      
    ) {
      this.showUpdateModal = true;
      this.updateGame.id = id;
      this.updateGame.name = name;
      this.updateGame.autostart = (autostart==1) ? 'Yes' : 'No';
      this.updateGame.countdown = (countdown==1) ? 'Yes' : 'No';
      this.updateGame.speed = speed;
      this.updateGame.endurance = endurance;
      this.updateGame.passing = passing;
      this.updateGame.endurance = endurance;
      this.updateGame.agility = agility;
      this.updateGame.reaction = reaction;
      this.updateGame.dribbling = dribbling;
      this.updateGame.def = def;
      this.updateGame.multiplayer = (multiplayer==1) ? 'Yes' : 'No';
      this.updateGame.type = type;
      this.updateGame.desc = desc;
      this.updateGame.pic = pic;
      this.updateGame.icon= icon
      this.updateGame.best_score= best_score,
      this.updateGame.best_time= best_time
    }
  },
  mounted: function() {
    this.getIcons();
    this.getSkillGames();

  }
};
</script>