<template>
  <div id="app">
    <Nav v-if="isLoggedIn" to="/login" @refresh="handler"/>
    <div class="columns is-fullheight">
      <div class="column is-narrow is-sidebar-menu is-hidden-mobile" v-if="isLoggedIn" to="/login">
        <side-menu/>
      </div>
      <div class="column is-hidden-widescreen is-hidden-desktop is-hidden-tablet" style="max-width:40px; color:grey;  background-color:#353535; margin-top:40px;" v-if="isLoggedIn">
          <a role="button" class="navbar-burger burger" style="margin:0; width:40px; color:white;" v-on:click="seen = !seen">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>  
      </div>
      <side-menu v-if="seen && isLoggedIn" id="hide" v-on:click.native="seen=!seen" style="font-size:10px; background-color:#353535; overflow:auto;" />
      <div class="column is-main-content" v-if="!seen">
        <router-view :key="componentKey"/>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from '@/components/Navbar/Nav'
import SideMenu from '@/components/Menu/SideMenu'
export default {
  data:function(){
    return {seen: false,
     componentKey: 0,}
        
    },
  name: 'App',
  components: {
    Nav,
    SideMenu
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
      
    }
  },
  methods: {
    handler(value) {
     if(value) {
       this.componentKey += 1
     }
    },
  },
  mounted: function() {
    console.log("Skillgames-version 1.0.9, Development date: 13 August 2020")
  }
}
</script>

<style lang="scss">
   @import './assets/scss/main.scss';
</style>
